@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

// $efuseBlue: #2E87FF;
// $efuseDark: #0F0F0F;
$bodyColor: rgb(29, 31, 39);
$subHeader: rgb(33, 99, 185);

.tournamentLeaderboardContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: $bodyColor;
  overflow: hidden;
  position: relative;
  .bodyContainer {
    position: relative;
    height: 100%;
    background-color: $bodyColor;
    padding: 2em;
    color: $mainHighLight;
    @include media767AndBelow() {
      padding: 10px;
    }
    .backgroundGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      opacity: 0.2;
    }
  }
}

// styling used for DisplayPlayersList and DisplayTeamAccordions
.teamList {
  overflow-y: auto;
  width: 100%;
  height: 305px;
  padding-left: 5px;
  padding-right: 5px;
}
.addMarginBottom {
  margin-bottom: 8px;
}
.teamList::-webkit-scrollbar {
  width: 12px;
}
.teamList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.teamList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(102, 105, 116);
  // background-color: $efuseBlue;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

//used to wrap the DisplayTeamsAccordions
.teamDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
