.headerRow {
  padding-bottom: 10px;
}

.headerText {
  position: absolute;
  width: 121px;
  height: 20px;
  top: 0px;
  bottom: 10px;
  color: #15151a;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
}

.membersText {
  left: 1px;
  color: #15151a;
}

.nameText {
  position: relative;
  width: 500px;
  height: 22px;
  left: 15px;
  top: 15px;
  color: #15151a;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

.removeMemberText {
  right: 1px;
}
