@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/animations" as *;

.dragItemContainer {
  position: relative;
  margin-bottom: 1em;
}
.dragBackground {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  z-index: 11;
  @include dragGlow(8s, infinite, linear, #2e89ffad);
}
.dragButton {
  float: right;
  margin-right: -2.5em;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  color: $alwaysWhite;
  width: 2em;
  height: 2em;
  z-index: 3;
  right: 22px;
  margin-top: 5px;
  border-radius: 5px;
  transition: 150ms;
  &:hover {
    background-color: rgba(0, 0, 0, 0.45);
  }
  @include media767AndBelow() {
    display: none;
  }
}
.dragButtonDragging {
  background-color: rgba(0, 0, 0, 0.45);
}
