@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.addItemContainer {
  background-color: $tagColor;
  color: $mainHighLight;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0em 0.2em 1em 0.2em;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  border-width: 0px;
  .addItem {
    color: $mainHighLight;
    width: auto;
    background-color: inherit;
    border: none;
    .check {
      margin-left: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
