@use "../../styles/_variables" as *;
@use "../../styles/mixins" as *;

.content {
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  height: 100%;

  .header {
    height: 158px;
    position: relative;

    .title {
      position: absolute;
      bottom: 10px;
      left: 20px;
      color: $whiteColor;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 24px;
      text-transform: uppercase;
      font-family: Poppins, sans-serif;
      z-index: 2;
      text-shadow: 2px 2px 8px $darkColor;
    }
    .headerImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
    .gradient {
      width: 100%;

      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 35%,
        rgba(255, 255, 255, 0.1) 50%,
        rgba(0, 0, 0, 0.2) 75%,
        rgba(0, 0, 0, 0.4) 100%
      );
      background-blend-mode: hard-light, normal;
      z-index: 1;
    }
  }
  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px 20px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 20px;
    color: $textBlack;
    margin-bottom: 30px;

    & > div {
      @include clampText(1);
    }

    .lightGrey {
      color: $textLight;
    }
  }
}

.dropdown {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.medium {
  width: 282px;
  height: 269px;
}

.small {
  width: 185px;
  height: 241px;

  .header {
    height: 185px;
  }

  .body {
    font-size: 12px;
    padding: 8px;
    margin-bottom: 0;

    .lightGrey {
      font-weight: normal;
    }
  }
}
