@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.sectionTitle {
  @include resetPaddingMargin();
  @include resetChildrenPaddingMargin();
  color: $mainNavColor;
  padding-bottom: 10px;
  font-weight: 700;
  .sectionSubTitle {
    font-size: 0.75em;
    font-weight: 400;
  }
  .infoTextWrapper {
    display: inline;
    margin-left: 4px;
  }
  @include media767AndBelow() {
    padding-top: 20px;
  }
}
