@use "../../../styles/variables" as *;

.authBtns {
  margin: 1rem 0 0 0;
}

@mixin authBtnStyles() {
  border: none;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
  img {
    margin-right: 5px;
  }
}

.discordAuth {
  @include authBtnStyles();
  background: $discordBtn !important;
  &:disabled {
    background-color: $discordBtn !important;
  }
}
.twitchAuth {
  @include authBtnStyles();
  background: $twitchBtn !important;
  &:disabled {
    background-color: $twitchBtn !important;
  }
}
@media only screen and (max-width: 768px) {
  .authBtns {
    display: none;
  }
}
