@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;

.chipWrapper {
  position: relative;
  .imageWrapper {
    position: absolute;
    top: -3px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.08);

    .image {
      height: 32px;
      width: 24px;
      object-fit: cover;
    }
  }
  .chipTitle {
    padding-left: 20px;
  }
}
