@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.roundedButton {
  border-radius: 25px;
  border: none;
  box-shadow: none;
  padding: 0.5rem 2rem;
  margin-top: 10px;
  background-color: $primary-color;
}
