@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.buttonWrapper {
  position: relative;
  z-index: 3;
}
.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  .selectButtonsContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 80%;
    height: auto;
    border-radius: 5px;
    border: 1px solid $mainHighLight;
    overflow: hidden;
    text-align: center;
    color: $darkColor;
    .button {
      height: 40px;
      line-height: 38px;
      font-weight: 600;
      width: 100%;
      margin: 0px;
      text-transform: uppercase;
      transition: 300ms;
      color: $mainHighLight;
      &:hover {
        cursor: pointer;
        color: $darkColor;
        background-color: $mainHighLight;
      }
    }
    @include media767AndBelow() {
      font-size: 0.9em;
      margin-top: 1em;
      .button {
        line-height: 29px;
        height: 30px;
      }
    }
    .buttonActiveState {
      color: $darkColor;
      background-color: $mainHighLight;
    }
  }
}
