@use "../../../../../../../styles/themevariables" as theme;
@use "../../../../../../../styles/mediaQueries" as *;
.actionButtons {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.8rem;
  .actionButtonsList {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    @include media320AndBelow {
      width: 90%;
    }
    li {
      line-height: 6px;
      display: inline;
      padding: 0 10px;
      min-width: max-content;
      @include media520AndBelow {
        .responsiveText {
          display: none;
        }
      }
      @include media991AndBelow {
        .responsiveText {
          display: none;
        }
      }
    }
  }
}

.hypeCounter {
  font-size: 0.7rem;
  &:hover {
    color: theme.$hypeColor;
  }
  .icon {
    margin-right: 5px;
  }
  &.cursor {
    cursor: pointer;
  }
}

.hyped {
  button {
    color: theme.$hypeColor;
    &:hover {
      color: theme.$hypeColor !important;
    }
  }
}
