.titleText {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #16181a;
  margin-bottom: 0px;
}

.linkText {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #16181a;
  margin-bottom: 0px;
  margin-top: 5px;
}

.supporterContainer {
  margin-top: 25px;
}
