@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.backgroundImage {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(46, 135, 255, 0.7), #0a1324 55%),
    url(https://cdn.efuse.gg/static/images/welcome_splash_background.jpg);
  overflow-y: auto;
}

.textContainer {
  padding: 100px 20px;
  margin-top: 50px;
}

.welcomeText {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: $whiteColor;
  text-transform: uppercase;

  .nameText {
    color: $likeRed;
  }

  @include media991AndBelow {
    font-size: 1.25rem;
  }
}

.eFuseHeaderText {
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  font-size: 4.25rem;
  font-weight: bold;
  text-align: center;
  color: $whiteColor;
  text-transform: uppercase;
  @include media991AndBelow {
    font-size: 2.8rem;
  }
  @include media767AndBelow {
    font-size: 2.2rem;
  }
}

.subheaderText {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 1.125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $efuseBlue;
}

.cardContainer {
  padding: 0 0;
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
