@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.arrowLeft,
.arrowRight {
  position: absolute;
  padding: 0;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translateY(-50%);
  border: 1px solid $borderGrey;
  z-index: 2;
  color: $darkGrey;
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  @include boxShadow();
  &:focus {
    outline: none;
  }
}
.arrowLeft {
  left: -10px;
}
.arrowRight {
  right: -10px;
}
.hide {
  display: none !important;
}
