@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.containerTwo {
  .cardContainer {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 4em;
    .title {
      margin-bottom: 10px;
      b {
        font-size: 24px;
        line-height: 1.08;
      }
    }
    .content {
      .description {
        width: 550px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-size: 14px;
      }
      .img {
        max-width: 730px;
        min-height: 500px;
        width: 100%;
        height: auto;
        object-fit: contain;
        margin-top: 40px;
        border-radius: 14px;
        margin: 0 auto;
        background-size: cover;
        border: solid 1px #dddee8;
        background-repeat: no-repeat;
        background-position: center center;
        @include mediaBetween768And991 {
          min-height: 400px;
        }
        @include media767AndBelow {
          min-height: 350px;
        }
      }
      .bottomInfo {
        border-radius: 0 0 14px 14px;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08);
        border: solid 1px #dddee8;
        background-color: #ffffff;
        margin: 0 auto;
        min-height: 130px;
        z-index: -9999;
        padding: 27px 10px 0px 0px;
        border-top: none;
        max-width: 80%;
        width: 690px;
      }
      .bottomLeft {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      .bottomRight {
        flex: 0.5;
      }
    }
    @include media767AndBelow {
      width: auto;
      .title {
      }
      .content {
        width: 80%;
        margin: 0 auto;
        .description {
          width: auto;
        }
        .bottomInfo {
          width: 90%;
        }
      }
    }
  }
}
