@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.entireWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: -4.5rem;
  margin-top: 60px;
  background-color: $subheaderBackground;
  z-index: 8;
  @include boxShadow();
}

.positionNotUnderNav {
  position: relative;
  margin: 0;
  box-shadow: none;
}

.topContentWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding-top: 8px;
  padding-bottom: 8px;
  .alignTopLeft {
    @include headerMediaQueries();
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .icon {
      color: $primaryColor;
      font-size: 22px;
      margin-right: 10px;
      flex-shrink: 0;
    }
    .title {
      @include resetPaddingMargin();
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.5px;
      color: $textStrong;
    }
    .headerImageWrapper {
      @include verticalFlex();
      margin-right: 10px;
    }
  }
}

.navWrapper {
  width: 100%;
  position: relative;
  min-width: 0;
}

.subheaderContent {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-width: 0;

  .buttonWrapper {
    margin-right: 5px;
    flex-shrink: 0;
  }
}

.alignNavigationCenter {
  justify-content: center;
}

.actionButtons {
  @include verticalFlex();
  flex-shrink: 0;
  padding-left: 10px;
  margin-left: auto;
  .addMarginLeft {
    margin-left: 5px;
  }
}
