@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.filters {
  text-align: center;
  .filterTitle {
    color: $textStrong;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  .filterButton {
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    border: solid 1px $cardBorder;
    border-radius: 10px;
    padding: 8px;
    background-color: $cardBackground;
    color: $textWeak;
    @include boxShadow();
    &:hover {
      font-weight: 600;
      opacity: 0.8;
    }
  }
  .recentFilter {
    .recent {
      margin-left: 6px;
    }
  }
  .active {
    color: $textStrong;
    font-weight: 600;
    .btnText {
      border-left: 3px solid $textStrong;
      padding-left: 10px;
      margin-left: -13px;
    }
  }
}

.createButton {
  color: $alwaysWhite;
  background-color: $primaryColor;
  outline: none !important;
  border: none;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  @include boxShadow();
  .plus {
    margin-left: 6px;
  }
  &:hover {
    cursor: pointer;
    font-weight: 600;
    color: $alwaysWhite;
  }
}

.hideOnMobile {
  @include media991AndBelow() {
    display: none;
  }
}
