@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;

.backgroundImage {
  background-image: url("https://cdn.efuse.gg/uploads/pipeline/header1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  margin: -40px;
  line-height: 300px;
  margin-bottom: -50px;

  .backgroundFade {
    top: 50%;
    width: 100%;
    height: 100%;
    z-index: 5;
    bottom: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0)
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 65%, rgba(255, 255, 255, 1) 100%);
  }

  .logo {
    display: block;
    padding-top: 40px;
    line-height: initial;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
  }

  .subTitle {
    font-size: 12px;
    font-weight: 600;
    color: white;
    line-height: initial;
    padding: 0 25%;
  }

  @include media767AndBelow() {
    margin: -30px;
  }
}
