@use "../../../styles/mixins" as *;
@use "../../../styles/themevariables" as *;

.sectionWrapper {
  margin-top: 20px;
  width: 100%;
  .sectionTitle {
    @include resetPaddingMargin();
    color: $textStrong;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid $cardBorder;
  }
  .contentWrapper {
    margin-top: 10px;
    .checkboxWrapper {
      padding: 0px 10px;
    }
  }
}
