@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

@mixin imageStyle($blur) {
  filter: blur($blur);
  -webkit-filter: blur($blur);
  margin-bottom: 10px;
}

.uploadWrapper {
  height: auto;
  width: 100%;
  padding: 0.75rem 1.25rem;
  text-align: center;
  .progressBar {
    height: 0.8rem;
    background-color: $moneyBox;
    div {
      background-color: $btnLightShade;
      color: $labelColor;
    }
  }
  .imageWrapper {
    position: relative;
    display: inline-block;
    top: 0px;
    @include mediaRemoveBtn();
    .placeholderImage {
      @include imageStyle(5px);
      pointer-events: none;
    }
    .removeBlur {
      @include imageStyle(0px);
    }
    .player {
      outline: none;
    }
    .spinner div {
      margin: auto;
    }
  }
}

.removePadding {
  padding: 0px;
}
