@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.onboardingLayoutContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://cdn.efuse.gg/static/images/welcome_splash_background.jpg);
  display: flex;
  flex-direction: row;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins";
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  li {
    padding: 10px 0;
    font-size: 0.875rem;
  }
  p {
    font-size: 0.875rem;
  }
}

.textFont {
  font-size: 0.8rem;
  line-height: 20px;
}

.leftSideMenyContainer {
  background-color: $whiteColor;
  color: black;
  width: 440px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .sideMenuTextContainer {
    .watermark {
      margin-bottom: 40px;
    }
  }
  .bottomButtonRow {
    display: flex;
    justify-content: space-between;
  }
}

.rightMainContent {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;

  .whiteContainer {
    background: #ffffff;
    border: 1px solid #c7d3ea;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 30px;
    width: 840px;
    margin: 30px auto;

    & > div:not(:last-child) {
      border-bottom: 1px solid #c7d3ea;
    }

    & > div {
      padding-bottom: 30px;
    }
  }
}
