@use "../../../../styles/mixins" as *;

.listGroup {
  & > * {
    padding-left: 20px;
  }
}

.iconContainer {
  width: 30px;
  display: inline-block;
  text-align: center;
}

.transparentBtn {
  @include transparentBtn();
  &:focus {
    outline: none !important;
  }
}
