@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;

.inputLabel {
  font-weight: 600;
  &.external {
    font-size: 1.2rem;
  }
  &.internal {
    font-size: 1rem;
    color: $textStrong;
  }
  &.filter {
    color: $textStrong;
  }
  &.darkColor {
    font-size: 1rem;
    color: $textStrong;
    margin-bottom: 0.3rem !important;
  }
  &.smallText {
    font-size: 12px;
  }
}

.mobileMarginTop {
  @include media991AndBelow() {
    margin-top: 10px;
  }
}

.optionalBadge {
  background-color: #ddd;
  color: rgb(89, 89, 89);
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 0.7rem;
  margin-left: 10px;
}

.requiredAsterisk {
  color: $red;
  margin-left: 5px;
}
