@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;

.mainContainer {
  position: relative;
  width: 298px;
  height: 300px;
  margin: 0 12px 0 0;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.1);
  border: solid 1px #dddee8;
  background-color: #ffffff;

  @include media767AndBelow {
    margin: auto auto 20px;
  }
}
