@use "../../../../../styles/themevariables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.postText {
  padding:  10px 20px 0px 20px;

  color: $textStrong;
  white-space: pre-wrap;
  @include clampText(3);

  .textToFit {
    font-size: 0.875rem !important;
  }
}
