.buttonWrapper {
  height: 40px;
  padding: 10px 10px 0px 10px;
  display: flex;
  gap: 10px;
  width: 100%;

  .cancelButtonWrapper {
    width: 100%;
  }

  .confirmButtonWrapper {
    width: 100%;
    margin-left: auto;
  }
}

.message {
  width: 102%;
  left: 30px;
  top: 30px;
  word-wrap: break-word;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
