@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.playersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.playerContainer {
  @include resetChildrenPaddingMargin();
  padding-top: 10px;
  width: 100%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
  .playerName {
    color: $textWeak;
  }
  .playerScore {
    font-weight: bold;
    color: $textStrong;
  }
  .playerInputField {
    @include inputFieldBorderBottom();
  }
}

.buttonWrapper {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.wrapper {
  height: 400px;
}

.teamScoringWrapper {
  height: 100%;
  margin-top: 1em;

  h5 {
    font-weight: bold;
  }
}

.previous {
  font-size: 0.875rem;
  min-height: 3px;
  max-height: 3px;
  color: $textWeak;
}
