@use "../../styles/mediaQueries" as *;

@mixin absolutePosition($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin widthHeight100 {
  width: 100%;
  height: 100%;
}

.button {
  min-width: 110px;
}

.createContainer {
  width: 100%;
  height: 100vh;
  display: flex;

  .leftContainer {
    @include widthHeight100();
    position: relative;
    flex: 1;

    .leftTextContainer {
      @include absolutePosition(50%, 50%);
      transform: translate(-50%, -50%);
      z-index: 3;

      .leftText {
        text-align: center;
        color: white;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
      }

      .leftSubText {
        padding-top: 8px;
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #ffffff;
      }
    }

    .backgroundImage {
      @include absolutePosition(0, 0);
      @include widthHeight100();
      object-fit: cover;
      z-index: -1;
    }

    .opacityOverlay {
      @include absolutePosition(0, 0);
      @include widthHeight100();
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
      z-index: 2;
    }

    .darkOverlay {
      @include absolutePosition(0, 0);
      @include widthHeight100();
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }

  .rightContainer {
    @include widthHeight100();
    position: relative;
    background-color: white;
    flex: 1.4;

    .rightContentWrapper {
      @include widthHeight100();
      padding: 150px 120px;
      overflow: scroll;
    }

    .rightFooter {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 80px;
      background-color: grey;

      .progressBar {
        height: 10px;
        border-radius: 0px;
      }

      .footerContentWrapper {
        padding: 10px 20px 20px 20px;
        background-color: white;
        width: 100%;
        height: 70px;
        display: Flex;

        .rightButtonWrapper {
          margin-left: auto;
        }
      }
    }
  }

  @include media767AndBelow() {
    display: block;
    position: relative;

    .leftContainer {
      height: 25%;

      .leftTextContainer {
        width: 80%;

        .leftText {
          font-size: 22px;
        }

        .leftSubText {
          font-size: 12px;
        }
      }
    }

    .rightContainer {
      flex: 1;
      height: 75%;

      .rightContentWrapper {
        padding: 20px 20px 100px 20px;
      }
    }
  }
}
