@use "../../../styles/themevariables" as *;

.steps {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  font-weight: 500;
  color: $textWeak;
}

.gameTitle {
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: $textStrong;
  margin: 5px 0 0 0;
}

.eventType {
  font-weight: 600;
  margin: 10px 0 0 0;
  font-size: 0.8rem;
  color: $textStrong;
}

.eventTypeList {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  li {
    margin-bottom: 8px;
  }
}

.inputMargin {
  margin: 20px 0;
}
