@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;
.subtitleTwo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 12px;
  color: $textBlack;
}

.sectionTitle {
  @include resetPaddingMargin();
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 125%;
  color: $textBlack;
}
