@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.badgeContainer {
  display: grid;
  grid-template-columns: 60px auto;
  margin-left: -5px;
  margin-right: -5px;
  .badgeIcon {
    width: 45px;
    height: 45px;
  }
  .badgeTitle {
    font-size: 0.95em;
    font-weight: 660;
    margin-top: -2px;
    text-transform: uppercase;
    color: $textDark;
  }
  .badgeDesc {
    color: $textLight;
    font-size: 0.8em;
    line-height: 13px;
    margin-top: -5px;
  }
}
