@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.leftContainer {
  height: auto;
  width: 100%;
  //old color: $tagColor, #143d6bea
  background-image: linear-gradient(#33568fea, rgba(50, 89, 112, 0.918));
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  position: relative;
  .leftIconBG {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.08;
    mix-blend-mode: multiply;
  }
  .leftBody {
    margin-top: 13vh;
    @include media767AndBelow {
      margin-top: 20px;
    }
    width: 100%;
    .leftTitle {
      color: $whiteColor;
      .logo {
        width: 300px;
        margin-left: -185px;
      }
      .logoText {
        position: absolute;
        display: inline-block;
        height: 50px;
        margin-left: -70px;
        margin-top: 70px;
      }
      .betaText {
        position: absolute;
        display: inline-block;
        margin-left: -68px;
        margin-top: 120px;
        font-weight: 200;
        font-size: 1.2em;
      }
      .tm {
        position: absolute;
        display: inline-block;
        margin-left: 36px;
        margin-top: 92px;
        width: 15px;
        height: 13px;
      }
    }
    .leftTextContainer {
      color: $whiteColor;
      position: relative;
      width: 100%;
      padding: 15%;
      padding-top: 3vh;
      margin-left: 10px;
      text-align: left;

      @include media767AndBelow {
        display: none;
      }
      .socialContainer {
        text-align: center;
        font-size: 1.3em;
        font-weight: 500;
        color: $whiteColor;
        .socialLink {
          .socialIcon {
            width: 35px;
            height: 35px;
            margin-right: 3px;
            margin-left: 3px;
          }
        }
        .official {
          margin-top: 10px;
        }
        .followSocials {
          margin-top: 25px;
          margin-bottom: 10px;
        }
      }
      .textItem {
        display: grid;
        grid-template-columns: 40px 1fr;
        font-size: 1.2em;
        font-weight: 500;
        margin-top: 10px;
        .icon {
          margin-right: 10px;
          font-size: 1.3em;
        }
        .leftText {
          margin-top: -7px;
        }
      }
    }
  }
}

@include media767AndBelow {
  .leftContainer {
    height: auto;
    min-height: 0;
    .leftTitle {
      margin-top: 20%;
    }
    .leftTextContainer {
      padding: 20px;
    }
    .leftBody {
      margin-top: 20px;
      margin-bottom: 20px;
      .leftTitle {
        margin-top: 0;
        .logo {
          width: 250px;
          margin-left: -175px;
        }
        .logoText {
          height: 45px;
          margin-left: -55px;
          margin-top: 50px;
        }
        .betaText {
          margin-left: -55px;
          margin-top: 100px;
        }
      }
    }
  }
}

.institutionLogo {
  .logo {
    width: 300px;
  }
}
