.followingUserList{
  padding: 10px;
  max-height: 60vh;
  overflow-y: scroll;

  & > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    &:nth-child(odd){
      background-color: rgb(240,240,240);
    }
  }


}

.photo{
  display: flex;
}

.photo img{
  border-radius: 100px;
  margin-right: 20px;
  height: 80px;
  width: 80px;
}

.username{
}

.bio{
  max-width: 40%;
}