@use "../../styles/variables" as *;

.formLabel {
  color: $bellColor;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 550;
  font-size: 1.1em;
  margin-top: 10px;
}

.formField {
  height: 45px;
  &:valid {
    background-image: none !important;
    border-color: #ced4da !important;
    &:focus {
      box-shadow: none !important;
    }
  }
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.dark {
  color: $textDark;
}
