@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;

.body {
  font-size: 1rem;
  font-size: 1.2rem;
  color: $darkColor;
  padding: 50px 0;

  @include media991AndBelow() {
    font-size: 1rem;
  }
  img {
    max-width: 100%;
  }
  figure > div {
    min-height: 500px;
  }
  p > a {
    word-break: break-all;
  }
}

.videoWrapper {
  margin: 20px 0px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
