@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;

.infoBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  padding: 15px 0;
  margin-bottom: 30px;

  @include media991AndBelow() {
    display: block;
  }
}

.dark.infoBar {
  border-color: $textDark;
}

.avatar {
  width: 50px;
  height: 50px;
}

.authorDateContainer {
  display: flex;
}

.authorLink {
  font-size: 1rem;
  font-weight: 500;
}

.dateText {
  font-size: 0.9rem;
  font-weight: 300;
}

.rightInfoBarContainer {
  display: flex;
  align-items: center;
  margin-top: 0px;

  & > * {
    margin: 0 5px;
  }

  @include media991AndBelow() {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}

.readTime {
  background-color: #c8e4ff;
  color: black;
  font-weight: 300;
  border-radius: 3px;
  padding: 5px 15px;
  font-size: 1rem;
}
