.container {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }

  .addTeamsButtonWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
}
