@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;

.postTextarea {
  min-height: 180px;
}

.mentionWrapper {
  font-size: 22px;
  z-index: 4;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: 0.75px;
}

.mentionWrapper__highlighter {
  padding: 24px 0 12px 0;
}

.mentionWrapper__input {
  padding: 24px 0 12px 0;
  outline: 0;
  border: 0;
  outline: none;
  font-weight: inherit;
  color: $mainNavColor;

  &::placeholder {
    color: rgba($mainNavColor, 0.6);
  }
}

.mentionWrapper__suggestions {
  letter-spacing: normal;
  line-height: normal;
  position: relative;
  margin-top: 2em !important;
  left: 0px !important;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.mentionWrapper__suggestions__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 14px;
}

.mentionWrapper__suggestions__item {
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  @include clampText(1);

  &:last-child {
    border-bottom: none;
  }
}

.mentionWrapper__suggestions__item--focused {
  background-color: rgba($efuseBlue, 0.2);
}

.mentionedFriend {
  line-height: inherit;
  position: relative;
  z-index: 5;
  color: $efuseBlue;
  text-shadow: 1px 1px 1px white, 1px -1px 1px white, -1px 1px 1px white, -1px -1px 1px white;
  pointer-events: none;
}

.suggestionProfileImg {
  width: 30px;
  height: auto;
  border-radius: 5px;
  margin-right: 8px;
}

.suggestionVerifiedImg {
  width: 16px;
  height: auto;
}
