@use "../../styles/variables" as *;

.info {
  position: relative;
  width: fit-content;

  button {
    white-space: nowrap;
  }

  &.notClickable {
    button {
      cursor: auto;
      pointer-events: none;
    }
  }

  .badge {
    position: absolute;
    top: -12px;
    right: -4px;
  }
}

.removable {
  width: fit-content;

  .contentContainer {
    display: flex;
    align-items: center;
  }

  button {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    padding-left: 6px;

    .icon {
      font-size: 16px;
    }
  }
}
