@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.mainHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include media767AndBelow {
    text-align: center;
    display: unset;
  }
}

.headingSection {
  min-width: 110px;
}

.buttonSection {
  text-align: center;
}

.icon {
  font-size: 24px;
  font-weight: 300;
  color: $locationColor;
}
.heading {
  display: inline-block;
  margin-left: 10px;
}

.dropDown {
  display: inline-block;
  margin-left: 10px;
}

.dropDownBtn {
  font-size: 12px;
  font-weight: bold;
  padding: 9px 15px;
  border-radius: 8px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15) !important;
  border: solid 1px $lightCardBorder !important;
  background-color: $mainHighLight !important;
  color: black !important;
  text-align: left;
  width: 160px;
}

.dropDownBtn::after {
  display: none;
}

.dropDownIcon {
  right: 12px;
  position: absolute;
  top: 13px;
}

.dropDownMenu {
  font-size: 12px;
  font-weight: bold;
}

.addUserBtn {
  border-radius: 8px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15);
  border: solid 1px $lightCardBorder;
  background-image: linear-gradient(to bottom, #00c1ff, #008dff);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: $mainHighLight;
  padding: 9px 25px;
  margin-left: 10px;
  @include media991AndBelow {
    margin: 10px;
  }
}

.searchInput {
  padding: 6px 10px 6px 50px;
  border-radius: 8px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15);
  border: solid 1px $lightCardBorder;
  background-color: $mainHighLight;
}
