@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.carouselSection {
  width: 100%;
  @include mediaBetween1200And1315 {
    width: 1000px;
    margin: 0 auto;
  }
  @include mediaBetween992And1200 {
    width: 800px;
    margin: 0 auto;
  }
  @include mediaBetween768And991 {
    width: 600px;
    margin: 0 auto;
  }
  @include mediaBetween600and767 {
    width: 475px;
    margin: 0 auto;
  }
  @include media600AndBelow {
    margin: 0 auto;
    width: 360px;
  }

  .introSection {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 15px;

    .mainHeader {
      @include mainHeader;
      margin-bottom: 0;
      color: $darkColor;
      text-align: left;
    }

    .basicLink {
      @include basicLink;
      margin-top: 10px;
      margin-bottom: 0;
      color: #737385;
      text-align: left;
      cursor: pointer;
    }
  }

  .carouselContainer {
    width: 100%;
  }

  .contentSection {
    margin-top: 20px;
  }
}

.sectionHeader {
  @include secondaryHeader;
  color: $blackHeaderText;
  margin-bottom: 10px;
}

.opportunitiesWrapper {
  margin-top: 40px;
}
