@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-top: 20px;
  grid-gap: 1em;
  .analyticContainer {
    position: relative;
    background-color: $mainHighLight;
    border-radius: 10px;
    height: 130px;
    border: 1px solid $textLight;
    overflow: hidden;
    transition: 250ms;
    .icon,
    .text {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
    }
    .icon {
      width: 70px;
      margin-left: -70px;
    }
    .text {
      width: 100%;
      display: inline-block;
      margin-left: 42px;
      margin-top: 8px;
      .title,
      .number {
        transition: 250ms;
      }
      .title {
        color: $textDark;
        font-weight: 600;
        font-size: 1.1em;
      }
      .number {
        color: $textLight;
        font-weight: 700;
        font-size: 1.8em;
      }
    }
    &:hover {
      background-color: $blueLowShadow;
      cursor: pointer;
      .text {
        .title,
        .number {
          color: $darkColor !important;
        }
      }
    }
  }
  @include maxMediaQuery(1200px) {
    grid-template-columns: 1fr 1fr;
  }
  @include media991AndBelow() {
    grid-template-columns: 1fr;
  }
}
