@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.dropdown {
  width: 360px;
  height: fit-content;
  border-radius: 0px 0px 20px 20px;
  padding: 10px 15px 10px 15px;
  z-index: 999999;
  @include boxShadowLarge();
  @include media767AndBelow() {
    width: 100vw;
    max-width: 428px;
    margin-right: -15px;
  }

  .onYourMindContainer {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    border-radius: 8px;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15);
    border: solid 1px #4a4d4f;
    background-color: #3b3e40;
    color: $mainHighLight;
    font-size: 12px;
    font-weight: 600;
    padding: 0px 12px;
    transition: 250ms;
    &:hover {
      background-color: #474a4d;
      cursor: pointer;
    }
  }
}

.tokenCountWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postDropdown {
  @extend .dropdown;
  border-radius: 20px;
  -webkit-box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 0px 20px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 0px 20px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 0px 20px -1px rgba(0, 0, 0, 0.3);
  button {
    width: 25px;
    height: 25px;
  }
  [data-text] {
    margin-bottom: 10px;
    [data-name] {
      padding-bottom: 0px !important;
    }
  }
}

.navigationDropdown {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 50px;
}

.postNavigationDropdown {
  @extend .navigationDropdown;
  margin-top: 55px;
}

.dark {
  background-color: $mainNavColor;
}
.light {
  background-color: $mainHighLight;
}
