@use "../../../../styles/mediaQueries" as *;

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
}

.efuseCard {
  margin-right: 12px;
  margin-bottom: 12px;

  @include media767AndBelow {
    margin: auto auto 20px;
  }
}
