@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.formBody {
  border-radius: 14px;
  border: solid 1px #dddee8;
  background-color: #f9f9f9;
  padding: 30px;
  margin: 20px 0;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.label {
  font-size: 0.9rem;
  margin: 0;
  color: #343e4a;
}

.instructions {
  font-size: 11px;
  font-weight: bold;
  color: $tagColor;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.checkboxSection {
  font-size: 12px;
  color: $textLight;
  text-align: left;

  & input {
    margin-right: 10px;
  }
  & a {
    color: $darkColor;
    text-decoration: underline;
  }
  & > * {
    margin-bottom: 10px;
  }
}
