@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.efuseLogo {
  color: $textExtraLight;
  margin-right: 10px;
  height: 18px;

  &:hover {
    cursor: pointer;
    color: $mainNavColor;
    opacity: 0.8;
  }
}
