@use "../../../../../styles/variables" as *;

.actionContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
  .actionBtn {
    color: $textDark;
    border: none;
    font-weight: 600;
    background-color: $mainHighLight;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    transition: 250ms;
    border: 1px solid $lightCardBorder;
    &:hover {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 3px solid $mainNavColor;
    }
    .icon {
      margin-right: 5px;
    }
  }
  .accepted,
  .interested,
  .declined {
    color: $mainHighLight;
  }
  .accepted {
    background-color: $tagColor;
  }
  .interested {
    background-color: rgb(209, 188, 0);
  }
  .declined {
    background-color: rgb(209, 73, 73);
  }
  .active {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid $mainNavColor;
  }
}
