@use "../../../../styles/themevariables" as *;
@use "../../../../styles/variables" as *;

@mixin highlightColor($color) {
  &:hover,
  &:focus,
  &:active:not([disabled]) {
    color: $color;
  }
}

.postButton {
  transition: 200ms;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: $textWeak;
  font-size: 0.75rem;
  outline: none;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover:is([disabled]) {
    color: inherit;
  }

  &:focus {
    outline: none;
    &:not(:hover) {
      color: $textWeak;
    }
  }
}

.blue {
  @include highlightColor($primaryColor)
}

.orange {
  @include highlightColor($hypeColor)
}
