@use "../../styles/variables" as *;

#loaderWrapper {
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: none;
  z-index: 9;
  &.show {
    display: block;
  }
  &.hide {
    display: none;
  }
}
