@use "../../styles/themevariables" as *;

.avatarWrapper {
  position: relative;
  border-radius: 50%;
  display: inline-block;

  .avatar {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;

    .profilePicture {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .asLink {
    transition: 200ms;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }

  .onlineWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 50%;
    background-color: $cardBackground;
  }
}

.primary {
  background: rgb(46, 135, 255);
  background: linear-gradient(90deg, rgba(46, 135, 255, 1) 0%, rgba(0, 181, 255, 1) 100%);
  .avatar {
    background-color: $cardBackground;
  }
}

.lightColor {
  background: rgba(0, 0, 0, 0.1);
  .avatar {
    background-color: $cardBackground;
  }
}

.white {
  background: white;
  .avatar {
    background-color: $cardBackground;
  }
}

.withBorderShadow {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.05), 0 4px 3px -1px rgba(0, 0, 0, 0.15);
}

.navColor {
  background: $navbarBackground;
  .onlineWrapper {
    background: $navbarBackground;
  }
  .avatar {
    background: $navbarBackground;
  }
}

.extraExtraSmall {
  width: 20px;
  height: 20px;
  padding: 1px;
}


.extraSmall {
  width: 40px;
  height: 40px;
  padding: 2px;
  .avatar {
    padding: 2px;
  }
  .onlineWrapper {
    padding: 2px;
    top: 2px;
    right: 2px;
  }
}

.small {
  width: 50px;
  height: 50px;
  padding: 2px;
  .avatar {
    padding: 2px;
  }
  .onlineWrapper {
    padding: 2px;
    top: 1px;
    right: 1px;
  }
}

.medium {
  width: 90px;
  height: 90px;
  padding: 4px;
  .avatar {
    padding: 4px;
  }
  .onlineWrapper {
    padding: 3px;
    top: 4px;
    right: 4px;
  }
}

.large {
  width: 115px;
  height: 115px;
  padding: 4px;
  .avatar {
    padding: 4px;
  }
  .onlineWrapper {
    padding: 4px;
    top: 6px;
    right: 6px;
  }
}

.extraLarge {
  width: 140px;
  height: 140px;
  padding: 5px;
  .avatar {
    padding: 5px;
  }
  .onlineWrapper {
    padding: 5px;
    top: 8px;
    right: 8px;
  }
}
