@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.backgroundImageContainer {
  position: relative;
  flex: 0 1 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-size: cover;
}

.eventChip {
  position: absolute;
  right: 25px;
  top: 26px;
}

.cardHeading {
  font-size: 24px;
  font-weight: 600;
  color: $whiteColor;
  letter-spacing: 0.2px;
}
.contentContainer {
  padding: 20px;
}
.flexBar {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 4px;
}
.cardText {
  font-size: 14px;
  font-weight: 500;
  color: $whiteColor;
  margin-left: 5px;
  letter-spacing: 0.2px;
}
.cardHeaderBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsContainer {
  padding: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.detailsList {
  margin-right: 70px;
}
.listHeading {
  color: $textLight;
  font-size: 14px;
  margin-bottom: 5px;
}
.listSubHeading {
  color: $mediumTextColor;
  font-size: 16px;
}
.organizerMargin {
  margin-left: 10px;
}
.organizerBar {
  display: flex;
  align-items: center;
}

.icon {
  color: $whiteColor;
}

.organizerThumbnail {
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.buttonContainer {
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
  text-align: end;
}
