@use "../../../styles/variables" as *;

.backgroundImageContainer {
  flex: 0 1 200px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-blend-mode: color, normal, normal;
}

.cardTitleSection {
  display: flex;
  align-items: center;
}

.titleAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #2e2e2e;
  margin-right: 8px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  color: $whiteColor;
  opacity: 0.87;
}

.subtitleContainer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.subtitle {
  font-size: 12px;
  color: $whiteColor;
  opacity: 0.87;
  margin-left: 8px;
}

.subtitleIcon {
  font-size: 12px;
  color: $whiteColor;
  opacity: 0.87;
}

.detailsContainer {
  display: flex;
  align-items: center;
  margin-top: 70px;

  .button {
    width: 100%;
    text-align: right;
    margin-right: 30px;
  }
}
