@use "../../../styles/themevariables" as *;

.cardContainer {
  margin: 16px auto;
  color: $textStrong;
  position: relative;
}

.contentContainer {
  padding: 2rem;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  padding-bottom: 5px;
  .buttonWrapper {
    margin-left: auto;
  }
}
