@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../ButtonSizes.module.scss" as *;

.pillButton {
  button {
    border-radius: 34px;
    outline: none;
    padding: 2px 12px;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .iconStyle {
    margin-right: 8px;
    font-size: 14px;
  }
}

//size variables for height
.auto {
  button {
    height: $autoButton;
  }
}

.small {
  button {
    height: $smallButton;
  }
}

.medium {
  button {
    height: $mediumButton;
  }
}

.large {
  button {
    height: $largeButton;
    padding: 10px 18px;
  }
  .iconStyle {
    margin-right: 14px;
    font-size: 18px;
  }
}

.extraLarge {
  button {
    height: $extraLargeButton;
    padding: 10px 18px;
  }
  .iconStyle {
    margin-right: 14px;
    font-size: 18px;
  }
}
