@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.noClipsFoundContainer {
  height: 510px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($mainNavColor, 0.3);

  .middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 1.4rem;
      text-align: center;
    }

    .icon {
      font-size: 45px;
      margin-bottom: 18px;
    }
  }
}
.cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .card {
    margin: 0 5px 56px 5px;
    width: 207px;
    height: 117px;
    .dateSection {
      font-family: Poppins, sans-serif;
      display: flex;
      justify-content: space-between;
      line-height: 18px;
      .title {
        font-size: 12px;
        overflow: hidden;
        width: 60%;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .date {
        font-size: 8px;
        width: 30%;
      }
    }
    &.disabled {
      opacity: 0.2;
    }
  }
  .button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .pagination {
      display: flex;
      justify-content: space-evenly;
      width: 20%;
      .icon {
        cursor: pointer;
      }
    }
  }
}
