@use "../../styles/themevariables" as *;

.postBadgeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  font-weight: bold;
  width: fit-content;
  color: $alwaysWhite;
  padding: 2px 6px;
  min-width: 30px;
  .clipPath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: clip-path 400ms;
    animation: wave 4s ease-in-out;
    animation-iteration-count: infinite;
  }
  .icon {
    margin-right: 3px;
  }
}

.small {
  height: 14px;
  font-size: 8px;
  .icon {
    font-size: 9px;
  }
}

.large {
  height: 19px;
  font-size: 10px;
  .icon {
    font-size: 12px;
  }
}

.grey {
  background-color: #8d8f98;
}

.purple {
  background-color: $streakColor;
}

@mixin basePolygon {
  clip-path: polygon(
    0 40%,
    3% 36%,
    6% 33%,
    9% 30%,
    12% 28%,
    15% 27%,
    20% 26%,
    24% 27%,
    29% 29%,
    33% 31%,
    37% 34%,
    40% 36%,
    43% 39%,
    47% 41%,
    50% 43%,
    55% 45%,
    60% 47%,
    63% 48%,
    66% 49%,
    71% 50%,
    76% 50%,
    80% 49%,
    85% 47%,
    90% 44%,
    94% 41%,
    98% 38%,
    100% 35%,
    100% 0,
    0 0
  );
}

@mixin middlePolygon {
  clip-path: polygon(
    0 36%,
    3% 40%,
    5% 41%,
    8% 43%,
    10% 45%,
    13% 46%,
    16% 48%,
    24% 49%,
    27% 47%,
    33% 44%,
    37% 41%,
    41% 39%,
    44% 37%,
    49% 33%,
    53% 30%,
    57% 29%,
    62% 29%,
    66% 30%,
    70% 31%,
    74% 33%,
    77% 36%,
    80% 39%,
    84% 41%,
    87% 44%,
    91% 46%,
    95% 47%,
    99% 46%,
    100% 0,
    0 0
  );
}

@keyframes wave {
  0% {
    @include basePolygon();
  }
  50% {
    @include middlePolygon();
  }
  100% {
    @include basePolygon();
  }
}
