@use "../../../../styles/mediaQueries" as *;

.featuredStreamSection {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  @include media767AndBelow {
    margin-bottom: 0;
  }
  .featuredVideoSection {
    margin-top: 50px;
    max-width: 712px;
    padding: 0px !important;

    @include media767AndBelow {
      width: 90%;
      margin: auto;
      margin-top: 50px;
    }

    .featuredVideo {
      height: 100%;
      margin: 0 auto;
    }

    .videoDetailBar {
      background: #fff;
      height: 90px;
      border-radius: 0px 0px 10px 10px;
      box-shadow: 0 6px 6px 0 rgb(0 0 0 / 10%);
      border: solid 1px #dddee8;
    }
  }

  .featuredSidebar {
    margin-top: 50px;
    padding: 0px !important;
    margin-left: 7px;
    @include media767AndBelow() {
      width: 90%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}
