@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.leaderboardBoxHeader {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2em;
  color: $mainNavColor;
  font-weight: bold;
  padding-bottom: 12px;
  .icon {
    margin-right: 10px;
    font-size: 1.3em;
  }
  .subtext {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    color: $textDark;
    &:hover {
      cursor: pointer;
    }
  }
  .purpleBolt {
    color: $boltColor;
  }

  .blackIcon {
    color: $mainNavColor;
  }

  .blueList {
    color: $leaderboardBlue;
  }
}
