@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.container {
  text-align: center;
  width: 100%;
  margin: 16px auto;
  .addContainer,
  .item {
    &:focus {
      outline: none;
    }
  }
  .addContainer {
    color: $darkColor;
    background-color: $mainHighLight;
    border-radius: 10px;
    height: 251px;
    margin: auto;
    padding-top: 80px;
    position: relative;
    @include boxShadow();
    .film {
      z-index: 2;
      color: rgba(0, 0, 0, 0.08);
      font-size: 11em;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .plus {
      position: relative;
      transition: 150ms;
      z-index: 3;
      font-weight: 600;
      .icon {
        margin-right: 5px;
      }
    }
    &:hover {
      cursor: pointer;
      .plus {
        font-size: 1.1em;
      }
    }
  }
  .item {
    border-radius: 10px;
    width: 95% !important;
    overflow: hidden;
    background-color: $mainHighLight;
    position: relative;
    border: 1px solid $lightCardBorder;
    @include boxShadow();
    .title {
      min-height: 50px;
      margin: 0px;
      padding: 5px 10px 5px 10px;
      color: $darkColor;
      font-size: 0.9em;
      text-align: left;
      word-wrap: break-word;
      @include clampText(2);
    }
    .trash {
      color: $removeIcon;
      position: absolute;
      top: 10px;
      right: 16px;
      z-index: 3;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @include media767AndBelow() {
    width: 100%;
  }
}
