@use "../../styles/themevariables" as *;

.checkboxContainer {
  display: inline-block;
  vertical-align: middle;
}

@mixin bothBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  transition: all 150ms;
  &:hover {
    cursor: pointer;
  }
}

.checked {
  background: $primaryColor;
  border: 3px solid transparent;
  box-shadow: 0 0 6px rgba(46, 135, 255, 0.6);
  @include bothBoxes();
  .checkmark {
    fill: none;
    stroke: $alwaysBlack;
    stroke-width: 3px;
  }
}
.unchecked {
  background: $alwaysWhite;
  border: 3px solid $alwaysBlack;
  @include bothBoxes();
  .checkmark {
    visibility: hidden;
  }
}
