@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.progressBar {
  height: 2px;
  border-radius: 50px;

  margin-top: 9px;
  margin-right: 18px;

  width: 100%;
  display: flex;
}

.itemWrapper {
  width: 100%;
  display: flex;
  font-size: 1.125rem;
  position: relative;

  margin-bottom: 25px;

  .completed {
    color: $recruitBlue;
    transform: translateX(-50%);
  }
  .inProgress {
    color: $efuseOrange;
    transform: translateX(-50%);
  }
  .needsCompleted {
    color: $grey;
    transform: translateX(-50%);
  }
  .stepText {
    position: absolute;
    top: 110%;

    font-size: 0.875rem;
    font-family: Poppins;

    transform: translateX(-50%);

    &:last-child {
      width: 200px;
      text-align: center;
    }
  }

  &:last-child {
    width: 0;
  }
}

.alignItems {
  @include verticalFlex();

  padding: 0 100px;
}
