@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../ButtonSizes.module.scss" as *;

.circleButton {
  display: inline-block;
  button {
    border-radius: 50%;
    font-weight: bold;
  }
  .iconStyle {
    font-size: 0.85em;
  }
}

.circleButton [disabled] {
  pointer-events: none;
}

.extraSmall {
  button {
    height: $extraSmallButton;
    width: $extraSmallButton;
  }
  .iconStyle {
    font-size: 0.55em;
  }
}

.small {
  button {
    height: $smallButton;
    width: $smallButton;
  }
  .iconStyle {
    font-size: 0.65em;
  }
}

.medium {
  button {
    height: $mediumButton;
    width: $mediumButton;
  }
}

.large {
  font-size: 18px;
  button {
    height: $largeButton;
    width: $largeButton;
  }
}

.extraLarge {
  font-size: 20px;
  button {
    height: $largeButton;
    width: $largeButton;
  }
}


.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .text {
    margin: 0;
    padding-top: 2px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 14px;
    color: #0a0c12;
    text-shadow: none;
  }
}
