@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.aboutCardContainer {
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  color: $textStrong;
  position: relative;
}

.aboutContainer {
  padding: 2rem;
}

.header {
  font-weight: bold;
}
