@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.videoContainer {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100%;
  @include media1024AndBelow {
    grid-template-columns: 1fr;
    .videoPlayer {
      margin-left: -10px !important;
      margin-right: -10px !important;
    }
    .videoTextContainer {
      margin-top: 20px;
    }
  }
  .videoPlayer {
    z-index: 1;
  }
  .videoTextContainer {
    text-align: center;
    .videoTextTitle {
      font-size: 1.1em;
      font-weight: 650;
      color: $textDark;
      text-transform: uppercase;
    }
    .videoTextSubtitle {
      font-size: 1em;
      color: $tagColor;
    }
    .videoTextDescription {
      font-size: 0.9em;
      max-width: 90%;
      font-weight: 600;
      margin: auto;
      color: $textLight;
    }
  }
}
