@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.checkboxCard {
  border-radius: 10px;

  overflow: hidden;
  background-size: cover !important;
  background-position: center !important;
  position: relative;

  &:hover {
    border: 1px solid $brandeisBlue;
    filter: drop-shadow(0px 6px 15px rgba(0, 108, 250, 0.5)) drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.15));
  }

  cursor: pointer;
}

.checkbox {
  position: absolute;
  padding: 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.iconWrapper {
  background: $brandeisBlue;
  border-radius: 50%;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.icon {
  font-size: 1rem;
  color: $text-color;
}

.label {
  font-weight: 600;
  font-size: 16px;
  color: $text-color;
  margin: 0px;
  margin-top: 10px;
}

.gameImage {
  transition: 200ms;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.disabled {
  opacity: 0.5;
}

.selected {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.small {
  width: 116px;
  height: 154px;

  @include media991AndBelow() {
    width: 90px;
    height: 120px;
    .iconWrapper {
      padding: 2px 8px;
    }
    .icon {
      font-size: 0.75rem;
    }
    .label {
      font-size: 12px;
    }
  }

  @include media520AndBelow() {
    width: 60px;
    height: 80px;
  }
}

.medium {
  width: 143px;
  height: 200px;
}
