@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.cardContainer {
  position: relative;
  width: 248px;
  height: 155px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px -2px rgba(0, 0, 0, 0.1), 2px 9px 7px -2px rgba(0, 0, 0, 0.15);
  background-color: $cardBackground;
  &:hover {
    cursor: pointer;
  }
  .backgroundImageContainer {
    width: 248px;
    height: 155px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  @include maxMediaQuery(1200px) {
    width: 208px;
    height: 130px;
    .backgroundImageContainer {
      width: 208px;
      height: 130px;
    }
  }
  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms;
    &:hover {
      transform: scale(1.05);
    }
  }
  .userContainer {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: -20px;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%);
    border: 3px solid $cardHighlight;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 9px 7px -2px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    background-color: $cardHighlight;
    .userImage {
      width: 100%;
      height: 100%;
      transition: 150ms;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
}
