@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.backgroundShadow {
  @include boxShadow();
}

.roundedCorners {
  border-radius: 10px;
}

.topRoundedCorners {
  border-radius: 10px 10px 0px 0px;
}

.marginBottom {
  margin-bottom: 10px;
}

.maxHeight {
  max-height: 100%;
}

.fullHeight {
  height: 100%;
}
