@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.typeCard {
  position: relative;
  height: 180px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  @include generalCardStyles();
  .typeTitle {
    position: absolute;
    left: 1em;
    top: 25%;
    transform: translateY(-50%);
    color: $mainHighLight;
    font-weight: bold;
    font-size: 1.3em;
    text-shadow: 0 2px 0 #000000, 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 2px 10px;
  }
  .typeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms;
  }
  &:hover {
    cursor: pointer;
    .typeImage {
      transform: scale(1.05);
    }
  }
}
