@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;

.subText {
  font-size: 0.9em;
  color: $textDark;
  padding-bottom: 1em;
  padding-top: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  margin-top: 1em;
  p {
    margin-top: 1em !important;
  }
}
