@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.match {
  margin: 10px;
  position: relative;
  &:hover {
    .editMatchOverlay {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.editMatchOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  transition: 300ms;
  opacity: 0;
  border-radius: 3px;
  margin: 2px 0px;
  background-color: rgba(0, 0, 0, 0.65);
  color: $alwaysWhite;
  font-weight: bold;
}

.editIcon {
  margin-right: 8px;
}

.team {
  display: flex;
  font-size: 0.9em;
  font-weight: 500;
  background-color: $cardHighlight;
  border: 1px solid $cardBorder;
  border-radius: 3px;
  margin: 2px 0px;
  padding: 5px;
  color: $textStrong;
  height: 34px;
  text-align: left;
  @include boxShadow();
  .teamName {
    margin-right: 5px;
    text-overflow: ellipsis;
    width: 130px;
    overflow: hidden;
  }
  .score {
    color: $primaryColor;
    margin-left: auto;
  }
}

.emptyTeam {
  background-color: $cardBackground;
  border: 1px solid $cardBorder;
  height: 34px;
}

.teamWinner {
  border: 1px solid #319731;
}

.teamLoser {
  border: 1px solid #b63f3f;
}
