.container {
  background-color: rgb(236, 236, 236);
  padding: 20px;
  font-family: "Roboto", sans-serif;
  .containerInside {
    background-color: white;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .header {
      text-align: center;
      font-size: 2em;
      font-weight: 700;
      margin-bottom: -40px;
  }
    .secondHeader {
      text-align: center;
      text-decoration: underline;
      font-size: 1.6em;
      font-weight: 600;
      margin-bottom: 40px;
      margin-top: 20px;
  }
    .thirdHeader {
      margin-bottom: -40px;
      font-size: 1.4em;
      font-weight: 600;
  }
}
}