@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.educationWrapper,
.workWrapper {
  text-align: left;
  display: none;
}

.showEducationView,
.showWorkView {
  display: inherit;
}

.back {
  margin-left: auto;
}

.buttons {
  color: $textLight;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border: 1px solid $hrBorder;
    border-radius: 5px;
    border-style: dashed;
    margin-bottom: 0.8em;
    transition: 150ms;
    &:hover {
      background-color: $postLowLight;
      cursor: pointer;
    }
  }
  .buttonComplete {
    background-color: rgb(226, 255, 227);
    &:hover {
      background-color: rgb(226, 255, 227);
      cursor: initial;
    }
  }
  .plusIcon {
    font-size: 0.8em;
    margin-right: 8px;
  }
  .buttonText {
    color: $textDark;
    font-weight: 600;
  }
}

.hideButtons {
  display: none;
}
