@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;

.componentWrapper {
  position: relative;
  .unlink {
    position: absolute;
    top: 1.1em;
    right: 10px;
    color: #c4302b;
    &:hover {
      cursor: pointer;
    }
  }
  .topBar {
    padding: 15px 15px 0px 15px;
    width: 100%;
    background-color: rgb(31, 52, 83);
    display: flex;
    .switch {
      position: relative;
      margin-top: 3px;
      margin-left: auto;
      color: $mainLowLight;
      .switchIcon {
        margin-left: 35px;
        margin-top: -23px;
        margin-right: 25px;
      }
    }
    .username {
      color: $mainHighLight;
      font-size: 1.2em;
      font-weight: 700;
    }
    .platform {
      color: $mainLowLight;
      margin-left: 15px;
      margin-top: 3px;
      text-transform: capitalize;
    }
  }
  .bottomContainer {
    width: 100%;
    .gamemode {
      padding: 10px 15px 3px 15px;
      background-color: $blueLowShadow;
      .mode {
        font-size: 1em;
        text-transform: uppercase;
        color: $textDark;
      }
    }
    .statsGrid {
      padding: 15px;
      padding-bottom: 0px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: center;
      text-align: center;
      .statContainer {
        .name {
          text-transform: uppercase;
          font-size: 0.8em;
          color: $textDark;
        }
        .value {
          font-size: 1em;
          font-weight: 600;
          color: $darkColor;
          margin-top: -10px;
        }
      }
      @include media991AndBelow() {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include media767AndBelow() {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.paddingTop {
  padding-top: 20px;
  padding-left: 20px;
}
