@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.cardWrapper {
  margin: 7px 0;
  margin-right: 7px;
  flex: 1;
}

.contentWrapper {
  height: 100%;
  &.selected {
    background-color: $brandeisBlue;
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.icon {
  font-size: 25px;
  color: $efuseBlue;
}

.cardName {
  @include media767AndBelow() {
    font-size: 1rem !important;
  }
}

.cardDescription {
  margin: 0px;
  @include media767AndBelow() {
    font-size: 0.7rem;
  }
}

.small {
  .cardName {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .cardDescription {
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin: 0px;
  }

  .contentWrapper {
    padding: 10px;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 15px;
    color: $efuseBlue;
  }
}

.medium {
  .cardName {
    font-size: 1rem;
    font-weight: bold;
  }

  .cardDescription {
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin: 0px;
  }

  .contentWrapper {
    padding: 15px;
    text-align: left;
    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 20px;
    color: $efuseBlue;
  }
}

.large {
  .cardName {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .contentWrapper {
    padding: 20px;
    text-align: left;
    &:hover {
      cursor: pointer;
    }

    @include media767AndBelow() {
      padding: 10px;
    }
  }

  .icon {
    font-size: 25px;
    color: $efuseBlue;
  }
}

.cardWrapper.small {
  min-width: 150px;
}

.cardWrapper.medium {
  min-width: 49%;
}

.cardWrapper.large {
  min-width: 100%;
}

.svgIcon {
  width: 40px;
  height: 40px;
}
