@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.cardContent {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .image {
    margin-right: 15px;
  }

  .textContainer {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;

    p {
      margin: 0px;
    }

    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .text {
      font-size: 12px;
      font-weight: 600;
      color: $textExtraLight;

      .tryAgain {
        color: $ribbonEndColor;
        cursor: pointer;
      }
    }

    .addStatsButton {
      button {
        @include removeButtonStyling();
      }
    }
  }

  .icon {
    font-size: 24px;
  }

  .iconVerified {
    color: $orgVerifiedColor;
  }

  .iconUnlinked {
    color: $textExtraLight;
  }

  .iconWarn {
    color: $goldLight;
  }
}
