@use "../../../../../styles/variables" as *;

.icon {
  position: absolute;
  right: 30px;
  color: $whiteColor;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 1;

  .flameContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgContainer {
    position: absolute;

    .flameImg {
      height: 70px;
      padding-bottom: 8px;
    }
  }
}

.hypingTimer {
  height: 40px;
  position: relative;
  background: $dimGrey;
  overflow: hidden;

  .barContainer {
    width: 110%;
    height: 100%;

    .bar {
      overflow: hidden;
      background-image: linear-gradient(to right, $likeRed -12%, $darkOrange 32%, $orangeRed 62%, $red 112%);
      height: 100%;
      transform: skew(35deg);
      margin: 0 0 0 -20px;
      display: flex;
      justify-content: flex-end;

      .messageContainer {
        position: absolute;
        height: 100%;
        transform: skew(-35deg);
        color: $whiteColor;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        width: 200px;
      }
    }
  }
}
