@use "../../styles/themevariables" as *;

.wrapper {
  display: flex;
  align-items: center;
  margin-top: -2px;
  font-family: Poppins, sans-serif;
  .username {
    font-size: 0.8em;
    color: $textWeak;
    margin-right: 5px;
  }
  .marginRight {
    margin-right: 5px;
  }
}
