.mainContainer {
  display: grid;
  grid-template-columns: auto;
  height: 100%;
}

.gridGap {
  grid-gap: 5px;
  grid-template-columns: auto auto;
}

.image {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}

.imageContainer1 {
  grid-row: 1 / 3;
}
.imageContainer2 {
  grid-row: 1 / 2;
}
