@use "../../styles/variables" as *;

.container {
  width: 100%;
  overflow: hidden;
}

.urlInput {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: $snow;
  border: 1px solid $borderGrey;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #0a0c12;
}

.copyButtons {
  display: flex;
  flex-direction: row;

  button {
    border: 1px solid $borderGrey;
    padding: 15px;
    margin-right: 10px;

    div {
      font-weight: 500;
      font-size: 0.75rem;
      color: $blackHeaderText;
    }
  }

  input {
    margin-right: 10px;
  }
}
