.tooltipBox {
  .content {
    padding: 15px 10px 10px 10px;
    .icon {
      width: 20px;
      height: 20px;
      color: white;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    button {
      color: white;
    }
  }
}
