@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;

  .menu {
    a {
      margin: 0;
    }
  }

  .imageContainer {
    width: fit-content;
    position: relative;
    margin-right: 16px;

    .image {
      border-radius: 10px;
      width: 80px;
      height: 50px;
      overflow: hidden;
      position: relative;
    }

    .opportunityBadge {
      position: absolute;
      left: 50%;
      bottom: -5px;
      transform: translate(-50%, 0);
      z-index: 3;
    }
  }

  .textContainer {
    width: 100%;

    .title {
      font-size: 14px;
      font-weight: bold;
      color: $textStrong !important;
      margin: 0;
      margin-bottom: 2px;
      line-height: 1.29;
      width: 100%;
      @include clampText(2);
    }

    .subtitleContainer {
      display: flex;
      align-items: center;

      .subTitle {
        font-weight: bold;
        color: $textPrimary;
        font-size: 12px;
        margin-right: 8px;
        text-transform: uppercase;
        @include clampText(1);
      }
      .createdAt {
        margin: 0;
        font-size: 9px;
        font-weight: 600;
        @include clampText(1);
      }
    }
  }

  .avatarList {
    margin-left: 10px;
    display: block;

    @include media991AndBelow() {
      display: none;
    }
  }

  .applyButton {
    margin: 0 10px;
    display: block;

    @include media520AndBelow() {
      display: none;
    }
  }
}
