@use "../../styles/variables" as *;
.demoButton {
  position: fixed;
  right: 20px;
  bottom: 90px;
  width: 100px;
  height: 50px;
  z-index: 999;
  border: none;
  font-size: small;
}

.demoButtonPublic {
  background-color: $orgVerifiedColor !important;
  background-image: none !important;
  opacity: 0.5;
  &:hover {
    background-color: $orgVerifiedColor;
    opacity: 1;
  }
  &:focus {
    background-color: $orgVerifiedColor;
    opacity: 1;
  }
  &:active {
    background-color: $orgVerifiedColor !important;
    opacity: 1;
  }
}

.demoButtonEmployee {
  background-color: $ribbonStartColor !important;
  background-image: none !important;
  opacity: 0.5;
  &:hover {
    background-color: $ribbonStartColor;
    opacity: 1;
  }
  &:focus {
    background-color: $ribbonStartColor;
    opacity: 1;
  }
  &:active {
    background-color: $ribbonStartColor !important;
    opacity: 1;
  }
}

.demoButtonInital {
  background-color: transparent;
}
