@use "../../../../styles/mediaQueries" as *;

.listWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;

  @include media991AndBelow() {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media767AndBelow() {
    grid-template-columns: repeat(2, 1fr);
  }
}
