@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.socialImpactScoreContainer {
  @include generalCardStyles();
  width: 100%;
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
  .socialImpactCard:last-child {
    border-right: none !important;
  }
  .socialImpactCard {
    @include resetChildrenPaddingMargin();
    width: 33.3%;
    text-align: center;
    border-right: 1px solid $shadowBlack10;
    padding: 5px;
    padding-bottom: 10px;
    position: relative;
    .socialIcon {
      margin-right: 3px;
      display: inline;
      font-size: 0.7em;
    }
    .score {
      display: inline;
      color: $textStrong;
      font-size: 0.7em;
      font-weight: bold;
    }
    .socialTitle {
      color: $textStrong;
      margin-top: -2px;
      font-size: 0.45em;
      text-transform: uppercase;
    }
  }
}

.hypeColor {
  color: $hypeColor;
}
.engagementColor {
  color: $efuseBlue;
}
.viewColor {
  color: $viewsColor !important;
}
.tooltipTitle {
  padding: 0px;
  padding-top: 12px;
  font-weight: bold;
}
.listAlign {
  text-align: left;
  margin-left: -15px;
  margin-right: -5px;
  margin-top: -8px;
}
