@use "../../../../../styles/variables" as *;

.attribute {
  display: inline-block;
  color: $mainNavColor;
  padding-top: 5px;
  font-size: 12px;
}

.attributeHeading {
  font-size: 12px;
}

.attributeValue {
  font-size: 12px;
}
