@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.mainContainer {
  overflow-x: hidden;
}
.featureOff {
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
}
