@import "../../../styles/variables";

.cardContainer {
  margin: 5px;
}

.cardAnalytics {
  margin: 20px 0px 0px 0px;
  font-size: 28px;
  font-weight: 800;
  color: $mainNavColor;
}

.cardText {
  font-size: 12px;
  font-weight: bold;
  color: #a3a8ad;
}

.cardBtn {
  margin: 32px auto 0px;
  button {
    padding: 0 15px;
  }
}

.cardBody {
  padding: 15px 8px;
  text-align: center;
}

.cardIcon {
  font-size: 28px;
  font-weight: 300;
  color: #008dff;
  margin-top: 20px;
}

.efuseImage {
  margin-top: 20px;
}
