@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.mediaWrapper {
  .mediaCaption {
    position: absolute;
    padding: 0.2rem 0.5rem;
    bottom: 0px;
    margin-bottom: 0;
    width: 100%;
    color: $inputBorderColor;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    font-weight: 600;
  }
  .img,
  .mediaPlayer video {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }

  .transparentBtn {
    @include transparentBtn();
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    font-size: 3rem;
    top: 0;
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: rgba(0, 0, 0, 0.8);
    }
    svg {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      margin: auto;
    }
  }
  &:hover {
    .img,
    .mediaPlayer video {
      filter: blur(1px);
      -webkit-filter: blur(1.5px);
      transition: 0.3s;
    }
    .transparentBtn {
      display: table;
      transition: 0.3s;
    }
    @include boxShadow();
    transition: 0.3s;
  }
}
