@use "../../../../../styles/variables" as *;
@use "../../../../../styles//mixins" as *;

@include friendsCard();

.friendWrapper {
  height: 325px;
  .roles {
    margin-bottom: 0;
  }
  .separator {
    width: 100%;
    border: 1px solid $cardBorder;
    margin: 1rem 0;
  }

  .appliedOn {
    border: 1px solid $cardBorder;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 10px;
    margin-top: 10px;
  }
}
