@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.listWrapper {
  width: 100%;
  margin-top: 30px;
  .textWrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    .listTitle {
      @include resetPaddingMargin();
      color: $textStrong;
      font-size: 20px;
      font-weight: bold;
    }
    .totalOpportunities {
      color: $textWeak;
      margin-left: 15px;
      margin-bottom: 1px;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .paginationBarWrapper {
    margin-top: 15px;
    width: 100%;
  }
}
