@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.label {
  width: 100%;
  margin-bottom: 0px;
  @include generalCardStyles();
  box-shadow: none;
  border: 1px solid #ced7e7;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .title {
    margin-left: 15px;
    font-weight: 500;
    font-size: 12px;
    color: $textBlack;
  }

  .input {
    display: none;
  }

  .checkbox {
    width: 14px;
    height: 16px;
    color: $greyVariant;
  }
}

.selected {
  .checkbox {
    color: $recruitBlue;
    border: none;
  }
}

.disabled {
  opacity: 0.5;
}
