@use "../../styles/variables" as *;
@use "../InputLabel/InputLabel.module.scss";
@use "../InputField//InputField.module.scss";
@mixin labelColor($color) {
  label {
    color: $color;
  }
}

@mixin overrideCheckboxStyle($checkedLabelColor, $checkedColor, $validLabelColor, $validBorderColor) {
  input {
    &:focus {
      ~ label {
        &:before {
          box-shadow: none !important;
        }
      }
    }
    &:valid ~ label {
      color: $validLabelColor !important;
      &::before {
        border-color: $validBorderColor !important;
      }
    }
    &:checked {
      ~ label {
        color: $checkedLabelColor !important;
        &:before {
          border-color: $checkedColor !important;
          background-color: $checkedColor !important;
        }
      }
    }
  }
}

.filter {
  color: $mainNavColor;
  font-weight: 500;
  label {
    &:before {
      border-radius: 5px;
    }
  }
  .custom-radio .custom-control-label::before {
    border-radius: 5px !important;
  }
}
