@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.fullContainer {
  height: auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  border: solid 1px $borderLight;
  background-color: $mainHighLight;
  .cardImage {
    width: 100%;
    height: auto;
    max-height: 513px;
    object-fit: cover;
  }
  .menu {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
  }
  .bottomContainer {
    padding: 90px;
    position: relative;
    word-break: break-word;
    .profileImageContainer {
      position: absolute;
      top: -70px;
      margin-left: -8px;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1);
      border: solid 5px $mainHighLight;
      background-color: $mainNavColor;
      overflow: hidden;
      .profileImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 150ms;
        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }
    }
    .shareButton {
      position: absolute;
      top: 0;
      width: auto;
      margin-top: 28px;
      margin-left: 150px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 6px 12px;
      background-color: $mainHighLight;
      border-radius: 5px;
      box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.1);
      border: solid 1px $borderLight;
      color: $mainNavColor;
      .shareIcon {
        font-size: 0.9em;
        margin-right: 5px;
      }
      &:hover {
        background-color: $highlightHover;
        cursor: pointer;
      }
    }
    .applicantsList {
      display: flex;
      align-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 90px;
      padding-top: 20px;
      .listText {
        width: 94px;
        font-size: 0.6em;
        letter-spacing: 0.5px;
        line-height: 1.2;
        font-weight: 800;
        color: $innerTextColor;
        text-transform: uppercase;
        padding: 0px;
        margin: 0px;
        padding-left: 10px;
      }
    }
    .apply {
      .verify {
        display: inline-block;
        button {
          margin: 10px auto;
        }
      }
    }
    .textContainer {
      padding-top: 1em;
      color: $darkColor !important;
      @include quillStrictRule();
      .subTitle {
        margin-bottom: 3px;
      }
      .title {
        width: 100%;
        font-size: 1.7em;
        font-weight: bold;
        color: $mainNavColor;
      }
      .desc {
        font-size: 0.9em;
        color: $innerTextColor;
        padding-top: 3px;
        h3 {
          font-size: 1.2em;
          span {
            color: $darkColor !important;
          }
        }
        ul {
          li {
            span {
              color: $darkColor !important;
            }
          }
        }
        p {
          margin: 0;
        }
      }
      .opportunityLocation {
        font-size: 0.75em;
        font-weight: bold;
        color: $textLight;
        .locationIcon {
          color: $efuseBlue;
          font-size: 1.05em;
          margin-right: 5px;
        }
      }
    }
    .goldRequiredContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .goldLogo {
      width: 130px;
      height: auto;
      display: block;
      margin: 50px 0;
    }
    .goldRequiredText {
      color: black;
      max-width: 350px;
      padding-left: 20px;
    }
  }
  .quillEditor {
    @include quillStrictRule();
  }
  @include media991AndBelow() {
    .bottomContainer {
      padding: 20px;
      .profileImageContainer {
        width: 90px;
        height: 90px;
        top: -45px;
        margin-left: -8px;
        .profileImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .shareButton {
        padding: 5px 10px;
        font-size: 0.8em;
        margin: 0px;
        margin-top: 10px;
        right: 20px;
      }
      .applicantsList {
        padding-right: 20px;
        top: 30px;
      }
      .textContainer {
        padding-top: 75px;
        .subTitle {
          font-size: 0.9em;
        }
        .title {
          font-size: 1.2em;
        }
      }
    }
  }
}

.additionalInformationWrapper {
  margin-top: 1em;
  @include media768AndAbove() {
    display: none;
  }
}
