@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.pageContainer {
  @include resetChildrenPaddingMargin();
  .pageTitle {
    color: $mainNavColor;
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 8px;
  }
  .pageDescription {
    margin-left: 20px;
    color: $textDark;
    font-size: 0.9em;
    padding-bottom: 8px;
    .pageIcon {
      margin: 0px 5px;
    }
    li {
      padding-bottom: 2px;
    }
  }
}
