.rangeWrapper {
  margin: 18px 5px;
  position: relative;
  .minValue,
  .maxValue {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 500;
    top: 20px;
  }
  .minValue {
    left: -7px;
  }
  .maxValue {
    right: -10px;
  }
}
