.membersSection {
  height: 200px;
  overflow-y: auto;

  .member {
    display: flex;

    p {
      font-size: 14px !important;
      font-weight: 400 !important;
    }
  }

  .breakLine {
    margin: 5px auto;
  }
}

.membersSection::-webkit-scrollbar {
  display: none;
}
