@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.confirmationWrapper {
  padding: 0px 1em 12px 1em;
  .fieldTitle {
    @include resetPaddingMargin();
    color: $mainNavColor;
    font-weight: 600;
    font-size: 0.8em;
  }
  .fieldValue {
    @include resetPaddingMargin();
    color: $mainNavColor;
    font-size: 0.9em;
  }
  .fieldImage {
    width: 210px;
    border-radius: 4px;
    box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
    border: solid 1px $lightCardBorder;
    background-color: $mainHighLight;
  }
}
