.postMedia {
  padding-top: 10px;

  .imageWrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.07);

    .postImage {
      width: 100%;
      height: 100%;
      max-height: 750px;
      object-fit: contain;
    }
  }
}

