@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  background-color: $mainHighLight;
  min-height: 55px;
  overflow: hidden;
  border-radius: 10px;
  transition: 300ms;
  border: 1px solid $lightCardBorder;
  margin: 16px auto;
  @include boxShadow();
  .containerTop {
    // min-height: 260px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    .videoContainer {
      border-radius: 0px;
    }
    .textContainer {
      max-height: 260px;
      text-align: center;
      padding: 20px;
      word-break: break-word;
      .title {
        color: $textDark;
        font-size: 1.2em;
        padding-bottom: 5px;
      }
      .description {
        max-height: 165px;
        color: $textLight;
        @include clampText(7);
      }
      .learnMore {
        margin-top: -5px;
        color: $tagColor;
        &:hover {
          transition: 300ms;
          color: $mainNavColor;
          cursor: pointer;
        }
      }
    }
    @include media1366AndBelow() {
      .textContainer {
        .title {
          font-size: 1em;
        }
        .description {
          @include clampText(14);
        }
      }
    }
    @include media991AndBelow() {
      grid-template-columns: 1fr;
      .textContainer {
        max-height: none;
        .title {
          font-size: 1.2em;
        }
      }
    }
  }
  .add {
    grid-column: 1/3;
  }
}
.setMaxHeight {
  max-height: 320px;
}
