@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

@mixin borderStyles($borderLeft, $borderRight) {
  content: "";
  position: absolute;
  top: 100%;
  z-index: -1;
  border-left: 3px solid $borderLeft;
  border-right: 3px solid $borderRight;
  border-bottom: 3px solid transparent;
  border-top: 3px solid $navbarColor;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
  span {
    font-size: 10px;
    font-weight: bold;
    color: $whiteColor;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 100px;
    display: block;
    background: linear-gradient($goldLight 0%, $gold 100%);
    position: absolute;
    top: 19px;
    left: -21px;
    @include boxShadow();
    &::before {
      @include borderStyles($ribbonEndColor, transparent);
      left: 0px;
    }
    &::after {
      @include borderStyles(transparent, $ribbonEndColor);
      right: 0px;
    }
  }
}
