@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.headerCard {
  @include generalCardStyles();
  margin-bottom: -5.7rem;
  padding: 30px 20px;
  position: relative;
  bottom: 100px;
  border-radius: 14px;
  @include media991AndBelow {
    text-align: center;
  }
  @include media767AndBelow {
    margin: 70px 10px -5.7rem 10px;
    padding: 2rem 1rem;
  }
  @include media400AndBelow {
    margin: 70px 0px 0px;
    padding: 2rem 0.5rem;
  }
}

.profilePicture {
  @include media991AndBelow() {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
  }
}

.fullname {
  font-size: 28px;
  font-weight: bold;
  color: $mainNavColor;
}

.portfolioLinksWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include media991AndBelow {
    justify-content: center;
  }
}

.progressWrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include media991AndBelow() {
    justify-content: center;
    margin-top: 2rem;
  }
}

.bioText {
  font-size: 16px;
  font-weight: 600;
  color: $mediumTextColor;
  line-height: 1.5;
  white-space: pre-line;
}

.buttonContainer {
  margin: 5px;
}
