@use "../../../../../../styles/variables" as *;

.dropdown {
  margin: 0px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  color: $mainHighLight;
  padding: 0px 15px 0px 0px;
  transition: 250ms;
  &:hover {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: $darkColor;
    cursor: pointer;
  }
  .iconCircleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #191b1d;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.12);
    border: solid 1px #101112;
    height: 36px;
    width: 36px;
    margin-left: 3px;
    .icon {
      font-size: 14px;
    }
  }
  .itemTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-left: 13px;
  }

  .badge {
    position: absolute;
    top: -10px;
    left: -2px;
  }
}

.postDropdown {
  @extend .dropdown;
  color: $mainNavColor;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.4);
  background-color: $mainHighLight;
  margin: 6px 0;
  &:hover {
    box-shadow: 0 0px 2px 0 $mainNavColor;
    background-color: $snow;
    cursor: pointer;
  }
  .iconCircleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $mainHighLight;
    box-shadow: none;
    border: none;
    height: 36px;
    width: 36px;
    margin-left: 3px;
    .icon {
      font-size: 14px;
    }
  }
  .itemTitle {
    text-transform: none;
    font-weight: bold;
    font-size: 12px;
    margin-left: 13px;
  }

  .badge {
    position: absolute;
    top: -10px;
    left: -2px;
  }
  .topContainer {
    margin-bottom: 10px;
  }
}

.activeStyle {
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: $darkColor;
}
