@use "../../../../styles/themevariables" as *;

.fullname {
  font-size: 28px;
  font-weight: bold;
  color: $textStrong;
  display: block;
}

.boltWrapper {
  background-color: $streakColor;
  border-radius: 10px;
  padding: 1px 7px;
}

.boltIcon {
  color: $alwaysWhite;
  font-size: 12px;
  margin: 0px 2px;
  position: relative;
  bottom: 1px;
}

.streakDuration {
  font-size: 9.6px;
  font-weight: bold;
  color: $alwaysWhite;
  margin: 0px 2px;
  position: relative;
  bottom: 2px;
}
