@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.clipsContainer {
  white-space: nowrap;
  position: relative;
  .button {
    position: absolute;
    top: 48%;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    background-color: $mainNavColor;
    color: $mainHighLight;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.3);
    transform: translate(0, -50%);
    right: 5px;
    z-index: 1;
  }
  .images {
    .thumbContainer {
      display: inline;
      margin-left: 5px;
      position: relative;
      .thumbnail {
        width: 210px;
        height: 130px;
        margin-top: -20px;
        margin-bottom: -10px;
      }
      .bottomBar {
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.85);
        color: $mainHighLight;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.85em;
        text-align: center;
        width: 100%;
        height: 40px;
        margin-top: -20px;
        .thumbText {
          margin-top: 4px;
        }
      }
    }
    .thumbContainer:hover {
      cursor: pointer;
    }
    .thumbContainer:first-child {
      margin-left: -10px !important;
    }
    .thumbContainer:last-child {
      opacity: 0.2;
    }
    .thumbContainer:last-child:hover {
      cursor: auto;
    }
  }
}
