@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;

.formContainer {
  .formLabel {
    color: $mainLowLight;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 1.1em;
  }
  .captcha {
    margin-top: 2em;
  }
  .formField {
    height: 45px;
  }
  .captchaError {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
  @include media767AndBelow() {
    .captcha {
      margin-top: 1em;
      transform: scale(0.8);
      transform-origin: 0 0;
    }
  }
}
.formButton {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  height: 45px;
  background-color: $tagColor;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
}
.forgotPassword {
  color: $mainHighLight;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9em;
  &:hover {
    color: $mainHighLight;
  }
}
