@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.whoToFollow {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  padding: 0.5rem;
  max-height: 70vh;
  overflow-y: scroll;

  & > div {
    flex-grow: 1;
    margin-bottom: 20px;

    .profileCard {
      width: 200px;
      min-height: 120px;
      background-color: rgba(0, 0, 0, 0.03);
      padding: 12px 15px;
      margin: 5px;
      border-radius: 3px;
      position: relative;
      overflow: hidden;
      margin: auto;
      -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
      -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
      box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
    }

    .name {
      color: $textDark;
      margin-top: 5px;
    }

    .username {
      font-size: 0.9rem;
    }

    .bio {
      font-size: 0.7rem;
      text-align: left;
      margin: 10px 0;
      height: 115px;
      overflow-y: hidden;
      @include clampText(7);
    }

    .headerImage {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 80px;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
    }

    .profilePictureContainer {
      height: 80px;
    }

    .profilePictureContainer img {
      border-radius: 100px;
      display: block;
      margin: auto;
      position: relative;
      margin-top: 20px;
    }
  }

  .button {
    border: none;
    border-radius: 50px;
    width: 6em;
    padding-bottom: 2px;
    background-color: $tagColor;
    color: $mainHighLight;
    font-size: 0.8em;
    margin-top: 6px;
    &:hover {
      color: $mainLowLight;
    }
  }
}

.verified {
  color: $orgVerifiedColor;
  font-size: 1rem;
  margin-left: 5px;
  display: inline;
  .verifyIcon {
    width: 20px;
    margin-top: -4px;
  }
}
