@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.containerTwo {
  position: relative;
  width: 100%;
  align-items: center;
  text-align: center;
  background: transparent;

  .cardContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      background-color: $mainHighLight;
      background-color: #ffffff;
      border-radius: 20px;
      margin: 4rem 10px;
      box-shadow: 0px 0px 30px 0px rgba(95, 131, 207, 0.479);
      width: 320px;
      height: 480px;
      .tile {
        border-radius: 14px;
        box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08);
        border: solid 1px $lightCardBorder;
        background-color: $darkModeTextColor;
        width: 320px;
        height: 480px;
        .tileBackground {
          background-size: contain;
          &.tb1 {
            background-image: url("https://cdn.efuse.gg/uploads/static/landing-page/opportunities-bg-resized.png");
            background-repeat: no-repeat;
          }
          &.tb2 {
            background-image: url("https://cdn.efuse.gg/uploads/static/landing-page/theerena-bg-resized.png");
            background-repeat: no-repeat;
          }
          &.tb3 {
            background-image: url("https://cdn.efuse.gg/uploads/static/landing-page/lounge-bg-resized.png");
            background-repeat: no-repeat;
          }
          img {
            max-height: 300px;
            max-width: 100%;
          }
        }

        p {
          font-size: 14px;
          line-height: 1.43;
          padding: 28px;
          padding-top: 14px;
        }
        .imageTilt {
          width: 80%;
          border-radius: 12px;
          &.erena {
            width: 68%;
          }
          &.lounge {
            width: 100%;
          }
        }
        @include media767AndBelow {
          width: 100%;
          height: 100%;
        }
      }
      .content {
        b {
          font-size: 20px;
          line-height: normal;
        }
      }
      @include media767AndBelow {
        width: 70%;
        margin: 2em 0;
        height: 100%;
      }
    }
    @include media767AndBelow {
      flex-direction: column;
    }
  }
}
