@use "../../../styles/mediaQueries" as *;
@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.card {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background-color: $cardBackground;
  position: relative;
  border: 1px solid $cardBorder;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
  .statusLabel {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: $alwaysBlack;
    color: $alwaysWhite;
    z-index: 8;
    padding: 3px 5px !important;
    border-radius: 3px;
    font-size: 0.9rem;
    opacity: 0.85;
  }
  .innerBox {
    display: flex;
    align-items: center;
    height: 100%;
    .videoPlayer {
      margin-left: 10px;
    }
    .image {
      height: 120px;
      width: auto;
      margin: 10px;
      border-radius: 5px;
      background-position: center center;
      background-size: cover;
      object-fit: cover;
      flex-shrink: 0;
      @include maxMediaQuery(520px) {
        height: 100px;
        width: auto;
        align-self: flex-start;
      }
    }
    .textBox {
      align-self: center;
      padding: 10px;
      * {
        padding: 0px;
        margin: 0px;
      }
      .title {
        font-size: 1em;
        font-weight: 600;
        @include clampText(2);
        padding-bottom: 2px;
        margin-bottom: 2px;
        word-wrap: break-word;
        .titleLink {
          color: $textStrong;
        }
      }
      .summary {
        @include clampText(3);
        font-size: 0.9em;
        color: $textWeak;
        margin-bottom: 2px;
      }
      .name {
        @include clampText(1);
        color: $primaryColor;
        font-size: 0.9em;
      }
      .date {
        display: flex;
        font-size: 0.9em;
      }
      @include media991AndBelow() {
        .title {
          font-size: 0.8em;
        }
        .summary {
          font-size: 0.8em;
        }
        .name {
          font-size: 0.7em;
        }
      }
    }
  }
}
