@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.inputContainer {
  text-align: left;
  margin-top: 40px;
}

.ButtonContainer {
  margin: 30px 10px 0 0;
  text-align: center;
}
