@use "../../../../styles/mediaQueries" as *;

.navbar {
  margin: auto;
  padding-top: 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media991AndBelow() {
    padding-top: 10px;
    margin-bottom: 70px;
  }
}

.logo {
  width: 60px;
  height: auto;
}

.logoCategoryContainer {
  display: flex;
  align-items: center;
}

.categoryNavItem {
  margin-left: 30px;
  border-left: 0.5px solid #ccc;
  padding: 15px 30px;
  font-weight: 300;
  font-size: 1.5rem;
}

.backArrowIcon {
  font-size: 0.9rem;
  margin-right: 10px;
}

.backArrowLink {
  &:hover {
    text-decoration: none;
  }

  @include media991AndBelow() {
    display: none;
  }
}

.backArrowLinkMobile {
  display: none;
  &:hover {
    text-decoration: none;
  }

  @include media991AndBelow() {
    display: block;
    padding-top: 10px;
  }
}
