@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.createWrapper {
  @include generalCardStyles();
  padding: 1em;
  overflow: inherit !important;
}

.formWrapper {
  padding: 1em;
  @include media767AndBelow() {
    padding: 0px;
  }
}
