@use "../../styles/variables" as *;

.passwordStrength {
  background: $whiteColor;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  input {
    color: #495057;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    border-radius: 5px;
    max-height: 40px;
  }
  span {
    padding: 0;
    font-size: 12px;
    right: 10px;
    top: 16px;
    font-weight: 600;
  }
}

.suggestionUl {
  padding-inline-start: 0px;
  list-style: none;
  color: #dc3545;
  width: 100%;
  li:before {
    content: "\2713";
    display: inline-block;
    margin-right: 5px;
    /* 100% width make the tick mark to attain full width due to which it
      drops down to new line, it should be an inline element so that it 
      fits on the left of error message 
    */
    // width: 100%;
  }
}

.eye {
  position: absolute;
  top: 13px;
  right: 18px;
  font-size: 18px;
  cursor: pointer;
  color: $whiteColor;
}

.dark {
  color: $textDark;
  top: 5px;
  right: 0;
}
