.socialIcons {
    margin-bottom: -0.3rem;
    padding-top: 0.5rem;
    .icon {
      width: 26px;
      margin-left: 2px;
      margin-right: 2px;
    } 
    .icon:hover {
      cursor: pointer;
    }
  }

.link {
    font-size: 12px;
}