@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;

.modalContainer {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
  @include media767AndBelow {
    flex-direction: column;
  }
  .leftContainer {
    position: relative;
    flex: 2;
    text-align: center;
    .imageText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 24px;
      color: $alwaysWhite;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    }
  }
  .rightContainer {
    height: 100%;
    position: relative;
    flex: 3;
    padding: 20px;
    .rightTextWrapper {
      padding: 0px 30px;
      margin-top: 130px;
      @include media767AndBelow {
        padding: 0px;
        margin: 0px;
      }
      * {
        padding: 0px;
        margin: 0px;
      }
      .titleText {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 22px;
        color: $textStrong;
      }
      .subText {
        padding-top: 10px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 18px;
        color: $textStrong;
      }
    }
    .bottomButtons {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 20px;
      right: 20px;
      .leftButtonWrapper {
        margin-left: auto;
        margin-right: 10px;
      }
    }
  }
}
