@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.headerContainer {
  @include verticalFlex();
  width: 100%;
  .tournamentTitle {
    color: $darkColor;
    font-weight: 700;
    margin-right: 30px;
    font-size: 1.4em;
    word-break: break-word;
  }
  .createTeamButton {
    flex-shrink: 0;
    border: none;
    color: $mainHighLight;
    background-color: $tagColor;
    border-radius: 5px;
    margin-left: auto;
    padding: 5px 10px;
    &:hover {
      background-color: $tagColorHover;
    }
  }
  .addTeam {
    display: flex;
    align-items: center;
    background-color: $tagColor;
    padding: 5px 10px;
    border-radius: 25px;
    color: $mainHighLight;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: auto;
    flex-shrink: 0;
    .plus {
      margin-right: 5px;
      font-size: 0.9em;
    }
    &:hover {
      background-color: $tagColorHover;
      cursor: pointer;
    }
  }
}
