@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.headerCard {
  @include generalCardStyles();
  margin-bottom: -4rem;
  padding: 30px 20px;
  position: relative;
  bottom: 100px;
  border-radius: 14px;
  @include media991AndBelow {
    text-align: center;
  }
  @include media767AndBelow {
    margin: 70px 10px 10px;
    padding: 2rem 1rem;
  }
  @include media400AndBelow {
    margin: 70px 0px 0px;
    padding: 2rem 0.5rem;
  }
}

.profilePicture {
  @include media991AndBelow() {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
  }
}

.editButton {
  position: absolute;
  bottom: 15px;
  width: 140px;
  margin: auto;
  text-align: end;
  button {
    &:hover {
      background: $whiteColor !important;
      background-blend-mode: unset !important;
    }
  }
}

.portfolioLinksWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include media991AndBelow {
    justify-content: center;
  }
}

.socialImpactScoresBox {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 70px;
  @include media991AndBelow {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.carouselPadding {
  margin-left: auto;
  margin-bottom: 70px;
  max-width: 320px;
  @include media991AndBelow {
    margin: auto;
    max-width: 280px;
    padding-top: 10px;
  }
}

.progressWrapper {
  position: relative;
  bottom: 40px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  @include media991AndBelow() {
    justify-content: center;
    bottom: 0px;
    margin-top: 2rem;
  }
}

.bioText {
  font-size: 16px;
  font-weight: 600;
  color: $textWeak;
  line-height: 1.5;
  white-space: pre-line;
}
