.header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 700;
}

.subHeader {
  margin-bottom: 10px;
  background: transparent;
  margin-top: 20px;
  font-size: 1.3em;
}
