@use "../../../../../styles/themevariables" as *;

.hypeCounter {
  color: $textWeak;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .icon {
    margin-right: 5px;
    &.hyped {
      color: $hypeColor;
    }
  }
}
