.basicProfileContainer {
  display: flex;

  .profilePictureContainer {
    width: 130px;
    position: relative;
  }

  .textInputContainer {
    padding-left: 20px;
    flex: 1;
  }

  .imageUploadButton {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}
