@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;

.progress {
  @include boxShadowSmall();
  background-color: $cardBackground;
  border-radius: 0.6rem;
  border: solid 1px $cardBorder;
  padding: 10px;
  margin-bottom: 10px;
  color: $textStrong;
  width: 100%;
  .progressBarInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .progressContainer {
    display: flex;
    justify-content: space-around;
    .progressBar {
      width: 100% !important;
    }
    .finishBtn {
      margin-top: -5px;
      button {
        height: auto;
        margin-left: 5px;
      }
    }
  }
}
