@use "../../../../../styles/themevariables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.socialCardContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 242px;
  height: 234px;
  margin-right: 8px;
  border-radius: 12px;
  padding: 1.2em 1.4em;
  flex-shrink: 0;
  background-color: $cardBackground;
  border: solid 1px $cardBorder;

  * {
    padding: 0px;
    margin: 0px;
  }

  .backgroundIcon {
    width: 28px;
    height: 32px;
    font-size: 32px;
    &.twitter {
      color: $socialTwitter;
    }
    &.discord {
      color: $socialDiscord;
    }
    &.twitch {
      color: $socialTwitch;
    }
    &.linkedin {
      color: $socialLinkedin;
    }
    &.facebook {
      color: $socialFacebook;
    }
    &.snapchat {
      color: rgb(226, 222, 0);
    }
    &.youtube {
      color: $socialYoutube;
    }
    &.tiktok {
      color: rgb(105, 201, 208);
    }
    &.instagram {
      color: $socialInstagram;
    }
  }
  .titleText {
    margin-top: 5px;
    width: 57px;
    height: 22px;
    font-size: 1em;
    color: $textStrong;
  }
  .linkText {
    font-weight: bold;
    color: $textStrong;
    font-size: 1.1em;
    line-height: normal;
  }
  .countContainer {
    position: relative;
    z-index: 3;
    color: $textStrong;
    .countLabel {
      margin-top: 1em;
    }
    .count {
      font-weight: 700;
      font-size: 1.3em;
    }
  }
}

.removeLink {
  margin-top: auto;
  &:hover {
    text-decoration: none !important;
  }
}

.viewButton {
  width: 110px;
  height: 35px;
  border-radius: 8px;
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3);
  float: right;
  position: relative;
  z-index: 3;
  color: $alwaysWhite;
  padding: 5px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.maxButtonWidth {
  max-width: 100px;
}

.linkAccountButton {
  margin-top: auto;
}

.unlink {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1.2em;
  right: 1.4em;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: $cardBackground;
  z-index: 3;
  @include boxShadow();
  &:hover {
    cursor: pointer;
  }
  .unlinkIcon {
    font-size: 0.9em;
    color: $textWeak;
  }
}

.twitterCard {
  background: rgb(0, 172, 238);
  background: linear-gradient(180deg, rgba(0, 172, 238, 1) 0%, rgba(0, 152, 210, 1) 100%);
}

.twitterButton {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(0, 212, 255, 1) 100%);
  &:hover {
    background: rgb(0, 156, 218);
    background: linear-gradient(0deg, rgba(0, 156, 218, 1) 0%, rgb(0, 203, 243) 100%);
  }
}

.discordCard {
  background: rgb(114, 137, 218);
  background: linear-gradient(180deg, rgba(114, 137, 218, 1) 0%, rgba(87, 105, 171, 1) 100%);
}

.discordButton {
  background: rgb(146, 167, 244);
  background: linear-gradient(180deg, rgba(146, 167, 244, 1) 0%, rgba(114, 137, 218, 1) 100%);
  &:hover {
    background: rgb(127, 148, 222);
    background: linear-gradient(180deg, rgba(127, 148, 222, 1) 0%, rgba(103, 124, 199, 1) 100%);
  }
}

.twitchButton {
  background: rgb(132, 89, 212);
  background: linear-gradient(180deg, rgba(132, 89, 212, 1) 0%, rgba(100, 65, 165, 1) 100%);
  &:hover {
    background: rgb(110, 74, 179);
    background: linear-gradient(180deg, rgba(110, 74, 179, 1) 0%, rgba(85, 53, 142, 1) 100%);
  }
}

.linkedinCard {
  background: rgb(14, 118, 168);
  background: linear-gradient(180deg, rgba(14, 118, 168, 1) 0%, rgba(8, 83, 119, 1) 100%);
}

.linkedinButton {
  background: rgb(16, 132, 189);
  background: linear-gradient(180deg, rgba(16, 132, 189, 1) 0%, rgba(14, 118, 168, 1) 100%);
  &:hover {
    background: rgb(16, 123, 175);
    background: linear-gradient(180deg, rgba(16, 123, 175, 1) 0%, rgba(13, 99, 140, 1) 100%);
  }
}

.facebookCard {
  background: rgb(59, 89, 152);
  background: linear-gradient(180deg, rgba(59, 89, 152, 1) 0%, rgba(43, 65, 112, 1) 100%);
}

.facebookButton {
  background: rgb(74, 112, 191);
  background: linear-gradient(180deg, rgba(74, 112, 191, 1) 0%, rgba(59, 89, 152, 1) 100%);
  &:hover {
    background: rgb(71, 107, 181);
    background: linear-gradient(180deg, rgba(71, 107, 181, 1) 0%, rgba(52, 78, 134, 1) 100%);
  }
}

.snapchatCard {
  background: rgb(226, 222, 0);
  background: linear-gradient(180deg, rgb(233, 229, 0) 0%, rgb(189, 186, 0) 100%);
}

.snapchatButton {
  background: rgb(153, 151, 19);
  background: linear-gradient(180deg, rgb(233, 230, 71) 0%, rgb(180, 180, 0) 100%);
  &:hover {
    background: rgb(148, 146, 17);
    background: linear-gradient(180deg, rgb(218, 215, 66) 0%, rgb(161, 161, 0) 100%);
  }
}

.youtubeCard {
  background: rgb(196, 48, 43);
  background: linear-gradient(180deg, rgba(196, 48, 43, 1) 0%, rgba(139, 33, 29, 1) 100%);
}

.youtubeButton {
  background: rgb(241, 60, 54);
  background: linear-gradient(180deg, rgba(241, 60, 54, 1) 0%, rgba(196, 48, 43, 1) 100%);
  &:hover {
    background: rgb(196, 48, 43);
    background: linear-gradient(180deg, rgba(196, 48, 43, 1) 0%, rgba(158, 34, 30, 1) 100%);
  }
}

.instagramCard {
  background: rgb(64, 93, 230);
  background: linear-gradient(180deg, rgba(64, 93, 230, 1) 0%, rgba(131, 58, 180, 1) 51%, rgba(225, 48, 108, 1) 100%);
}

.instagramButton {
  background: rgb(92, 119, 247);
  background: linear-gradient(180deg, rgba(92, 119, 247, 1) 0%, rgba(155, 69, 213, 1) 51%, rgba(247, 78, 135, 1) 100%);
  &:hover {
    background: rgb(60, 88, 223);
    background: linear-gradient(180deg, rgba(60, 88, 223, 1) 0%, rgba(129, 42, 187, 1) 51%, rgba(221, 55, 111, 1) 100%);
  }
}

.tiktokCard {
  background: rgb(105, 201, 208);
  background: linear-gradient(
    180deg,
    rgba(105, 201, 208, 1) 0%,
    rgba(1, 1, 1, 0.639093137254902) 51%,
    rgba(238, 29, 82, 1) 100%
  );
}

.tiktokButton {
  background: rgb(105, 201, 208);
  background: linear-gradient(180deg, rgba(105, 201, 208, 1) 0%, rgba(244, 99, 136, 1) 100%);
  &:hover {
    background: rgb(81, 175, 182);
    background: linear-gradient(180deg, rgb(85, 183, 190) 0%, rgb(206, 72, 105) 100%);
  }
}

.tiktokBackground {
  width: 28px;
  height: 28px;
}

//this will be removed when fontawesome supports tiktok
.tiktokIcon {
  width: 35px;
  filter: invert(99%) sepia(2%) saturate(502%) hue-rotate(323deg) brightness(119%) contrast(100%);
}
