@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.body {
  @include dashedCardBorder();
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 20px;
  color: $textBlack;

  .icon {
    padding-right: 8px;
  }
}

.small {
  width: 185px;
  height: 241px;
}

.medium {
  width: 272px;
  height: 264px;

  .body {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
  }
}
