@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.textCenter {
  text-align: center;
  .loadMoreBtn {
    color: $textDark;
    margin: 0 0 20px 0;
  }
  .loadMoreBtn:active {
    color: $textDark;
  }
  .loadMoreBtn:hover {
    color: $efuseBlue;
  }
}
