.buttonWrapper {
  position: relative;
  top: 5px;

  .removeButtonWrapper {
    position: relative;
    left: 20px;
  }
}

.memberImage {
  position: relative;
  left: 10px;
  margin-right: 25px;
}

.membersText {
  left: 1px;
  color: #15151a;
}

.nameText {
  position: relative;
  width: 500px;
  height: 22px;
  left: 15px;
  top: 15px;
  color: #15151a;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

.rowJustify {
  justify-content: space-between;
  width: 100%;
}
