@use "../../../../styles/_variables" as *;
@use "../../../../styles/themevariables" as *;

.hypeCount {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: $textLight;
}
.hypes {
  .icon {
    &.hyped {
      color: $hypeColor;
      font-size: 24px;
      margin-right: 10px;
    }
  }
  span {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
}
