@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.wrapper {
  width: 100%;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: $cardBackground;
}
.teamsWrapper {
  display: flex;
  padding: 10px;
  width: auto;
  height: 100%;
  padding-right: 20px;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid $cardBorder;
  .team {
    margin-right: 10px;
    padding: 10px;
    width: auto;
    border: 1px solid $cardBorder;
    min-width: 120px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
    .player {
      color: $textWeak;
      font-size: 0.8em;
      font-weight: 600;
      &:hover {
        cursor: pointer;
        color: $primaryColor;
      }
    }
    .activePlayer {
      color: $primaryColor;
    }
  }
}

.customButtonMargin {
  margin-top: 50px !important;
}

.customButtonMargin {
  border: 1px solid $cardBorder;
}
