@use "../../styles/variables" as *;

.switchButton {
  margin: 0px;
  padding: 10px 0 0 0;
  font-size: 0.8rem;
  .switch {
    margin-left: 10px;
    color: $tagColor;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
}
