@use "../../../styles/themevariables" as *;

.cardWrapper {
  background-color: $cardBackground;
  position: relative;
  padding: 2em;
  border-radius: 14px;
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08);
  border: solid 1px $cardBorder;
  color: $textStrong;
}
