@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.cardWrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.08);
  .icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    z-index: 2;
    color: $alwaysWhite;
  }
  .gameImage {
    transition: 200ms;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.02);
    }
  }
}

.active {
  padding: 0px;
  box-shadow: 0 0 0 2px $primaryColor;
}

.small {
  width: 116px;
  height: 154px;

  @include media991AndBelow() {
    width: 90px;
    height: 120px;
  }

  @include media520AndBelow() {
    width: 60px;
    height: 80px;
  }
}

.medium {
  width: 157px;
  height: 208px;
}
