@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.header {
  @include verticalFlex();
  @include media767AndBelow() {
    flex-direction: column;
  }

  .headerSection {
    @include verticalFlex();
    @include media767AndBelow() {
      &.first {
        margin-bottom: 15px;
      }
    }

    .logoImage {
      width: 28px;
      height: 28px;
      object-fit: cover;
    }

    .separator {
      height: 28px;
      margin-right: 10px;
      border: solid 1px $lightCardBorder;
    }

    .statTitle {
      font-size: 11px;
      font-weight: bold;
      color: $mainNavColor;
      margin-left: 20px;

      &.first {
        margin-left: 0;
      }

      @include media767AndBelow() {
        margin-left: 0;
      }
    }

    .statIcon {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.05), 0 2px 2px -1px rgba(0, 0, 0, 0.15);
      border: solid 3px $whiteColor;
      margin-right: 10px;

      img {
        border-radius: 50%;
      }
    }

    .statSection {
      margin-right: 10px;
      display: flex;
      align-items: baseline;

      &.withIcon {
        align-items: center;
      }

      .statValue {
        font-size: 16px;
        font-weight: bold;
        color: $mainNavColor;
      }

      .statLabel {
        padding-left: 1px;
        font-size: 10px;
        color: $mainNavColor;
      }
    }
  }
}
