@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.mainWrapper {
  margin: 20px auto;

  .content {
    padding: 20px;
    background-color: #8f6cf5;
  }
}

.textContainer {
  padding-left: 70px;
  .text {
    padding: 20px 10px;
    margin: auto;
  }

  .textTitle {
    font-size: 1.875rem;
    font-weight: bold;
    color: $whiteColor;
  }

  .textDesc {
    font-size: 0.875rem;
    font-weight: bold;
    color: $lightestGrey;
  }

  .buttonContainer {
    margin: 10px;
  }

  @include media767AndBelow {
    padding-left: 20px;

    .textTitle {
      font-size: 1.375rem;
    }

    .textDesc {
      font-size: 0.75rem;
    }
  }
}

.imageContainer {
  text-align: center;
  max-height: 305px;

  .logo {
    width: 510px;
    position: relative;
    left: 65px;
    top: 20px;

    @include media767AndBelow {
      left: 15px;
    }
  }
}
