@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.heading {
  font-weight: bold;
  color: $textStrong;
}

.skill {
  @include bluePill();
}

.sectionWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.subHeader {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.addButton {
  margin-left: 1rem;
}

.skills {
  width: 80%;
  padding-bottom: 10px;
}

.icon {
  color: $alwaysWhite;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.5em;
  &:hover {
    cursor: pointer;
  }
}
