@use "../../../styles/themevariables" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.add {
  position: absolute;
  right: 12px;
  top: 19px;
}

.buttonWrapper {
  display: inline-block;
}

.tabsWrapper {
  border: none;
}

.tabsWrapper > a:hover {
  color: $mainNavColor;
}

.tabsWrapper > a:first-child {
  margin-right: 25px;
}

.tab {
  border: none !important;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #8a8c8e;
  outline: none;
}

.showMoreButton {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
