@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.header {
  width: 100%;
  height: 70px;
  z-index: 4;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: 500ms;
  .efuse {
    position: absolute;
    top: 0.5em;
    width: 80px;
    z-index: 3;
    cursor: pointer;
  }
  .efuseName {
    position: absolute;
    top: 1.2em;
    left: 70px;
    width: 100px;
    z-index: 3;
    cursor: pointer;
    @include media767AndBelow() {
      display: none;
    }
  }
  .topButtonContainer {
    position: absolute;
    right: 1em;
    top: 0.5em;
    z-index: 2;
    .topButton {
      width: 120px;
      border-radius: 6px;
      border: none;
      background-image: linear-gradient(to bottom, $efuseBlueContrast, $efuseBlue);
      text-transform: uppercase;
      margin: 5px;
      padding: 7px 0px 7px 0px;
      color: $mainHighLight;
      font-weight: 600;
      height: 35px;
      @include boxShadow();
      transition: 250ms;
      font-size: 10px;
      font-weight: 800;
      letter-spacing: 0.5px;
      text-align: center;
      &:hover {
        background-color: $mainHighLight;
        color: $mainNavColor;
        opacity: 0.9;
      }
      @include media400AndBelow {
        width: 100px;
      }
    }
    .login {
      background-image: linear-gradient(to bottom, $efuseBlueContrast, $efuseBlue);
    }
    .signup {
      background-image: linear-gradient(to bottom, $orange, $redContrast 114%);
    }
    &.hide {
      display: none;
    }
  }
}
.notTop {
  background-color: $mainNavColor;
}
