@use "../../styles/variables" as *;

.boltWrapper {
  position: relative;
  margin-left: 5px;
  .boltIcon {
    color: $boltColor;
  }
  .boltBadge {
    position: relative;
    top: -12px;
    font-size: 60%;
    border-radius: 50%;
    background-color: $boltColor;
  }
}
