@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.erenaTitle {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  text-align: left;
  font-weight: bold;
  color: $textDark;
}

.progressBar {
  height: 10px;
  border-radius: 0px;
  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: -40px;
  margin-right: -40px;
}

.modalTitle {
  margin-left: 10px;
}
