@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mixins" as *;
@use "../../../../../../styles/mediaQueries" as *;

.answer {
  padding: 10px;
  border-radius: 5px;
  background-color: $blueLowShadow;
  margin-bottom: 10px;
}

.imageAnswer {
  max-width: 100%;
  border-radius: 5px;
}
