@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.modalTitle {
  padding-top: 30px;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  width: 95%;
  max-width: 550px;
  margin: auto;
  .efuseLogo {
    height: 35px;
    margin-left: 10px;
    margin-top: -10px;
  }
  @include media767AndBelow {
    line-height: 1.7rem;
    padding: 10px;
    .efuseLogo {
      margin-top: -10px;
    }
  }
  @include maxMediaQuery(400px) {
    font-size: 1.1em;
    .efuseLogo {
      height: 30px;
    }
  }
  @include maxMediaQuery(300px) {
    padding: 10px 0px;
    .efuseLogo {
      height: 20px;
    }
  }
  .loginLogo {
    margin-bottom: 30px;
  }
}
