@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.platformCardContainer {
  @include generalCardStyles();
  @include resetChildrenPaddingMargin();
  overflow: hidden;
  position: relative;
  height: 240px;
  width: 100%;
  max-width: 280px;
  background-color: $cardBackground;
  border: solid 1px $cardBorder;
  padding: 1.8em;
  box-shadow: 0 3px 6px -3px rgba(0, 0, 0, 0.1) !important;
  flex-shrink: 0;
  margin-right: 8px;
  .backgroundImageIcon,
  .backgroundIcon {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  .backgroundImageIcon {
    width: 200px;
    filter: brightness(0%);
    opacity: 0.025;
  }
  .backgroundIcon {
    color: rgba(0, 0, 0, 0.025);
    font-size: 210px;
  }
  .platformImageIcon {
    width: 38px;
  }
  .platformIcon {
    font-size: 35px;
    margin-bottom: 3px;
  }
  .textLabel {
    margin-top: 3px;
    color: $textWeak;
  }
  .textValue {
    font-size: 1.1em;
    font-weight: bold;
    color: $textStrong;
  }
}

.steamColor {
  color: $socialSteam;
}
.xboxColor {
  color: $socialXbox;
}
.playstationColor {
  color: $socialPlaystation;
}
.battlenetColor {
  color: $socialBattlenet;
}
