@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.hypeUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  .followBtn {
    @include followButton();
  }
  .userDetail {
    display: flex;
    padding: 20px 0;
    .avatarIcon {
      margin-right: 16px;
    }
    .username {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      span {
        a {
          text-decoration: none;
          color: $mainNavColor;
        }
      }
      .name {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        a {
          text-decoration: none;
          color: $textLight;
        }
      }
    }
  }
}

.button {
  button {
    border: 1px solid $borderGrey;
    font-family: Poppins, sans-serif;
    font-size: 0.875rem;
  }
}
