@use "../../../styles/themevariables" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.eventCard {
  width: 362px;

  @include mediaBetween992And1200() {
    width: 300px;
  }
  @include media520AndBelow() {
    width: 300px;
  }

  .link {
    cursor: pointer;
  }

  .contentContainer {
    height: 206px;
    padding: 10px 20px;

    .titleWrapper {
      display: flex;

      .title {
        font-size: 14px;
        font-weight: bold;
        color: #090a0b;
      }

      .dropdown {
        position: relative;
        left: 20px;
        bottom: 10px;
        button {
          padding: 0px;
        }
        svg {
          font-size: 24px;
        }
      }
    }

    .subTitle {
      font-size: 12px;
      font-weight: bold;
      color: $leaderboardBlue;
      margin: 0px;
    }

    .subPointsOfInterest {
      span {
        height: 15px;
        font-size: 11px;
        font-weight: bold;
        color: $greyContrast;
        text-transform: uppercase;
      }

      .bullet {
        color: $blackHeaderText;
        margin-left: 4px;
        margin-right: 4px;
      }

      .date {
        color: $leaderboardBlue;
      }
    }

    .description {
      width: 280px;
      max-height: 3.81em;
      overflow: hidden;
      margin: 3px 14px 5px 0;
      font-size: 11px;
      line-height: 1.27;
      color: $greyContrast;
      position: relative;

      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    }

    .date {
      padding: 0px;
      margin: 0px;
      font-size: 9px;
      color: $textWeak;
    }

    .usersList {
      margin-top: 10px;
    }
  }
}
