@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cardWrapper {
  @include generalCardStyles();
}

.smallOppContainer {
  &:last-child {
    .hr {
      display: none;
    }
  }
  .hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.createButton {
  text-align: end;
  margin-bottom: 15px;
}
