@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.usernameStreakWrapper {
  display: flex;
  align-items: center;
  .username {
    margin-left: 5px;
    margin-right: 5px;
  }
}
