@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.topIconContainer {
  font-size: 0.9em;
  position: absolute;
  top: 0.7em;
  right: 0.7em;
  border-radius: 50px;
  transition: 250ms;
  button {
    padding: 0;
    .topIcon {
      margin: 5px;
      font-size: 1.6em;
    }
    .accepted {
      color: $defaultIcon;
      &:hover {
        cursor: pointer;
        color: $tagColor;
      }
    }
    .interested {
      color: $defaultIcon;
      &:hover {
        color: $interestedIcon;
      }
    }
    .remove {
      color: $defaultIcon;
      &:hover {
        color: $removeIcon;
      }
    }

    &:disabled {
      .accepted {
        color: $tagColor;
      }
      .interested {
        color: $interestedIcon;
      }
      .remove {
        color: $removeIcon;
      }
    }
  }
}
