.infoCards {
  text-align: center;
  margin: 20px auto;
}
.infoCard {
  border-radius: 12px;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.1), 0 13px 10px -3px rgba(0, 0, 0, 0.15);
  border: solid 1.4px #dddee8;
}
.cardImg {
  border-radius: 12px 12px 0px 0px;
}
.cardIcons {
  position: absolute;
  color: #f1f4f7;
  font-size: 100px;
  width: 100%;
}
.icon {
  vertical-align: middle;
}
.optionsIcon {
  font-size: 33.7px;
  display: block;
  position: absolute;
  margin: 15px 20px;
}
.controllerIcon {
  font-size: 60px;
  vertical-align: text-bottom;
}

.cardTextTitle {
  font-size: 20px;
  font-weight: bold;
  color: #15151a;
  text-align: left;
}
.cardText {
  font-size: 16px;
  color: #15151a;
  text-align: left;
}
.cardBody {
  height: 220px;
}
.cardFooter {
  background-color: transparent;
  border: none;
  padding: 1.75rem 1.25rem;
}
