.buttonWrapper {
  position: relative;
  height: 40px;
  padding: 10px 10px 0px 10px;
  display: flex;
  right: 15px;
  gap: 10px;
  left: 25px;
  width: 400px;
  .addTeamMemberButtonWrapper {
    width: 100%;
  }
  .editTeamButtonWrapper {
    width: 100%;
    margin-left: auto;
  }
}

.backToTeamsButton {
  position: relative;
  right: 15px;
  bottom: 20px;
}

.listGroup {
  position: relative;
  min-width: 640px;
  width: 100%;
  height: 100%;
}

.imageAndButtons {
  width: 100%;
  justify-content: space-between;
  padding-bottom: 20px;
}

.imageAndText {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  left: 30px;
}

.teamImage {
  position: relative;
  bottom: 12px;
  margin-right: 15px;

  border-radius: 10px;
  object-fit: cover;
}

.teamNameText {
  position: relative;
  color: #15151a;
  width: 300px;
}
