@use "../../../styles/variables" as *;

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cardContent {
  flex: 1 1 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.backgroundImageContainer {
  position: relative;
  flex: 0 1 120px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-size: cover;
}

.backgroundImage {
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.01) 84%, rgba(0, 0, 0, 0) 85%);
}

.logoContainer {
  position: relative;
  top: 20px;
  left: 30px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  color: $darkColor;
}

.subTitle {
  font-size: 14px;
  font-weight: bold;
  color: $efuseBlue;
  margin: 10px auto;
}

.description {
  font-size: 14px;
  margin: 10px auto 30px;
  height: 100%;
  --max-lines: 5;
  max-height: 152px;
  overflow: hidden;
}

.buttonWrapper {
  width: 100%;
  margin-top: auto;
  margin-bottom: 10px;
}
