@use "../../../styles/_variables" as *;
@use "../../../styles/mixins" as *;

.label {
  width: 100%;
  height: 100%;
  display: block;
}

.hoverEffect {
  &:hover {
    border: 1px solid $brandeisBlue;
    box-shadow: 0px 6px 30px rgba(0, 108, 250, 0.5), 0px 5px 4px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 6px 30px rgba(0, 108, 250, 0.5)) drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.15));
    border-radius: 12px;
  }
}

.wrapper {
  background: $whiteColor;
  border-radius: 10px;
  height: 100%;
  width: 100%;

  .content {
    display: flex;
    background: $whiteColor;
    flex-direction: column;
    border-radius: 10px;
    cursor: pointer;

    .checkboxInput {
      display: none;
    }

    .header {
      border-bottom: 1px solid $borderGrey;
      height: 9.5rem;
      position: relative;
      background-size: cover;
      background-blend-mode: color, normal, normal;
      background-position: center;

      .title {
        position: absolute;
        bottom: 10px;
        left: 20px;
        color: $whiteColor;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 24px;
        text-transform: uppercase;
      }

      .headerImage {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
      }

      .checkboxWrapper {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        padding-top: 35px;

        .checkMark {
          height: 32px;
          width: 32px;
          display: inline-block;
          background: $brandeisBlue;
          border-radius: 50%;
          padding: 5px 6px;
          .icon {
            font-size: 18px;
            color: $whiteColor;
          }
        }
        .selectedText {
          color: $whiteColor;
          margin-bottom: 0px;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }
    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      padding: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      flex: 1;
      text-align: left;

      & > div {
        @include clampText(1);
      }

      .lightGrey {
        color: $textLight;
      }
    }
  }
}
