@use "../../../styles/mediaQueries" as *;

.alignScores {
  justify-content: flex-end !important;
  @include media991AndBelow {
    justify-content: center !important;
  }
}

.socialImpactIconsWrap {
  display: flex;
  position: relative;
  justify-content: center;
  @include media991AndBelow {
    position: unset;
    justify-content: center;
    margin-top: 15px;
  }
  @include media767AndBelow {
    top: 18px;
    display: inline-flex;
  }
}
