@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;

.bodyStyle {
  animation: none;
}

#internalWrapper {
  position: relative;
  color: $textWeak;
}

.internalContentSubheader {
  padding-top: 80px;
  padding-bottom: 2rem;
  background-color: $backgroundColor;
  @include maxMediaQuery(768px) {
    padding-left: 0px;
  }
}

.addSubheaderMargin {
  padding-top: 130px;
}

.webviewInternalContent {
  padding-top: 0px !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.fluid {
  margin: auto;
  max-width: 1164px;
}

.maxWidth {
  max-width: 100% !important;
}

.noPadding {
  padding-right: 0px;
  padding-left: 0px;
}

.containsSubheaderExact {
  padding-top: 100px;
}
