@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.divStyle {
  position: relative;
  bottom: 6px;
  text-align: center;
}

.pStyle {
  @include boxShadowSmall();
  border: solid 1px $cardBorder;
  background-color: $cardBackground;
  font-size: 12px;
  font-weight: bold;
  color: $textStrong;
  padding: 7px 15px;
  border-radius: 8px;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.mocking {
  background-color: rgba(204, 37, 37, 0.265);
  &:hover {
    background-color: rgba(204, 37, 37, 0.49);
  }
}
