@use '../../../../styles/variables' as *;
@use '../../../../styles/mediaQueries' as *;

.closeBtn {
  position: absolute;
  z-index: 5;
  top: -3px;
  right: 20px;
}

.pickerSelect {
  background: white;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;

  @include media991AndBelow() {
    display: block;

    .settingButton {
      margin: 5px;
    }
  }
}

.settingButton {
  display: inline-block;
}

.passwordInput {
  ul {
    margin: 0px;
  }
}
