@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;

.progress {
  position: relative;
}

.progressBar {
  height: 36px;
  border-radius: 30px;
  width: 280px;
  position: relative;
  background-color: $dimGrey;
  margin: auto;
}

.progressBarInfo {
  position: absolute;
  top: 0;
  left: 30px;
}

.progressBarIcon {
  position: relative;
  top: 8px;
  left: 20px;
  font-size: 18px;
  color: $mainHighLight;
}

.progressBarTitle {
  position: relative;
  top: 5px;
  left: 40px;
  font-size: 12px;
  font-weight: 600;
  color: $mainHighLight;
}

.progressBarValue {
  position: relative;
  top: 5px;
  left: 120px;
  font-size: 12px;
  font-weight: bold;
  color: $mainHighLight;
  @include media400AndBelow {
    left: 100px;
  }
}
