@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;

.notificationWrapper {
  position: relative;

  @include media767AndBelow() {
    position: static;
  }
  .badge {
    position: absolute;
    top: 2px;
    right: 0px;
    font-size: 8px;
    background-color: $leaderboardBlue;
    color: $mainHighLight;
  }
}
