@use "../../../../styles/variables" as *;

.detail {
  margin-right: 50px;
}

.title {
  color: $whiteColor;
  opacity: 0.6;
  font-size: 12px;
}

.detailValue {
  color: $whiteColor;
  opacity: 0.87;
  font-size: 14px;
  margin-top: 3px;
}

.detailContent {
  display: flex;
  align-items: center;
}

.avatar {
  height: 20px;
  width: 20px;
  border: 1px solid $greyColor;
  border-radius: 50px;
  margin-right: 8px;
}
