@use "../../styles/variables" as *;

.websiteChip {
  padding: 5px 20px;
  background: $mainNavColor;
  border-radius: 15px;
  display: inline-block;
  color: $mainHighLight;
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 15px;
  &:hover {
    background-color: $mainBodyColor;
    color: $mainNavColor;
    text-decoration: none;
  }
}
