@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  background-color: $mainHighLight;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 260px;
  @include boxShadow();
  .header {
    background-color: $mainNavColor;
    color: $mainHighLight;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 6px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 600;
  }
  .impactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    height: 100%;
    width: calc(100% + 20px);
    text-align: center;
    margin: -10px;
    .impact {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 10px;
      transition: 250ms;
      &:hover {
        cursor: pointer;
        background-color: $blueLowShadow;
        .title,
        .number {
          color: $darkColor;
        }
      }
      .title {
        color: $textDark;
        padding-top: 15px;
        font-weight: 200;
        font-size: 1.9em;
      }
      .number {
        color: $textDark;
        font-weight: 700;
        font-size: 2.6em;
        margin-top: -10px;
      }
      .viewMore {
        color: $tagColor;
        margin-top: -10px;
      }
    }
  }
  @include media1366AndBelow() {
    .title {
      font-size: 1.6em !important;
    }
  }
  @include media991AndBelow() {
    height: auto;
    .impactContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
}
