@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.details {
  display: flex;
  flex-direction: column;
  position: static;
  height: 33px;
  left: 0;
  margin-top: 5px;
}

.startDate {
  @include listCardDetailsSmall;
  color: $royalBlue;
}

.owner {
  @include listCardDetailsExtraSmall;
  color: $textLight;
}
