@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.skillCard {
  height: 140px;
  display: flex;
  flex-direction: column;
  border: 1px solid $cardBorder;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  position: relative;
  .value {
    @include resetPaddingMargin();
    color: $textStrong;
    padding: 0px 15px 15px 15px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .label {
    position: absolute;
    bottom: 15px;
    font-size: 0.7rem;
    color: $textStrong;
    text-transform: capitalize;
    left: 50%;
    transform: translateX(-50%);
    @include resetPaddingMargin();
  }
}
