@use "../../../styles/themevariables" as *;
@use "../../../styles/animations" as *;

.callWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  .callText {
    font-weight: 600;
    font-size: 1.2em;
    color: $textStrong;
  }
  .buttonWrapper {
    margin-left: 1em;
  }
}

.addGlow {
  border-radius: 10px;
  @include dragGlow(12s, infinite, linear, #2e89ffad);
}
