@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.marginItem {
  margin: 8px 0px;
}
.teamContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1em;
  border-radius: 5px;
}
.buttonWrapper {
  width: 100%;
  text-align: right;
  margin-top: 20px;
}
.selectBoxWrapper {
  flex-shrink: 0;
}
.teamName {
  font-weight: bold;
  margin-right: 8px;
}
.inputFieldContainer {
  margin-left: auto;
  max-width: 100px;
  margin-right: 12px;
  .inputField {
    @include inputFieldBorderBottom();
    margin: 0px;
  }
}
.uploadContainer {
  padding: 1em;
  .uploadText {
    margin-bottom: 5px;
    color: $mainNavColor;
    font-size: 0.9em;
    font-weight: bold;
  }
}
.updateImageWrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.08);
  border-top: 1px solid $lightCardBorder;

  .imageWrapper {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 250px;

    .matchImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.vsContainer {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding-top: 5px;
}
