@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.headerList {
  margin: 0px;
}

.headerItem {
  border: none;
  background-color: transparent;
  display: inline;
  text-align: center;
  padding: 0.75rem 0.25rem;
  font-size: 14px;
  font-weight: bold;
  color: $mainNavColor;
  @include media767AndBelow() {
    text-align: center;
  }
  &:first-child {
    text-align: left;
  }
}
@include media767AndBelow() {
  .responsive {
    display: none;
  }
}
