@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.buttonContent {
  @include media767AndBelow {
    display: none;
  }
}

.dropdown {
  display: none;
  @include media767AndBelow {
    display: inline-block;
  }
}

.icon {
  display: inline-block;
  margin: 5px;
}

.efuseBtn {
  width: 40px;
  height: 40px;
  border-radius: 28px;
  border: solid 1px $lightCardBorder;
  position: relative;
  bottom: 9px;
  cursor: pointer;
}
.mark {
  width: 27px;
  height: 27px;
  object-fit: contain;
  position: relative;
  left: 6px;
  top: 5px;
}
