@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.header {
  font-size: 0.9em;
  font-weight: 600;
  padding-bottom: 0.5rem;
  color: $mainNavColor;
  margin-bottom: -5px;
  margin-top: 1.5em;
}
.card {
  margin-top: 0.5rem;
}
.container {
  background-color: $mainHighLight;
  &:first-child {
    .topText {
      border-top: none !important;
    }
  }
  .topText {
    padding: 10px;
    padding-bottom: 10px;
    border-top: 1px solid $hrBorder;
    border-bottom: 1px solid $hrBorder;
    display: flex;
    align-content: center;
    align-items: center;
    .organizationIcon {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      object-fit: cover;
    }
    .organizationName {
      padding: 0px;
      margin: 0px;
      padding-left: 5px;
      font-weight: 600;
      color: $darkColor;
      font-size: 0.8em;
    }
    &:hover {
      .organizationName {
        color: $tagColor;
      }
      cursor: pointer;
    }
  }
  .opportunityContainer {
    * {
      padding: 0px;
      margin: 0px;
    }
    padding: 10px 10px 10px 10px;
    .opportunityTitle {
      font-size: 0.8em;
      color: $darkColor;
      font-weight: 600;
      @include clampText(1);
    }
    .opportunityCategory {
      font-size: 0.8em;
      color: $textDark;
    }
    &:hover {
      .opportunityTitle {
        color: $tagColor;
      }
      cursor: pointer;
    }
  }
}
