@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.progressBar {
  @include modalFormProgressbar();
}

.contentContainer {
  height: 700px;
}

.optionalLabel {
  font-size: 12px;
  font-weight: bold;
  color: $grey;
}
