@use "../../styles/variables" as *;

.enableHorizontalScroll {
  flex: none;
}

.column {
  height: 100%;
  width: 425px;
  display: flex;
  flex-direction: column;
  padding: 0 30px 100px;
  border-right: 1px solid $borderLight;

  .columnContainer {
    height: 100%;
    position: relative;
    display: block;
    flex-direction: column;
  }

  .headerSection {
    display: flex;
    height: 45px;
    align-items: center;

    .columnTitle {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
    }

    .subheader {
      margin-left: auto;
      margin-right: 10px;
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: $textLight;
    }
  }

  .cardMargin {
    margin: 5px 0;
  }
}
