@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.headerHighlightWrapper {
  position: relative;
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 8px;
  margin-bottom: 2em;
  padding: 0em 1em;
  div {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    .image {
      transition: 150ms;
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      opacity: 0.8;
    }
    .imageGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .bottomText {
      position: absolute;
      z-index: 3;
      bottom: 0;
      left: 0;
      padding: 1em;
      width: 100%;
      background: rgb(168, 170, 176);
      background: linear-gradient(
        180deg,
        rgba(168, 170, 176, 0) 0%,
        rgba(58, 59, 64, 0.47076330532212884) 46%,
        rgba(29, 29, 33, 0.7424719887955182) 100%
      );
      @include resetChildrenPaddingMargin();
      .title {
        font-weight: 700;
        line-height: 1.3;
        font-size: 1.1em;
        color: $mainHighLight;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
      }
      .bottomSubText {
        display: none;
      }
    }
    &:nth-child(1) {
      grid-row: 1/3;
      grid-column: 2;
      .image {
        width: 100%;
        height: 100%;
      }
      .bottomText {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
        .title {
          font-size: 1.6em;
        }
        .bottomSubText {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          padding-top: 8px;
          .name {
            color: $mainHighLight;
            font-weight: 700;
            font-size: 0.8em;
          }
          .date {
            padding: 0px;
            margin: 0px;
            font-size: 0.8em;
            margin-left: 10px;
            color: $tagColor;
            font-weight: 600;
            margin-left: auto;
          }
        }
      }
      .imageGradient {
        background: rgb(69, 170, 227);
        background: linear-gradient(
          180deg,
          rgba(69, 170, 227, 0.3671218487394958) 0%,
          rgba(16, 94, 161, 0.6640406162464986) 100%
        );
      }
    }
    &:nth-child(2) {
      .imageGradient {
        background: rgb(69, 227, 143);
        background: linear-gradient(
          180deg,
          rgba(69, 227, 143, 0.3671218487394958) 0%,
          rgba(21, 161, 16, 0.6640406162464986) 100%
        );
      }
    }
    &:nth-child(3) {
      .imageGradient {
        background: rgb(227, 175, 69);
        background: linear-gradient(
          180deg,
          rgba(227, 175, 69, 0.3671218487394958) 0%,
          rgba(161, 89, 16, 0.6640406162464986) 100%
        );
      }
    }
    &:nth-child(4) {
      .imageGradient {
        background: rgb(199, 69, 227);
        background: linear-gradient(
          180deg,
          rgba(199, 69, 227, 0.3671218487394958) 0%,
          rgba(101, 16, 161, 0.6640406162464986) 100%
        );
      }
    }
    &:nth-child(5) {
      .imageGradient {
        background: rgb(227, 69, 109);
        background: linear-gradient(
          180deg,
          rgba(227, 69, 109, 0.3671218487394958) 0%,
          rgba(161, 16, 26, 0.6640406162464986) 100%
        );
      }
    }
    &:hover {
      cursor: pointer;
      .image {
        transform: scale(1.05);
      }
    }
  }
  @include media991AndBelow() {
    div {
      .title {
        font-size: 0.9em !important;
        @include clampText(2);
      }
      &:first-child {
        .bottomSubText {
          display: block !important;
        }
        .title {
          font-size: 1.1em !important;
        }
        .name,
        .date {
          font-size: 0.7em !important;
        }
      }
    }
  }
  @include media767AndBelow() {
    div {
      .title {
        font-size: 0.72em !important;
        @include clampText(3);
      }
      &:first-child {
        .title {
          font-size: 1em !important;
        }
      }
    }
  }
  @include maxMediaQuery(520px) {
    grid-template-columns: repeat(2, 1fr);
    div {
      &:first-child {
        grid-column: 1/3;
      }
    }
  }
}
