@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.questionWrapper {
  width: 100%;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
  color: $mainNavColor;
  border: solid 1px $lightCardBorder;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: -12px;
  margin-bottom: 20px;
  .questionTitle {
    @include resetPaddingMargin();
    color: $darkColor;
    font-weight: 600;
    padding-bottom: 3px;
    font-size: 0.9em;
  }
  .icon {
    margin-right: 5px;
  }
  .questionContainer {
    display: flex;
    align-items: center;
    .questionText {
      margin-left: 5px;
    }
    .trashIcon {
      margin-left: auto;
      &:hover {
        cursor: pointer;
        color: $removeIcon;
      }
    }
    @include media767AndBelow() {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.addButtonContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1em;
  .addButton {
    margin-left: auto;
    border: 0;
    border-radius: 5px;
    background-color: $mainNavColor;
    padding: 8px 15px;
    font-size: 0.8em;
    color: $mainHighLight;
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.1), 0 7px 10px -2px rgba(0, 0, 0, 0.1);
    &:hover {
      cursor: pointer;
    }
    .plusIcon {
      margin-right: 5px;
      font-size: 0.9em;
    }
  }
}
