.mainTitle {
  font-size: 1.5rem;
}

.costContainer {
  margin: 25px 0;
}

.paymentMethodHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.paymentMethodContainer {
  background-color: #e6e6e6;
  margin: auto;
  margin-bottom: 10px;
  display: block;
  max-width: 300px;
  text-align: center;
  padding: 10px;

  & > label {
    & > input {
      margin-right: 10px;
    }
    display: block;
  }
}

.error {
  color: red;
  margin: 5px 0;
}

.paymentMethodMessage {
  display: block;
  padding: 50px 0;
  color: #848484;
}

.promocodeContainer {
  max-width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
}

.paymentMethodOutsideContainer {
  max-width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
}

.applicationCostLabel {
  font-size: 0.9rem;
  color: grey;
}

.applicationCostText {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.invalidFormInput {
  margin-top: -10px;
  color: red;
  font-size: 0.8rem;
  min-height: 0.8rem;
}

.activePromocode {
  padding: 4px 8px;
  border: 1px dashed #000;
}
