@use "../../styles/variables" as *;

.badge {
  display: inline-block;
  color: $whiteColor;
  font-weight: bold;
  border-radius: 20px;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.blue {
  background-color: $efuseBlue;
}

.red {
  background-color: $efuseOrange;
}

.small {
  min-width: 15px;
  height: 15px;
  font-size: 10px;
  padding: 0 4px;
}

.medium {
  width: 20px;
  height: 20px;
  font-size: 12px;
  padding: 1px 4px;
}
