@use "../../styles/variables" as *;

@mixin selectBoxStyle($caretDisplayColor, $caretOverrideColor, $selectBoxColor, $top: 15px, $right: 18px) {
  .downArrow {
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: $top;
      right: $right;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $caretDisplayColor;
    }
    &:before {
      border-top-color: $caretDisplayColor;
    }
    &:after {
      top: $top - 3px;
      border-top-color: $caretOverrideColor;
    }
  }
  select {
    -webkit-appearance: none;
    color: $selectBoxColor;
    background-color: #f4f4f4;
    border: 1px solid rgb(206, 212, 218);

    &:invalid ~ .downArrow {
      display: none;
      &.show {
        display: inherit;
      }
    }
    &:valid {
      box-shadow: none;
      background-image: none !important;
    }
  }
}

.selectBox {
  position: relative;
  &.internal {
    @include selectBoxStyle($textDark, $lowShadow, $textDark);
  }

  &.external {
    @include selectBoxStyle($textLight, $lowShadow, $textLight);
  }

  &.borderLess {
    @include selectBoxStyle($mainHighLight, transparent, $mainHighLight, 28px);
  }

  &.filter {
    background-color: $mainHighLight !important;
    @include selectBoxStyle($mainNavColor, $mainHighLight, $mainNavColor, 17px, 10px);
  }
}
