.cardListContainer {
  margin: 20px 0px 0px;
}

.cardList {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-gap: 19px;
  align-items: center;
}

.createLeagueCard,
.leagueCardContainer {
  height: 100%;
}
