.contentContainer {
  text-align: center;
}

.title {
  &.small {
    font-size: 20px;
  }
  &.large {
    font-size: 24px;
  }
  font-weight: bold;
}

.subTitle {
  &.small {
    font-size: 16px;
  }
  &.large {
    font-size: 20px;
  }
  font-weight: bold;
}
