@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  overflow: hidden;
  .tabBody {
    padding: 10px;
    padding-top: 20px;
    background-color: $mainHighLight;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    z-index: -2;
  }
  .tabHeader {
    position: relative;
    z-index: 3;
    background-color: $mainNavColor;
    font-weight: 600;
    font-size: 1.1rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    // box-shadow: 0 4px 2px -1px rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-weight: 650;
    border: none;
    a {
      color: $mainLowLight;
    }
  }
}
