@use "../../../../../styles/mixins" as *;

.reactQuill {
  @include reactQuillStyle();
}

.questionWrapper {
  padding-bottom: 1em;
}

.buttonWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
