@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;

.large {
  .progressBar {
    width: 356px;
    @include media767AndBelow {
      width: 300px;
    }
    @include media400AndBelow {
      width: 260px;
    }
  }

  .progressBarInfo {
    left: 0px;
  }

  .progressBarValue {
    left: 165px;
    @include media767AndBelow {
      left: 110px;
    }
    @include media400AndBelow {
      left: 75px;
    }
  }
}

.medium {
  .progressBar {
    width: 280px;
    margin: 0rem auto 1rem;
  }
  .progressBarInfo {
    left: 30px;
  }
  .progressBarValue {
    left: 110px;
    @include media400AndBelow {
      left: 100px;
    }
  }
}

// Common styles
.progress {
  position: relative;
}

.progressBar {
  height: 36px;
  border-radius: 30px;
  position: relative;
  background-color: $dimGrey;
}
.progressBarIcon {
  position: relative;
  top: 8px;
  left: 20px;
  font-size: 18px;
  color: $mainHighLight;
}

.progressBarTitle {
  position: relative;
  top: 5px;
  left: 40px;
  font-size: 12px;
  font-weight: 600;
  color: $mainHighLight;
  cursor: pointer;
}

.progressBarInfo {
  position: absolute;
  top: 0px;
}

.progressBarValue {
  position: relative;
  top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: $mainHighLight;
}
