@use "../../../styles/variables" as *;

.greyHorizontalRule {
  border: 1px solid $borderGrey;
}

.cardListContainer {
  margin-top: 20px;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
  grid-gap: 19px;
  align-items: center;
}

.createLeagueCard,
.leagueCardContainer {
  height: 100%;
}
