@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;

.bodyStyle {
  animation: none;
}

.internalWrapper {
  position: relative;
  color: $textWeak;

  .internalContent {
    padding-top: 122px;
    padding-bottom: 2rem;
    @include maxMediaQuery(768px) {
      padding-left: 0px;
    }
  }
}

.noTopMargin {
  margin-top: 0px !important;
}

.noPadding {
  padding-right: 0px;
  padding-left: 0px;
}

.maxWidth {
  max-width: 100% !important;
}
