@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.topContainer {
  margin-top: 10px;
}

.orgBtnWrapper {
  display: flex;
  margin-bottom: 20px;
  .link {
    @include boxShadow();
    background-color: $cardBackground;
    color: $textWeak;
    border: 1px solid $cardBorder;
    margin-right: 20px;
    border-radius: 5px;
    min-width: 80px;
    text-align: center;
    &:hover {
      color: $textStrong;
      background-color: $cardHighlight;
    }
  }
  .active {
    color: $primaryColor;
    background-color: $cardHighlight;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 4px solid $primaryColor;
  }
  .create {
    margin-left: auto;
  }
}

.searchBox {
  border: solid 1px $cardBorder;
  border-radius: 10px;
  box-shadow: 0 2px 5px -2px rgb(0 0 0 / 20%);
  margin-bottom: 15px;
  padding: 10px 15px 0px;
}
