@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.footerContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
  .containerOne {
    height: 55%;
    position: absolute;
    right: 0;
    top: 50.9%;
    background: linear-gradient(to bottom, rgba(46, 135, 255, 0.8), rgba(0, 0, 0, 0.2)),
      url("https://cdn.efuse.gg/uploads/static/landing-page/bottomBanner-resized.jpg") #231f20 no-repeat center center;
    background-blend-mode: color, normal;
    background-size: cover;
    width: 100%;
    z-index: -99;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  .footerContent {
    width: 100%;
    text-align: center;
    min-height: 400px;
    .logoImg {
      margin: 0 auto;
      .logo {
        width: 206px;
      }
    }
    .btn {
      z-index: 999;
      padding-top: 44px;
      .btnLayout {
        width: 180px;
        height: 40px;
        display: inline-block;
        margin: 5px;
      }
      .login {
        background-image: linear-gradient(to bottom, $efuseBlueContrast, $efuseBlue);
      }
      .signup {
        background-image: linear-gradient(to bottom, $orange, $redContrast 114%);
      }
    }
    .text {
      font-size: 14px;
      letter-spacing: 2px;
      color: #ffffff;
      margin-top: 35px;
      text-transform: uppercase;
    }
    @include media767AndBelow {
      .btn {
        height: 45px;
        // margin-top: 28px;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 22px;
        text-transform: uppercase;
        .btnLayout {
          width: 238px;
          height: 40px;
          border: none;
        }
        .text {
          font-size: 14px;
          width: 80%;
          text-align: center;
          margin: 0 auto;
          padding: 32px 0;
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
          line-height: normal;
        }
      }
      .logoImg {
        .logo {
          width: 160px;
        }
      }
    }
  }
  @include media767AndBelow {
    .containerOne {
      height: 900px;
    }
  }
}
