@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.filterModalWrapper {
  position: absolute;
  top: 0;
  right: 0;
  @include media400AndBelow() {
    top: -10px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.filterCardContent {
  position: relative;
  width: 360px;
  height: 550px;
  margin-bottom: 10px;
  padding: 18px 20px;
  overflow-y: auto;
  @include media400AndBelow() {
    width: 100vw;
  }
  .filterHeaderWrapper {
    display: flex;
    align-items: center;
    .filterHeaderText {
      @include resetPaddingMargin();
      color: $textStrong;
      font-weight: bold;
      font-size: 18px;
    }
    .closeButtonWrapper {
      margin-left: auto;
    }
  }
}

.applyButtonWrapper {
  padding: 0px 20px 18px 20px;
}
