@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.socialContainer {
  display: grid;
  grid-template-columns: 100% auto;
  padding: 1em;
  .socialIcon {
    width: 50px;
  }
  .textContainer {
    word-wrap: break-word;
    .advanced,
    .advancedThumb {
      float: right;
      color: $primaryColor;
      font-size: 0.8em;
    }
    .advanced:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    .thumb {
      font-size: 1.3em;
      margin-left: 2px;
    }
    .thumb:hover {
      cursor: pointer;
    }
    .socialTitle {
      color: $textStrong;
      font-size: 1em;
      font-weight: 650;
    }
    .socialName {
      color: $primaryColor;
      font-weight: 600;
      margin-top: -5px;
      font-size: 0.9em;
    }
    .socialTime {
      color: $textWeak;
      margin-top: -15px;
      font-weight: 600;
      font-size: 0.9em;
    }
    .socialDescription {
      margin-top: -10px;
      color: $textStrong;
      font-weight: 550;
      font-size: 0.9em;
    }
  }
}
.divider {
  border-top: 1px solid $cardBorder;
  width: 100%;
  grid-column: 1/3;
  margin-top: -10px;
  margin-bottom: 5px;
}
.container:last-child .divider {
  display: none;
}

.reactQuill {
  @include reactQuillStyle();
}
