@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.listCard {
  @include cardBorder;
  display: flex;
  justify-content: flex-start;
  height: 135px;
}

.carousel-large {
  max-width: 360px;
}

.large {
  max-width: 678px;
  min-width: 360px;
}
