@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.teamDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  .memberItem {
    display: flex;
    align-items: center;
    flex: 0 95%;
    background-color: rgba(100, 112, 131, 0.192);
    color: $mainLowLight;
    border-radius: 5px;
    margin-top: 5px;
    width: 90%;
    height: 40px;
    font-size: 0.8em;
    @include boxShadow();
    .place {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      background-color: rgba(0, 0, 0, 0.13);
      border-radius: 50%;
      margin-left: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      @include boxShadow();
    }
    .text,
    .kills {
      padding: 0px;
      margin: 0px;
    }
    .text {
      padding-left: 10px;
    }
    .kills {
      text-transform: uppercase;
      margin-left: auto;
      padding-right: 15px;
    }
  }
}
