@use "../../styles/variables" as *;

.switchWrapper {
  position: relative;
  .switchLabel {
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: $tagColor;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-bottom: 0px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: $mainBodyColor;
        &:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
          background-color: $tagColor;
        }
      }
      &:focus + .slider {
        box-shadow: 0 0 1px $mainBodyColor;
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $textDark;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;
      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 2px;
        bottom: 2px;
        background-color: $mainHighLight;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
    .onSwitchStyle {
      background-color: #008dff !important;
      &:before {
        background-color: #ffffff !important;
      }
    }
    .offSwitchStyle {
      background-color: #dcdcdc;
      &:before {
        background-color: #ffffff !important;
      }
    }
    .disabled {
      opacity: 0.5;
    }
  }
}
