@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.buttonWrapper {
  display: inline-block;
}

.add {
  position: absolute;
  right: 12px;
  top: 19px;
}
.seeAllBtn {
  @include showMoreBtn();
  bottom: 15px;
}

.seeLessBtn {
  @include showMoreBtn();
  bottom: 25px;
}
