@use "../../../../../../styles/mixins" as *;
@use "../../../../../../styles/themevariables" as *;
@use "../../../../../../styles/mediaQueries" as *;

.avatar {
  padding-top: 1rem;
  min-width: 50px;
  @include media320AndBelow {
    min-width: 45px;
  }
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $cardBorder;
  margin-bottom: 1rem;
}
.commentWrapper {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  word-break: break-all;

  @include commentsAvatar();
  .comment {
    flex: 1;
    padding: 1rem;
    background: $cardBackground;
    border-radius: 0.5rem;
    @include media320AndBelow {
      margin: 0px;
      padding-left: 3px;
      padding-right: 2px;
    }
    @include media991AndBelow {
      margin-left: 0;
    }
    .nameWrapper {
      display: flex;
      .name {
        flex: 1;
        color: $textStrong;
        margin-bottom: 0;
        font-size: 0.9rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        .streak {
          margin-left: 5px;
        }
        .verifyIcon {
          width: 18px;
          margin-left: 5px;
          margin-top: -4px;
        }
      }
      .dropdown {
        a {
          transform: rotate(90deg);
          margin-top: 0px;
          margin-left: 5px;
        }
      }
    }
    .username {
      color: $textWeak;
      padding: 0;
      font-size: 0.8rem;
      margin: -2px 0px 0px;
      .options {
        display: flex;
      }
    }

    .text {
      color: $textStrong;
      font-size: 0.9rem;
      margin-bottom: 0;
      word-break: break-word;
      white-space: pre-wrap;
      padding-bottom: 10px;
      padding-top: 5px;
    }
    &.thread {
      padding-left: 0;
    }
  }
  &.thread {
    margin-left: 50px;
    @include threadAvatar();
    .nameWrapper {
      .name {
        font-size: 0.8rem;
      }
      small {
        font-size: 70%;
      }
    }
    .roles {
      font-size: 0.7rem;
    }
    .text {
      font-size: 0.7rem;
    }
  }
}
