@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.bucket {
  width: 100%;
  margin-right: 8px;
  &:last-child {
    margin-right: 0px;
  }
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 9px 7px -2px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 280px;
  .bucketBackground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 10px;
  }
  &:hover {
    cursor: pointer;
    .bucketImage,
    .bucketOverlay {
      transform: scale(1.05);
    }
  }
  .bucketOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 270px;
    z-index: 2;
  }
  .bucketImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms;
  }
  .bucketText {
    z-index: 2;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    padding: 3px 18px;
    border-radius: 5px;
    color: $mainHighLight;
    background-color: rgba(0, 0, 0, 0.2);
  }
  @include media991AndBelow() {
    .bucketImage,
    .bucketOverlay {
      height: 210px;
    }
    width: 180px;
    height: 252px;
  }
  @include media767AndBelow() {
    .bucketImage,
    .bucketOverlay {
      flex-shrink: 0;
      width: 150px;
    }
    .bucketText {
      font-size: 0.7em;
    }
    width: 140px;
    height: 196px;
  }
}
