@use "../../styles/variables" as *;

.info {
  border-radius: 13px;
  backdrop-filter: blur(4px);
  background-color: $mainNavColor;
  padding: 2px 15px;
  font-size: 14px;
  font-weight: bold;
  color: $mainHighLight;
  display: inline-block;
  margin: 5px;
}
