@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.wrapper {
  position: relative;
  height: auto;
  width: auto;
  .plusIcon {
    margin-right: 20px;
  }
  .textAction {
    text-align: center;
    width: 100%;
    padding: 20px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: $textWeak;
  }
  .overlay {
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: dashed;
    color: $efuseBlue;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .smallText {
    font-size: 0.7em;
    .plusIcon {
      margin-right: 5px;
    }
  }

  .removeBorder {
    border: none;
  }

  .removeShadow {
    &:hover {
      background-color: transparent;
    }
  }
}
