@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.verticalList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media767AndBelow() {
    display: none;
  }

  .promotedHeader {
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;

    * {
      @include resetPaddingMargin();
    }

    h1 {
      color: $textStrong;
      font-size: 16px;
      font-weight: bold;
    }

    p {
      margin-left: 20px;
      color: $textStrong;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

.total {
  @include resetPaddingMargin();
  margin-bottom: 10px;
  color: $textWeak;
  font-size: 12px;
  font-weight: bold;
}

.opportunityCard {
  margin-bottom: 10px;
}
