@use "../../../../styles/mediaQueries" as *;

.eventsScrollWrapper {
  display: flex;
  justify-content: center;
  margin: 35px auto 0;
}

.listWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 14px;

  @include media991AndBelow() {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media767AndBelow() {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}
