.unlink {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  color: #c4302b;
  cursor: pointer;
}

.waitingStatsRoot {
  margin: 10px;
  vertical-align: middle;

  .unlink {
    margin-right: 0;
    margin-top: auto;
  }
}
