@use "../../../../styles/variables" as *;
.appLink {
  display: inline-flex;
  display: flex;
  justify-content: flex-start;
  .or {
    margin: 0 3px;
  }
  .btn {
    padding: 0;
    text-decoration: underline;
    color: $greyVariant;
    text-shadow: none;
    background: transparent;
    border: none;
    outline: none;
    &:hover,
    &:focus {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}
.links {
  a {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: $greyVariant;
    text-decoration: underline;
  }
}
.conversationList {
  list-style-type: none;
  margin: 30px 0;
}
.item {
  display: flex;
  .fontIcon {
    line-height: 3;
    width: 44px;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    padding-top: 10px;
    .icon {
      font-size: 23px;
    }
  }
}

.textContainer {
  flex: 1;
}
