.errorWrapper {
  font-family: Poppins, sans-serif;

  .tetrisContainer {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    [class~="piece-view"] {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    [class~="game-block"] {
      margin: 0;
      padding: 0;
      width: 1.25em;
      height: 1.25em;
      border: 1px solid rgb(198, 200, 202);
    }
    [class~="piece-i"] {
      background-color: #ec858b;
    }
    [class~="piece-j"] {
      background-color: #f1b598;
    }
    [class~="piece-l"] {
      background-color: #f8efae;
    }
    [class~="piece-o"] {
      background-color: #b5a677;
    }
    [class~="piece-s"] {
      background-color: #816e56;
    }
    [class~="piece-t"] {
      background-color: #b77c72;
    }
    [class~="piece-z"] {
      background-color: #e3be58;
    }
    [class~="piece-preview"] {
      background-color: #eee;
    }
  }

  .tetrisLeftContainer {
    height: auto;
    width: 100%;
    min-height: 100%;
    background-color: #f6f6f6;
    border-right: 1px solid rgb(198, 200, 202);
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 992px) {
      border-right: none;
      border-bottom: 1px solid rgb(198, 200, 202);
    }
  }

  .tetrisTextCenter {
    color: #4e4e5c;
    text-align: center;
    font-size: 1.1em;
    padding: 1em;
    margin-top: 60px;
  }

  .tetrisParts {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .tetrisTitle {
    font-weight: 400;
    padding-top: 1em;
    margin-bottom: 0.5em;
    padding-bottom: 0.25;
    color: #737385;
    text-align: center;
    min-width: 340px;
  }

  .tetrisPoints {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-width: 300px;
    margin-bottom: -2em;
  }

  .tetrisPPoints {
    font-weight: 400;
    color: #737385;
    font-size: 1em;
  }

  .tetrisPLines {
    font-weight: 400;
    color: #737385;
    justify-self: right;
    font-size: 1em;
  }

  .tetrisGameQueue {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      margin-left: 1em;
      transform: scale(0.85);
    }
  }

  .errorImage {
    color: #b7b7b7;
    margin-bottom: 10px;
  }
}
