@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.teamsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .teamContainer {
    @include generalCardStyles();
    &:nth-child(even) {
      margin-left: auto;
    }
    margin-bottom: 10px;
    width: 49.5%;
    padding: 1em;
    padding-bottom: 0px;
    @include media767AndBelow() {
      width: 100%;
    }
    .teamNameWrapper {
      @include resetChildrenPaddingMargin();
      display: flex;
      align-items: center;
      border-bottom: 1px solid $hrBorder;
      padding-bottom: 8px;
      .teamName {
        color: $darkColor;
        font-weight: bold;
      }
      .teamScore {
        color: $darkColor;
        margin-left: auto;
      }
    }
  }
  .playersWrapper {
    display: flex;
    align-items: center;
    .playerContainer {
      @include resetChildrenPaddingMargin();
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      margin-right: 10px;
      max-width: 150px;
      &:last-child {
        margin-right: 0px;
      }
      .playerName {
        color: $textDark;
      }
      .playerInputField {
        @include inputFieldBorderBottom();
      }
    }
  }
}
