@use "../../../../styles/mixins" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.chatWindowWrapper {
  position: fixed;
  right: 1rem;
  bottom: 0px;
  min-width: 280px;
  z-index: 3;
  @include boxShadow();
  border-radius: 10px 10px 0px 0px;

  .windowHeader {
    padding: 0.75rem 1.25rem;
    padding-bottom: 0.25rem;
    background-color: $mainNavColor;
    color: $mainHighLight;
    display: flex;
    align-items: center;
    h5 {
      flex: 1;
      .toggleBtn {
        font-weight: 500;
        padding: 0;
        font-size: 1.2rem;
        @include transparentBtn();
      }
    }
    .maximizeLink {
      margin-top: -3px;
    }
  }

  .chatWindowBody {
    display: none;
  }
}

.hideElement {
  display: block;

  @include media767AndBelow {
    display: none;
  }
}

.channelListHeader {
  display: flex;
  justify-content: space-between;

  & > svg {
    margin-top: 5px;
    color: $tagColor;
    width: 200px;

    &:hover {
      color: $btnLightShade;
      cursor: pointer;
    }
  }
}

.nameContainer {
  flex: 1;
}

.imageContainer {
  width: 50px;
  display: block;
  margin-right: 10px;

  & img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
}

.viewBtnContainer {
  flex: 1;
  text-align: right;
}

.mobileBackArrow {
  display: none;
  @include media767AndBelow {
    display: block;
  }
}
