@use "../../../../styles/mediaQueries" as *;

.topContainer {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > * {
    padding: 0 10px;
  }

  @include media768AndAbove {
    flex-direction: row;
  }
}

.header {
  margin-top: 30px;
  @include media768AndAbove {
    margin-top: 0px;
  }
}

.descriptionContainer {
  margin-bottom: 30px;
}
