@use "../../../../styles/mixins" as *;
@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;

@mixin badge($themeColor) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 8px;
  font-weight: 700;
  padding: 0 4px;
  border-radius: 20px;
  color: $alwaysWhite;
  border: 2px solid $themeColor;
  background-color: rgba(0, 0, 0, 0.6);
  white-space: nowrap;
}
.event {
  @include badge($eventsColor);
}
.job {
  @include badge($jobsColor);
}
.teamOpening {
  @include badge($teamOpeningsColor);
}
.scholarship {
  @include badge($scholarshipsColor);
}
