@use "../../../../styles/themevariables" as *;

.engagementCounters {
  position: relative;
  height: 40px;
  font-family: Poppins, sans-serif;

  .countersContainer {
    padding: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    height: 100%;

    .dot {
      color: $textWeak;
      font-size: 4px;
      margin: 0 5px;
    }
  }
}
