@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.backContainer {
  // background-color: $mainHighLight;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  .chevron {
    color: $efuseBlue;
  }
  .backText {
    padding-left: 8px;
    font-size: 1em;
    font-weight: bold;
    color: $textDark;
  }
}

.marginTop {
  margin-top: 32px;
}

.additionalInformationWrapper {
  margin-bottom: 1em;
  @include media991AndBelow() {
    margin-top: 1em;
  }
  @include media767AndBelow() {
    display: none;
  }
}
