@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.leaderboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 2em;
  margin-top: 1em;
  position: relative;
  z-index: 3;
  @include media767AndBelow() {
    grid-template-columns: 1fr;
  }
  .subTitle {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -5px;
    color: $mainLowLight;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  .mobileTeamsList {
    @include media767AndBelow() {
      display: none;
    }
  }
}
