@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.infoTextBox {
  padding: 12px 10px !important;
  font-size: 0.9em;
  margin-top: 5px !important;
  background-color: $lowShadow;
  color: $textDark;
  border-radius: 5px;
  .exclamation {
    color: $tagColor;
    margin-right: 5px;
  }
}
