@use "../../../../styles/variables" as *;

.centerCardContent {
  background-color: $mainNavColor;
  z-index: 5;
  width: 100%;
  height: 100%;
  .centerImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 200ms;
    &:hover {
      transform: scale(1.04);
      cursor: pointer;
    }
  }
}
