@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;

.shortNameContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  @include media991AndAbove {
    flex-wrap: nowrap;
  }
}

.shortNameURL {
  padding-right: 5px;
  padding-top: 10px;
  font-size: 0.9em;
}

.invalidUrl {
  margin-top: 4px;
  font-size: 0.75rem;
  color: $errorTextColor;
}
