.gamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  .gameWrapper {
    margin-right: 7px;
    margin-bottom: 5px;
  }
}

.small {
  margin-top: 65px !important;
}

.medium {
  margin-top: 85px !important;
}

.horizontalScroll {
  flex-wrap: inherit;
}
