@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.generalAccordionWrapper {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: $mainHighLight;
  &:hover {
    cursor: pointer;
  }
  .generalText {
    @include resetPaddingMargin();
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: $darkColor;
  }
  .infoCircle {
    margin-left: 10px;
    font-size: 12px;
    color: $darkColor;
  }
  .iconContainer {
    margin-left: auto;
    font-size: 12px;
    color: $darkColor;
    .icon {
      transition: 200ms;
    }
  }
}

.isOpen {
  background-position: left bottom;
  .iconContainer {
    .icon {
      transform: rotate(180deg);
    }
  }
}
