@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.titleBar {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  .textContainer {
    display: flex;
    .titleText {
      font-size: 24px;
      font-weight: 600;
      color: $mainNavColor;
      padding: 0px;
      margin: 0px;
    }
    .titleIcon {
      width: 35px;
      height: 29px;
      font-size: 28px;
      font-weight: 300;
      color: $efuseBlue;
      margin-right: 5px;
    }
    .purpleBolt {
      color: $boltColor;
    }

    .blackIcon {
      color: $mainNavColor;
    }

    .blueList {
      color: $leaderboardBlue;
    }

    @include media991AndBelow() {
      .titleText {
        font-size: 1.2em;
      }
      .titleIcon {
        width: 30px;
        height: 22px;
        margin-right: 5px;
        font-size: 22px;
      }
    }
  }
}
