@use "../../../../styles/variables" as *;

.page {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(0deg, $snow, $snow);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;

  &.noScroll {
    height: 100vh;
    overflow: hidden;
  }

  .header {
    flex-shrink: 0;
    padding-bottom: 20px;
  }

  .body {
    flex-grow: 1;
  }
}
