@use "../../../styles/mediaQueries" as *;

.modalIcon {
  font-size: 3.5rem;
  margin: 40px 0;

  @include media767AndBelow {
    font-size: 2.5rem;
    margin: 40px 0 10px 0;
  }
}

.modalTitle {
  font-size: 2rem;
  font-weight: bold;
  width: 95%;
  max-width: 700px;
  margin: auto;

  @include media767AndBelow {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.modalContent {
  font-size: 1.2rem;
  padding: 15px 20px;
  text-align: center;

  @include media767AndBelow {
    padding: 20px;
    font-size: 1rem;
  }
}

.modalButtons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & > * {
    display: block;
    margin: 15px auto;
    width: 95%;
    max-width: 600px;
    font-size: 1.5rem;

    @include media767AndBelow {
      font-size: 1.1rem;
      margin: 10px auto;
    }
  }

  @include media767AndBelow {
    margin-top: 25px;
  }
}
