@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mixins" as *;

.chatItemWrapper {
  @include listStyle();
  background-color: rgb(240, 240, 240);
  border-left: 3px solid transparent;
  padding: 1rem;
  overflow: hidden;

  &:first-child {
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  &:last-child {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
  &:hover {
    background: $lowShadow;
    border-left: 3px solid $mainNavColor;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    color: $mainNavColor;
  }
  .chatItemBtn {
    @include transparentBtn();
    display: flex;
    align-items: center;
    color: #4e555b;
    text-align: left;
    padding: 0;
    width: 100%;
    flex-direction: row;
    outline: none;
    .contentWrapper {
      flex: 1;
      display: flex;
      .description {
        @include clampText(1);
        margin-bottom: 0;
      }
    }
  }
}

.selected {
  background: white;
  border-left: 5px solid $mainNavColor;
  color: $mainNavColor;

  &:hover {
    background: white;
    border-left: 5px solid $mainNavColor;
    color: $mainNavColor;
  }
}

.readBadge {
  background: red;
  border-radius: 5px;
  padding: 0 10px;
  min-width: 20px;
  height: 25px;
  line-height: 25px;
  display: block;
  position: absolute;
  top: 35%;
  right: 20px;
  font-size: 17px;
  color: white;
}

.imageContainer {
  width: 50px;
  display: block;
  margin-right: 10px;

  & img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
}

.nameContainer {
  display: block;
  flex: 1;
}
