@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.mainHeader,
.subHeader {
  @include centerFlex();
}

.mainHeader {
  padding: 10px;
  .mainHeaderTitle {
    color: $mainHighLight;
    font-weight: 600;
    padding-left: 10px;
    font-size: 1.5em;
  }
  .brandLogo {
    height: 50px;
    @include media767AndBelow() {
      height: 40px;
    }
  }
  @include media767AndBelow() {
    padding: 5px;
    .mainHeaderTitle {
      font-size: 1.2em;
    }
  }
}

.subHeader {
  padding: 0px;
  .subHeaderTitle {
    color: $mainHighLight;
    font-weight: 600;
    padding-left: 10px;
    font-size: 1em;
    @include media767AndBelow() {
      padding: 10px;
    }
  }
  .tournamentLogoUrl {
    height: 50px;
    @include media767AndBelow() {
      display: none;
    }
  }
}
