@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.profileCustomizationWrapper {
  text-align: left;
  height: 100%;
  width: 100%;
  .profileWrapper {
    position: absolute;
    top: 220px;
    left: 60px;
    @include media991AndBelow() {
      top: 205px;
    }
    @include media767AndBelow() {
      top: 195px;
    }
  }
  .bioWrapper {
    margin-top: 4em;
  }
}
