@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;

.wrapper {
  position: relative;

  .heading {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -13px;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
    b {
      font-weight: 600;
      font-size: 12px;
      background: $alwaysWhite;
      padding: 0 8px;
    }
  }
  .line {
    width: 100%;
    border-top: 1px solid $cardBorder;
  }
  .commentWrapper {
    margin-top: 12px;

    &:hover {
      cursor: pointer;
    }
    .topComment {
      font-family: Poppins, sans-serif;
      display: flex;
      align-items: flex-start;
      .imageWidth {
        min-width: 50px;
      }
      .comment {
        .name {
          display: flex;
          font-size: 14px;
          margin-bottom: 3px;
        }

        .verifiedIcon {
          span {
            margin-left: 2px;
            font-size: 14px;
          }
        }
        .streak {
          margin-left: 5px;
        }
        .username {
          color: $textWeak;
          padding: 0;
          font-size: 0.8rem;
          margin: -2px 0px 0px;
          font-size: 0.7rem;
          font-weight: 500;
          .options {
            display: flex;
            .time {
              font-size: 0.7rem;
              font-weight: 500;
              color: $textWeak;
              font-family: Poppins, sans-serif;
              @include maxMediaQuery(768px) {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }

    .commentContent {
      padding: 3px 10px 0px 74px;
      color: $textStrong;
      p {
        margin-bottom: 0px;
        font-size: 0.875rem !important;
      }
    }

    .engagementCounters {
      position: relative;
      height: 40px;
      font-family: Poppins, sans-serif;

      .countersContainer {
        margin-top: 5px;
        padding: 0px 20px 0px 20px;
        display: flex;
        align-items: center;
        height: 100%;

        .dot {
          color: $textWeak;
          font-size: 4px;
          margin: 0 5px;
        }
      }
    }

    .hypeCounter {
      font-size: 0.7rem;
      &:hover {
        color: $hypeColor;
      }
      .icon {
        margin-right: 5px;
      }
      &.cursor {
        cursor: pointer;
      }
    }

    .hyped {
      button {
        color: $hypeColor;
        &:hover {
          color: $hypeColor !important;
        }
      }
    }
  }
}
