@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mediaQueries" as *;

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: $darkColor;
  &:hover {
    cursor: pointer;
  }
}
.form {
  margin: auto;
  width: 400px;
  margin-top: 1em;
  text-align: center;
  .titleCode {
    color: $darkColor;
    padding-top: 1em;
  }
  .titleDesc {
    color: $darkColor;
    padding: 10px;
  }
}
.topImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.textContainer {
  width: 100%;
  text-align: center;
  margin: auto;
  width: 80%;
  max-width: 500px;
  .desc {
    font-size: 1.05em;
    color: $textDark;
    font-weight: 650;
    padding: 1em 1em 0em 1em;
  }
  .code {
    font-weight: 650;
    font-size: 1.6em;
    color: $darkColor;
  }
}
.nextStep {
  background-color: transparent;
  margin: 0em 0.2em 2em 0.2em;
  border: 1px solid $tagColor;
  color: $tagColor;
  padding: 5px 10px 5px 10px;
  transition: 250ms;
  &:hover {
    background-color: $tagColor;
    color: $mainHighLight;
  }
}
