@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.noClipsFoundContainer {
  height: 510px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba($mainNavColor, 0.3);

  .middleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 1.4rem;
      text-align: center;
    }

    .icon {
      font-size: 45px;
      margin-bottom: 18px;
    }
  }
}

.twitchClipsContainer {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: repeat(3, 1fr);
  grid-gap: 10px;
  @include media767AndBelow() {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
  }
  @include media400AndBelow() {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }

  .clipContainer {
    @include generalCardStyles();
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
    width: 100%;
    transition: 150ms;
    &:hover {
      cursor: pointer;
      opacity: 0.85;
    }
    .clipImage {
      width: 100%;
    }
    .clipText {
      @include resetChildrenPaddingMargin();
      padding: 5px 10px 10px 10px;
      .clipTitle {
        font-size: 0.9em;
        font-weight: bold;
        color: $darkColor;
      }
      .subTitleFlex {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        color: $tagColor;
        .subTitle {
          font-size: 0.8em;
        }
        .clipViews {
          color: $removeIcon;
          margin-left: auto;
          font-size: 0.8em;
          flex-shrink: 0;
          .eyeIcon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.paginationContainer {
  background-color: $mainHighLight;
  padding: 10px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  li {
    color: $textLight;
    padding: 5px 12px;
    border: none;
    &:hover {
      color: $tagColor;
      cursor: pointer;
    }
    a {
      outline: none !important;
      text-decoration: none !important;
    }
  }
}
.paginationActive {
  background-color: $tagColor;
  color: $mainHighLight !important;
  border-radius: 5px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
}
