@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.container {
  .button {
    @include commentMediaStyle();
    .gifIcon {
      height: 24px;
      width: 24px;
    }
  }
}

.giphyWrapper {
  margin: auto;
  .formWrapper {
    input {
      border: none;
      border-bottom: 1px solid $textLight;
    }
  }
  .listWrapper {
    overflow-x: hidden;
  }
  &:last-child {
    img {
      margin: auto;
    }
  }
}

.popover {
  max-width: 380px;
  min-height: 380px;
  width: 380px;
}
