@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: -10px;
  .page {
    border: 2px solid $hrBorder;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    min-width: 130px;
    &:first-child {
      margin-left: 0px;
    }
    background-color: $lowShadow;
    padding: 1em;
    border-radius: 10px;
    transition: 200ms;
    .name {
      font-size: 0.9em;
      color: $darkColor;
      font-weight: 600;
      margin-bottom: 0px;
    }
    .category {
      margin-top: 5px;
      font-size: 0.7em;
      margin-bottom: 0px;
    }
    &:hover {
      cursor: pointer;
      background-color: $blueLowShadow;
    }
  }

  .active {
    border: 2px solid $tagColor;
  }
}

.important {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(212, 21, 21, 0.095);
}

.title {
  text-align: center;
  margin-bottom: 5px;
}
