@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.listItem {
  @include listStyle();
  .link {
    color: $textLight;
    text-decoration: none;
    border-left: 3px solid $whiteColor;
    display: flex;
    height: 25px;

    .icon {
      width: 30px;
      text-align: center;
    }

    &.active,
    &:hover {
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;
      color: $darkColor;
      border-left: 3px solid $darkColor;
    }
  }
}

.center {
  text-align: center;
}

.notification {
  color: $textLight;
  text-decoration: none;
  border-right: none;
  &.active,
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.orgLink {
  &.active,
  &:hover {
    font-weight: 500 !important;
    font-size: 16px;
    border: 0 !important;
    color: $darkColor;
  }
}

.clippyIcon {
  width: 30px;
  height: 30px;
}
