@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.circle {
  display: inline-block;
  border-radius: 50%;

  &.online {
    background: #50bc3a;
  }
  &.offline {
    background: #ccc;
  }
}
