.extraSmall {
  width: 7px;
  height: 7px;
}
.small {
  width: 9px;
  height: 9px;
}

.medium {
  width: 14px;
  height: 14px;
}

.large {
  width: 16px;
  height: 16px;
}

.extraLarge {
  width: 18px;
  height: 18px;
}
