@use "../../../../styles/variables" as *;
@use "../../../../styles/_mixins" as *;

.filterWrapper {
  .filterCard {
    border-radius: 10px;
    @include boxShadow();
    .filterTitle {
      color: $textDark;
      margin-bottom: 0px;
    }
  }
  .moneyFilter {
    background: $mainHighLight;
    margin-bottom: 1rem;
    color: $textDark;
  }
  .paddingTop {
    color: $textDark;
    padding-top: 5px;
  }
  .paddingBottom {
    padding-bottom: 5px;
  }
  .hrDivider {
    margin-left: -1em;
    margin-right: -1em;
    color: $borderLight;
  }
  .switchContainer {
    display: flex;
    align-items: center;
    .switchToggleText {
      padding: 0px;
      margin: 0px;
      color: $mainNavColor;
      font-size: 1em;
      font-weight: 500;
    }
    .switch {
      margin-left: auto;
    }
  }
}

.card {
  background-color: $mainHighLight;
  border: solid 1px $borderLight;
  border-radius: 10px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.2);
  .header {
    padding: 1em;
    border-bottom: 1px solid $borderLight;
    .headerTitle {
      padding: 0px;
      margin: 0px;
      color: $mainNavColor;
      font-weight: bold;
      font-size: 1em;
    }
  }
  .body {
    padding: 1em;
  }
}
