@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.settingsContainer {
  margin-bottom: 20px;
  width: 100%;
  @include generalCardStyles();
}

.settingsContainerHeader {
  color: $textDark;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.payoutAllowedStatusMessage {
  background-color: #e0efda;
  color: #4d864d;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
}

.payoutNotAllowedStatusMessage {
  background-color: #fee5e2;
  color: #cd4d57;
  border-radius: 3px;
  padding: 8px 12px;
  font-size: 14px;
}

.payoutIcon {
  font-size: 12px;
  margin-right: 10px;
}
