@use "../../../../styles/mediaQueries" as *;

.buttonsWrapper {
  display: flex;

  margin-bottom: 20px;
}

.actionButton {
  margin: auto 5px;
}

.alignRight {
  display: flex;

  @include media768AndAbove() {
    justify-content: flex-end;
  }
}
