@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.teamItem {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: 600;
  height: 70px;
  background: linear-gradient(to right, rgba(100, 112, 131, 0.35) 50%, rgba(100, 112, 131, 0.4) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 150ms ease-out;
  overflow: hidden;
  .kills {
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
    padding-right: 15px;
    text-align: right;
    min-width: 70px;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-left: auto;
    color: $mainLowLight;
    @include media767AndBelow() {
      font-size: 0.8em;
      padding-right: 5px;
    }
  }
  .place {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #2e89ff48;
    @include boxShadow();
  }
  .text {
    padding: 0px;
    margin: 0px;
    padding-left: 15px;
    padding-right: 10px;
  }
  .iconContainer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(84, 87, 97);
    height: 100%;
    width: 25px;
    .icon {
      color: $mainHighLight;
      font-size: 12px;
      transition: 200ms;
    }
  }
  &:hover {
    cursor: pointer;
    background-position: left bottom;
  }
  @include media991AndBelow() {
    font-size: 0.9em;
  }
  @include media767AndBelow() {
    font-size: 0.9em;
  }
}

.isOpen {
  background-position: left bottom;
  .iconContainer {
    .icon {
      transform: rotate(180deg);
    }
  }
}

.twitchTeamItem {
  font-size: 0.9em;
  .kills {
    font-size: 0.9em;
    padding-right: 5px;
  }
}

.notActive {
  .place {
    background-color: rgba(88, 29, 29, 0.5) !important;
  }
  .text {
    text-decoration: line-through;
  }
}
