@use "../../../../styles/themevariables" as theme;

.actionButtons {
  padding: 10px 20px 10px 20px;
  border-top: 1px solid theme.$cardBorder;
  display: flex;
  justify-content: space-between;
  font-family: Poppins, sans-serif;

  .actionButtonsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
}
