@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.marginItem {
  margin: 8px 0px;
}
.vsContainer {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding-top: 5px;
}

.buttonWrapper {
  margin-top: 10px;
  text-align: end;
}
