.modalContainer {
  padding: 30px;
}

.headerContainer {
  margin-bottom: 28px;

  .titleContainer {
    display: flex;
    align-items: center;

    .backButton {
      margin-right: 8px;
      cursor: pointer;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 600;
      margin: 0;
    }
  }

  .subtitle {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
  }
}
