@use "../../../../styles/mediaQueries" as *;

.contentWrapper {
  margin-top: 10px;

  .inputsWrapper {
    text-align: left;

    input,
    select {
      border-radius: 10px;
      height: 50px;
    }
  }
}
