@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.goldModalContainer {
  margin: 10px;
  position: relative;
  z-index: 1;
  background-color: $darkCardBackground;
  color: $darkMainText;
  width: 100%;
  border-radius: 10px;
  border: 1px solid $darkBorderColor;
  .headerContent {
    display: flex;
    align-items: center;
    padding: 40px 55px;
    .textContent {
      .title,
      .subTitle {
        margin: 0px;
        padding: 0px;
      }
      .title {
        font-size: 1.8em;
        color: $darkMainText;
        font-weight: bold;
      }
      .subTitle {
        padding-top: 10px;
        font-size: 0.95em;
        color: $darkSubText;
      }
    }
  }
  .goldPromotionContent {
    display: flex;
    justify-content: center;
    width: 100%;
    .promotionCard {
      position: relative;
      width: 55%;
      text-align: center;
      background-color: $darkHighlight;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      padding-bottom: 40px;
      .promotionText {
        padding: 0px;
        margin: 0px;
        font-size: 1.5em;
        font-weight: bold;
        color: $efuseGoldText;
        text-transform: uppercase;
        .dollarText {
          box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
          border: solid 1px $efuseGoldText;
          background-color: rgba(0, 0, 0, 0.9);
          border-radius: 5px;
          padding: 1px 10px 2px 10px;
        }
      }
      .joinNowButton {
        bottom: -10px;
        left: 50%;
        padding: 8px;
        width: 50%;
        font-size: 0.9em;
        transform: translateX(-50%);
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        color: $darkHighlight;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 8px 6px -2px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to bottom, #e8cf5d -24%, #83690f),
          linear-gradient(to bottom, #ff5100, #ff0000 188%);
        &:hover {
          background-image: linear-gradient(to bottom, #b9a549 -24%, #58470a),
            linear-gradient(to bottom, #ff5100, #ff0000 188%);
        }
      }
    }
  }
  .additionalTextContainer {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    padding: 0px 15px 0px 15px;
    .additionalText {
      max-width: 350px;
      font-size: 0.95em;
      color: $darkSubText;
      text-align: center;
    }
  }
  .goldFooter {
    display: flex;
    align-items: center;
    padding: 40px 55px;
    background-color: $darkHighlight;
    min-height: 120px;
    width: 100%;
    margin-top: 2em;
    border-radius: 0px 0px 10px 10px;
    .goldFooterText {
      margin: 0px;
      padding: 0px;
      font-size: 0.95em;
      color: $darkSubText;
    }
  }
  @include media767AndBelow() {
    margin: 0px;
    .headerContent {
      display: block;
      padding: 15px 25px;
      .textContent {
        .title {
          font-size: 1.4em;
        }
        .subTitle {
          font-size: 0.9em;
        }
      }
    }
    .goldPromotionContent {
      .promotionCard {
        width: 90%;
        .promotionText {
          font-size: 1.3em;
        }
      }
    }
    .goldFooter {
      padding: 15px 25px;
      display: block;
      margin-top: 0.8em;
    }
  }
}

.buttonContent {
  min-width: 35%;
  text-align: right;
}

.darkButton {
  color: $darkMainText;
  background-color: $darkCardBackground;
  border: 1px solid $darkBorderColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 8px 6px -2px rgba(0, 0, 0, 0.15);
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 600;
  &:hover {
    color: $darkMainText;
    background-color: $darkBorderColor;
    cursor: pointer;
  }
  @include media767AndBelow() {
    font-size: 0.85em;
    padding: 6px 15px;
    margin-top: 0.8em;
  }
}

.goldButtonStyle {
  font-size: 1.4em !important;
  color: $efuseGoldText;
  &:hover {
    color: $efuseGoldHover !important;
  }
}
