@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.experiencesWrapper {
  position: relative;
}

.experienceImage {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: top;
  @include media767AndBelow() {
    display: block;
    margin: 0px;
  }
}

.experienceDetail {
  display: inline-block;
  width: 80%;
  @include media767AndBelow() {
    display: block;
    width: 100%;
  }
}

.heading {
  font-weight: bold;
}

.experience {
  color: $textStrong;
  margin-top: 30px;
}

.description {
  font-size: 14px;
  word-wrap: break-word;
  padding-bottom: 0px;
}

.add {
  position: absolute;
  right: 12px;
  top: 19px;
}

.seeAllBtn {
  @include showMoreBtn();
  bottom: 15px;
}

.seeLessBtn {
  @include showMoreBtn();
  bottom: 25px;
}

.title {
  padding: 0px;
  margin: 0px;
}

.subTitle {
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
  padding-top: 5px;
}

.date {
  padding: 0px;
  margin: 0px;
  font-size: 0.9em;
  padding-bottom: 10px;
  color: $textWeak;
}

.spacer {
  height: 50px;
}

.buttonWrapper {
  display: inline-block;
}

.showMoreButton {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
