@use "../../../styles/variables" as *;

.passwordStrength {
  background: $whiteColor;
  color: $mediumGrey;
  border: 1px solid $lightestGrey;
  border-radius: 0.25rem;
  input {
    color: $mediumGrey;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    border-radius: 5px;
    max-height: 40px;
  }
  span {
    padding: 0;
    font-size: 12px;
    right: 10px;
    top: 16px;
    font-weight: 600;
  }
}
