@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.backgroundImage {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-image: url(https://cdn.efuse.gg/static/images/welcome_splash_background.jpg);
  display: flex;
  flex-direction: column;
}

.centeredSection {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .heroText {
    color: $whiteColor;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 5px 20px;
  }

  .subText {
    color: $whiteColor;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 30px;
  }

  .starSection {
    color: $whiteColor;
    text-align: center;
    margin-top: 10px;
  }

  .reviewCountText {
    padding-left: 5px;
  }
}

.buttonContainer {
  margin: 20px;
  display: flex;
  height: 50px;
}

.appIconImage {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.downloadButton {
  flex: 1;
  padding: 0 0 0 10px;
}
