@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;
@use "../ImageUploader/FileUploadButton/FileUploadButton.module.scss";

.directUploadInput {
  display: none;
}

@include postActionButtonStyle();

.removeMargin {
  @include maxMediaQuery(768px) {
    margin: 0px;
  }
}

.customDesign {
  cursor: pointer;
  &.disabled {
    opacity: 0.65;
    pointer-events: none;
  }
  &.disabledNoOpacity {
    pointer-events: none;
  }
}
.videoIcon {
  margin-left: auto;
  color: $mainNavColor;
}
