@use "../../../../styles/variables" as *;

.contentWrapper {
  margin-top: 10px;

  .subTitle {
    font-size: 12px;
    font-weight: 600;
    color: $textDark;
  }

  .iconsWrapper {
    padding: 30px 0px;

    .icon {
      font-size: 24px;
      color: #2e87ff;
      margin: auto 15px;
    }
  }

  .buttonWrapper {
    margin: 10px auto;
  }
}
