@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.userData {
  display: flex;
  align-items: center;
  justify-content: center;
  @include media767AndBelow {
    margin-bottom: 10px;
    display: block;
  }
}
.avatar {
  margin-left: 5px;
}

.icon {
  font-size: 16px;
}

.userPicture {
  width: 60px;
  @include media767AndBelow {
    margin: 10px auto;
  }
}

.userInfo {
  flex: 1;
  padding-left: 10px;
}

.name {
  flex: 1;
  font-size: 14px;
  font-weight: bold;
}

.username {
  font-size: 12px;
  font-weight: 600;
  color: $darkColor;
  word-break: break-word;
}
.roleIcon {
  font-size: 14px;
  margin: 0px 5px 0px 10px;
}
.role {
  font-size: 12px;
  margin: 0px;
  color: $textLight;
  width: fit-content;
  @include media767AndBelow {
    margin: 0 auto;
  }
}
.organizationName {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
  display: inline-block;
  margin-left: 2px;
  @include media767AndBelow {
    margin-bottom: 10px;
  }
}

.iconsSection {
  text-align: end;
}

.messageButtonContainer {
  display: inline-block;
  vertical-align: middle;

  svg {
    color: $textLight;
  }
}

.shareButtonContainer {
  display: inline-block;
  vertical-align: middle;
}
