@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 16px auto;
  .memberCard {
    position: relative;
    overflow: hidden;
    background-color: $mainHighLight;
    border-radius: 10px;
    height: 360px;
    @include boxShadow();
    .overlay {
      opacity: 0.7;
    }
    .cardActions {
      z-index: 3;
      position: absolute;
      top: 5px;
      right: 5px;
      color: $mainHighLight;
      font-size: 16px;
      * {
        margin: 5px;
      }
    }
    .image,
    .shadow,
    .textContainer {
      transition: 250ms;
    }
    .image {
      position: relative;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      -webkit-box-shadow: inset 0px -50px 66px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: inset 0px -50px 66px -12px rgba(0, 0, 0, 0.75);
      box-shadow: inset 0px -50px 66px -12px rgba(0, 0, 0, 0.75);
    }
    .textContainer {
      color: white;
      position: absolute;
      bottom: 0px;
      padding-bottom: 10px;
      padding-right: 15px;
      left: 20px;
      z-index: 3;
      font-size: 1.2em;
      font-weight: 800;
      text-transform: uppercase;
      word-break: break-word;
      line-height: 1em;
      .add {
        font-size: 24px;
        .addIcon {
          font-size: 20px;
          margin-right: 5px;
        }
      }
      p {
        margin-bottom: 10px;
      }
    }
    .viewProfile {
      position: absolute;
      left: -220px;
      bottom: 0px;
      color: white;
      z-index: 3;
      transition: 350ms;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
      .image {
        transform: scale(1.1);
      }
      .shadow {
        -webkit-box-shadow: inset 0px -90px 66px -12px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px -90px 66px -12px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px -90px 66px -12px rgba(0, 0, 0, 0.75);
      }
      .textContainer {
        padding-bottom: 0px;
        margin-bottom: 30px;
      }
      .viewProfile {
        left: 22px;
      }
    }
  }
  @include media991AndBelow {
    grid-template-columns: 1fr 1fr;
  }
  @include media767AndBelow {
    grid-template-columns: 1fr;
  }
}
