@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.flex {
  display: flex;
}

.fadeEffect {
  &:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0px;
    pointer-events: none;
    background: linear-gradient(270deg, #f7f7fb 23.48%, rgba(247, 247, 251, 0) 100%);
    width: 100px;
    border-radius: 6px;
  }
}

.isScrolling {
  cursor: grabbing !important;
}

.rightButton,
.leftButton {
  position: absolute;
  margin-top: 170px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  z-index: 4;
  color: $mainNavColor;
  background-color: $mainHighLight;
  text-decoration: none;
  border: 1px solid $lightCardBorder;
  @include boxShadow();
  &:focus {
    outline: none;
  }
  @include media991AndBelow() {
    display: none;
  }
}
.rightButton {
  right: -6px;
}

.leftButton {
  left: -6px;
}

.hideButton {
  display: none;
}

.noPadding {
  padding-bottom: 0px !important;
}
