@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.bucketCardContainer {
  @include generalCardStyles();
  box-shadow: none;
  width: 245px;
  height: 150px;
  margin-right: 10px;
  border: solid 1px $lightCardBorder;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  .bucketBackgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .bucketInfoIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    color: $navbarColor;
  }
}
