@use "../../../../styles/variables" as *;
.mediaContainer {
  height: 204px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 150ms;
}

.chipContainer {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
