@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.welcomeMessage {
  margin-bottom: 20px;
}

.welcomeContent {
  // display: flex;
  padding: 4rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  background: url("https://cdn.efuse.gg/uploads/pipeline/homepage/pipelineHeader.png") #231f20 no-repeat center center;
  background-size: cover;
}

.welcome {
  font-size: 16px;
  font-weight: bold;
  color: $whiteColor;
}

.welcomeText {
  padding: 20px 10px;
  max-width: 420px;
  margin: auto;
}

.welcomeText {
  font-size: 14px;
  font-weight: bold;
  color: $whiteColor;
}

.pipelineLogo {
  width: 300px;
  height: auto;
  margin: auto;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.label {
  font-size: 0.9rem;
  margin: 0;
  color: #343e4a;
}

.instructions {
  font-size: 14px;
  margin-bottom: 15px;
  color: $textLight;
}

.saveButton {
  position: fixed;
  right: 36px;
  width: 100px;
  top: 92px;
}

.unsavedChanges {
  color: $errorTextColor;
}

.optionalLabel {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  color: $textLight;
  margin: 20px 0;
}
