@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.talentCardWrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 340px;
  .bomb {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .bio {
    max-width: 280px;
    font-size: 0.7em;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    color: $mediumTextColor;
    padding: 1em;
    margin-bottom: 1.5em;
    max-height: 75px;
    @include clampText(4);
  }
}

.carouselWrapper {
  max-width: 300px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.topButtonWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  top: 1em;
  right: 10px;
}

.minCarouselWidth {
  min-width: 280px;
}
