@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.scoringContainer {
  width: 100%;
}

.teamsContainer {
  width: 100%;
  padding-top: 10px 2em 3em 2em;
  min-height: 200px;
  color: $textDark;
}
