@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.requiredAsterisk {
  color: red;
  margin-left: 5px;
}

.gameSelect {
  position: relative;
  width: 100%;
}

.gameSelectText {
  margin-left: -8px;
  font-family: Poppins;
  font-weight: 600;
  color: #15151a;
}

.error {
  font-size: 0.8em;
  color: #dc3545;
  margin: 0px;
  padding-bottom: 0px;
}
