@use "../../../styles/mixins" as *;
@use "../../../styles/themevariables" as *;

.cardContainer {
  @include generalCardStyles();
  width: 100%;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
}

.imageContainer {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 2px $cardBackground;
  background-color: $cardBackground;
  flex-shrink: 0;
}

.image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.textContainer {
  width: 100%;
  padding: 0px 10px;
  .badgeWrapper {
    margin-bottom: 3px;
    display: flex;
  }
}

.title {
  @include resetPaddingMargin();
  @include clampText(3);
  font-size: 13px;
  font-weight: bold;
  color: $textStrong;
  margin: 0px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 3px;
  .subText {
    @include resetPaddingMargin();
    margin-left: auto;
    font-size: 9px;
    font-weight: bold;
    color: $textWeak;
  }
}
