@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.rankWrapper {
  text-align: center;
  .image {
    width: 100px;
    height: auto;
  }

  .label {
    @include resetPaddingMargin();
    color: $textStrong;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .subText {
    @include resetPaddingMargin();
    font-size: 0.7rem;
    color: $textStrong;
  }
}
