@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.brandTitle {
  color: $darkColor;
  font-size: 1em;
  border-bottom: 1px solid $hrBorder;
  padding-bottom: 5px;
  margin-top: 10px;
}

.articleContainer {
  display: flex;
  justify-content: space-evenly;
  .article {
    display: block;
    width: 100%;
    text-align: center;
    .articlePhoto {
      width: 100px;
      height: 80px;
      border-radius: 5px;
      background-color: teal;
      display: inline-block;
      background-position: center center;
      background-size: cover;
    }
    .articleTitle {
      text-align: left;
      font-size: 0.9em;
      display: block;
      font-weight: bold;
      @include clampText(2);
      .articleUrl {
        color: $textDark;
      }
    }
    .articleDescription {
      text-align: left;
      font-size: 0.75em;
      color: #555555;
      display: block;
      @include clampText(2);
      padding-bottom: 5px;
    }
  }
}
