@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mediaQueries" as *;

.form {
  margin: auto;
  width: 400px;
  margin-top: 1em;
  text-align: center;
  .titleCode {
    color: $darkColor;
    padding-top: 1em;
  }
  .titleDesc {
    color: $darkColor;
    padding: 10px;
  }
}
.buttons {
  display: flex;
  justify-content: center;
  button {
    margin: 5px;
  }
}
