@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.navWrapper {
  @include centerFlex();
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: $mainNavColor;
  z-index: 9;
  .navAlignment {
    display: flex;
    align-items: center;
    justify-content: left;
    @include headerMediaQueries();
    width: 100%;
  }
  .navRightAlign {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    .linksWrapper {
      display: flex;
      @include media767AndBelow() {
        display: none;
      }
    }
  }
}

.searchWrapper {
  width: 280px;
  transition: 1s;
  margin-left: 10px;
  &:hover {
    cursor: pointer;
  }
  @include media767AndBelow() {
    width: 100%;
    max-width: 200px;
  }
}

.iconWrapper {
  &:hover {
    cursor: pointer;
  }
}

.navIconWrapper {
  margin-left: 8px;
}

.removePadding {
  @include media991AndBelow() {
    button {
      padding: 0px;
    }
  }
}
