@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.newsArticlesList {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.cardWrapper {
  margin-bottom: 10px;
}

.showMoreButton {
  float: right;
}
