@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.contentContainer {
  transition: 200ms;
}

.topSection {
  padding: 20px 20px 0px 20px;
  align-items: center;
  line-height: 16px;
}

.avatarWrapper {
  align-items: center;
  .avatar {
    object-fit: cover;
    width: 52px;
    height: 52px;
    @include boxShadow();
    border: solid 2px $whiteColor;
    border-radius: 28px;
  }
}

.cardContainer {
  margin-top: 5px;
  border: 1px solid $borderGrey;
  border-radius: 10px;
}

.contentWrapper {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  @include media767AndBelow {
    padding-left: 10px;
  }
  .headerText {
    font-size: 16px;
    font-weight: 500;
    color: $mainNavColor;
    @include media767AndBelow {
      font-size: 12px;
    }
  }
  .subHeaderText {
    font-size: 12px;
    font-weight: 400;
    color: $grey;
    margin-left: 5px;
  }
  .headerTags {
    .tag {
      font-size: 12px;
      font-weight: 400;
      color: $recruitPurple;
      margin-right: 5px;
      display: inline-block;
    }
    .middleDot {
      font-size: 12px;
    }
  }
}

.icons {
  text-align: right;
}

.menu {
  display: none;
}

.footer {
  align-items: center;
  padding: 0px 20px 20px 20px;
}

.footerActionButtons {
  text-align: end;
  @include media1024AndBelow {
    text-align: center;
    margin-top: 10px;
  }
}
