@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.largeSize {
  height: 100%;
  @include maxMediaQuery(1200px) {
    height: 360px;
  }
  @include maxMediaQuery(992px) {
    height: 270px;
  }
  @include media767AndBelow() {
    height: auto;
    min-height: auto;
    img,
    .overlay {
      height: auto;
    }
  }
}
.articleWrapper {
  border-radius: 10px;
  border: none;
  overflow: hidden;
  @include boxShadow();

  img {
    border-radius: 0.8rem;
  }
  .placeholder {
    max-height: 450px;
    object-fit: cover;
  }
  .overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      @include maxMediaQuery(550px) {
        font-size: 1.2rem;
      }
      .titleLink,
      .titleNoLink {
        color: $textStrong;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .titleNoLink {
        &:hover {
          text-decoration: none;
        }
      }
    }
    .textWrapper {
      display: flex;
      .author {
        flex: 1;
      }
      .text,
      .author {
        color: $primaryColor;
        font-size: 0.9rem;
        font-weight: 600;
        margin: 0;
        @include maxMediaQuery(550px) {
          font-size: 0.7rem;
          font-weight: 600;
        }
      }
    }
  }
}

.imageMain {
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.imageMainSmall {
  height: 90px;
}

.imageMainLarge {
  height: 190px;
}

.articleWrapper:last-child {
  margin-top: auto;
}

.small {
  height: 100%;
  &:last-child {
    margin-bottom: 0;
  }
  &:first-child {
    @include media767AndBelow {
      margin-bottom: 1rem;
    }
  }
  img {
    height: 220px;
    object-fit: cover;
    object-position: top;
    @include maxMediaQuery(1200px) {
      height: 175px;
    }
    @include mediaBetween768And991 {
      height: 130px;
    }
  }
  .overlay {
    padding: 0.5rem;
    @include mediaBetween768And991 {
      justify-content: center;
    }
    .title {
      font-size: 1rem;
      @include clampText(2);
      @include mediaBetween768And991 {
        font-size: 0.8rem;
      }
    }
    .textWrapper {
      @include mediaBetween768And991 {
        flex-direction: column;
      }
      .text,
      .author {
        font-size: 0.7rem;
        margin-bottom: 0;
        @include mediaBetween768And991 {
          font-size: 0.6rem;
          font-weight: 600;
        }
      }
    }
  }
}

.active,
.articleHover:hover {
  cursor: pointer;
  margin: 5px;
  transition: 0.2s;
  -webkit-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.8) !important;
  -moz-box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.8) !important;
  box-shadow: -1px 1px 5px 3px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.8) !important;
  .overlay {
    background: none;
  }
}

.active {
  pointer-events: none;
}
