@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.menuItem {
  @include resetPaddingMargin();
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 21px;

  .icon {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 14px;
    margin-right: 12px;
    width: 14px;
    height: 14px;
  }
}

.red {
  color: $red;
}

.blue {
  color: $recruitBlue;
}

.black {
  color: $textBlack;
}
