@use "../../styles/mediaQueries" as *;

.inputRow {
  margin-bottom: 1.5rem;
  outline: none;
  @include media1366AndBelow {
    margin-bottom: 1.2rem;
  }
  &:focus,
  &:active,
  &:visited,
  &:hover {
    outline: none;
  }
}
