.displayContainer {
  margin-top: 10px;
}

.videoItem {
  margin: 5px;
  position: relative;

  .trash {
    position: absolute;
    top: 15px;
    right: 15px;
    &:hover {
      cursor: pointer;
    }

    button {
      &:hover {
        background: lightgray;
      }
    }
  }
}
