@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.portfolioBtn {
  margin: 5px;
}

.live {
  border-radius: 10px;
  border: solid 2px #980000;
  background-color: #ff0000;
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 900;
  color: $mainHighLight;
  padding: 1px 3px;
  position: relative;
  bottom: 2px;
  right: 8px;
}

.twitchIcon {
  font-family: FontAwesome5Brands;
  font-size: 16px;
  color: $mainNavColor;
  top: 2px;
  position: relative;
  margin-right: 8px;
}

.btnText {
  font-size: 12px;
  font-weight: bold;
}

.twitchBtnText {
  color: $mainNavColor;
}
