@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.deleteIcon {
  color: $textExtraLight;
  &:hover {
    cursor: pointer;
    color: $removeIcon !important;
  }
}
.addBtn {
  float: right;
}
.emptyComponent {
  margin-top: 50px;
}
