@use "../../../../../../styles/variables" as *;

@mixin activeStyle() {
  background: $brandeisBlue;
  color: $whiteColor;

  p,
  span {
    color: $whiteColor;
  }

  .iconContainer {
    display: unset;
  }
}

.tabContainer {
  padding: 12px;
  border: 1px solid $borderGrey;
  border-radius: 6px;
  min-width: 161px;
  font-weight: 500;
  font-size: 12px;
  flex-shrink: 0;
  background: $whiteColor;

  &:hover {
    @include activeStyle();
  }
}

.title {
  color: $textBlack;
  margin-bottom: 9px;
}

.subTitle {
  color: $textLight;
}

.active {
  @include activeStyle();
}
