@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.container {
  padding: 16px;
  position: relative;

  .menu {
    position: absolute;
    right: 1em;
    top: 0px;
    z-index: 3;
  }
  .providerIcon {
    width: 12px;
    margin-right: 5px;
    margin-top: -2px;
  }
  .imageContainer {
    border-radius: 10px;
    width: 317px;
    height: 197px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;

    .rank {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    .cardAvatarList {
      display: none;
      position: absolute;
      left: 15px;
      bottom: 3px;
    }
  }

  .textWrapper {
    position: relative;
    overflow: hidden;
    word-break: break-word;
  }

  .textContainer {
    padding: 0px 20px;
    margin-top: -2px;
    position: relative;
    height: 200px;
    transition: 200ms;
    .contextMenuMiddleRight {
      display: none;

      @include media991AndBelow() {
        display: block;
      }
    }
    .subTitle {
      font-weight: bold;
      color: $textPrimary;
      font-size: 0.85em;
    }
    .title {
      font-size: 1.05em;
      font-weight: 700;
      color: $textStrong !important;
      padding-bottom: 2px;
      width: 100%;
      @include clampText(2);
    }
    .createdBy,
    .attribute {
      padding-bottom: 2px;
      font-size: 0.85em;
      color: $textWeak;
      font-weight: bold;
    }
    .floatRight {
      margin-top: -23px;
      float: right;
      @include media767AndBelow() {
        float: none;
        margin-top: 0px;
      }
    }
    .locationIcon {
      font-size: 0.9em;
      margin-right: 5px;
      color: $textPrimary;
    }
    .descriptionOverlay {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: $cardBackground;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $cardBackground 100%);
    }
    .description {
      margin-top: 2px;
      height: 126px;
      overflow: hidden;
      transition: 200ms;
      @include quillStrictRule();
      @include clampText(6);
      color: $textWeak !important;
    }
    .shortClamp {
      height: 106px;
      overflow: hidden;
    }
  }
  .expanded {
    height: 510px;
    transition: 200ms;
    .description {
      height: 436px;
      transition: 200ms;
      @include clampText(999999999);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    .userImageContainer {
      position: relative;
      display: flex;
      align-items: center;
      width: 317px;
      .listText {
        width: 90px;
        font-size: 10px;
        letter-spacing: normal;
        line-height: 1.2;
        font-weight: 600;
        color: #16181a;
        padding: 0px;
        margin: 0px;
        margin-left: 8px;
      }
      .list {
        padding-left: 5px;
      }
    }
    .expandUp {
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $cardBackground;
      box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.1);
      border: solid 1px $cardBorder;
      height: 38px;
      width: 40px;
      font-size: 0.9em;
      font-weight: 600;
      color: $textStrong;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
        background-color: $cardLowlight;
      }
    }
    .expandButton {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5px;
      font-size: 0.9em;
      font-weight: 600;
      color: $textStrong;
      letter-spacing: 1px;
      box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.1);
      background-color: $cardBackground;
      border-radius: 5px;
      border: solid 1px $cardBorder;
      padding: 7px 16px;
      text-transform: uppercase;
      .downArrow {
        margin-right: 10px;
        margin-top: 2px;
      }
      &:hover {
        cursor: pointer;
        background-color: $cardLowlight;
      }
    }
    .addMargin {
      margin-left: 20px;
    }
    .actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      .applyButton {
        text-align: center;
        font-size: 0.9em;
        font-weight: 600;
        color: $alwaysWhite;
        letter-spacing: 1px;
        box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 8px 6px -2px rgba(0, 0, 0, 0.15);
        background-image: linear-gradient(to bottom, #ff5100, #ff0000 188%);
        border-radius: 5px;
        padding: 8px 20px;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          background-image: linear-gradient(to bottom, #e24800, #e40000 188%);
        }
      }
    }
  }
  @include media991AndBelow() {
    padding: 0px;
    .imageContainer {
      width: 100%;
      height: 250px;
      border-radius: 10px 10px 0px 0px;
      padding-bottom: 1em;

      .cardAvatarList {
        display: block;
      }
    }
    .footer {
      padding: 1em;

      .userImageContainer {
        display: none;
      }
      .expandUp {
        margin-left: 0px;
      }
      .addMargin {
        margin: 0;
      }
    }
  }
  @include media767AndBelow() {
    .footer {
      padding: 1em;

      .expandUp {
        margin-left: 0px;
      }
      .addMargin {
        margin: 0;
      }
    }
  }
}
.body {
  display: flex;
  @include media991AndBelow() {
    display: block;
  }

  .contextMenuTopRight {
    display: block;
    @include media991AndBelow() {
      display: none;
    }
  }
}
.maxWidth {
  width: 100px;
}
.externalSource {
  text-transform: capitalize !important;
}
.blue {
  color: $textPrimary;
}
.bold {
  color: $textStrong;
  font-weight: 600;
}
.applyButtonWrapper {
  margin-left: auto;
}
