@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.videoContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $cardBackground;
  z-index: 1;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid $cardBorder;
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .header {
    display: flex;
    height: 45px;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: $cardBackground;
    border-bottom: 1px solid $cardBorder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    // color: $textStrong;
    overflow: hidden;
    .headerText {
      padding: 0px;
      margin: 0px;
      color: $textStrong;
      font-weight: 600;
      font-size: 1.1rem;
      padding-right: 5px;
    }
    .toggleChat {
      display: flex;
      align-items: center;
      margin-left: auto;
      .toggleText {
        padding: 0px;
        margin: 0px;
        padding-right: 10px;
        color: $textWeak;
        font-size: 0.9rem;
      }
    }
    @include media991AndBelow {
      .headerText {
        font-size: 0.9rem;
      }
      .toggleChat {
        .shareIcon {
          font-size: 0.9rem;
        }
        .switch,
        .toggleText {
          display: none;
        }
      }
    }
  }
  .videoChatContainer {
    position: relative;
    display: flex;
    width: 100%;
    .chat {
      position: relative;
      width: 500px;
      height: auto;
    }
    @include media991AndBelow {
      flex-wrap: wrap;
      .breakChat {
        flex-basis: 100%;
        height: 0;
      }
      .chat {
        height: 360px;
        min-width: 100%;
      }
    }
  }
  @include media767AndBelow {
    margin-top: 0rem;
  }
}

.roundedCorners {
  border-radius: 10px;
  overflow: hidden;
}
