@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.rulesContainer {
  text-align: left;
  padding-top: 1em;
  word-wrap: break-word;
  li {
    word-break: break-word;
  }
}

.buttonContainer {
  @include submitButtonWrapper();
}

.quillEditor {
  @include quillStrictRule();
  margin-bottom: 2em;
}

.reactQuill {
  @include reactQuillStyle();
}
