@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.cardContainer {
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  @include media767AndBelow() {
    display: none;
  }
}
.cardHeader {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 1rem;
  color: $mainHighLight;
  background-color: $mainNavColor;
  // box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.5);
  border: none !important;
  z-index: 2;
}
.bodyWrapper {
  background-color: $mainHighLight;
  border-radius: 0px 0px 10px 10px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
