@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.formContainer {
  text-align: left;
  padding: 1em 0em 1em 0em;
  font-size: 0.9em;
  font-weight: 600;
  color: $textDark;
  .formLabel {
    padding-top: 1em;
    text-transform: uppercase;
  }
}
.formButton {
  margin-top: 2em;
  font-size: 1em;
}
