.buttonWrapper {
  height: 40px;
  padding: 10px 10px 0px 50%;
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;

  .leftButton {
    width: 100%;
  }

  .rightButton {
    width: 100%;
    margin-left: auto;
  }
}
