@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.header {
  position: relative;
  width: 100%;
  padding: 20px 20px 0px 20px;

  .menu {
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 9;
    .dropdown {
      display: inline-block;
      a {
        transform: rotate(90deg);
      }
    }
    @include media991AndBelow {
      top: 6px;
    }
  }

  .avatarWrapper {
    display: flex;
    align-items: center;
    .avatar {
      height: 60px;
      width: 60px;
      @include maxMediaQuery(768px) {
        height: 50px;
        width: 50px;
      }
    }
    .userInfo {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      .username {
        margin-top: -2px;
        font-size: 0.8em;
        color: $textWeak;
      }
      .name {
        margin-top: -4px;
        height: 22px;
        font-size: 1rem;
        color: $textStrong;
        font-weight: 600;
        margin-bottom: 0;
        font-family: Poppins, sans-serif;

        @include maxMediaQuery(768px) {
          height: auto;
          font-size: 1rem;
        }
        .goldImage {
          height: 21px;
          margin-left: 5px;
        }
      }
      .locationWrapper {
        color: $primaryColor;
        @include maxMediaQuery(768px) {
          font-size: 0.7rem;
          span {
            font-size: 0.7rem;
          }
        }
      }
      .time {
        font-size: 0.7rem;
        font-weight: 500;
        color: $textWeak;
        font-family: Poppins, sans-serif;
        a {
          color: $textWeak;
        }
        @include maxMediaQuery(768px) {
          font-size: 0.6rem;
        }
      }
    }
  }
}
