@use "../../../../styles/mixins" as *;
@use "../../../../styles/themevariables" as *;

.learningBtnNav {
  display: flex;
  margin-bottom: 20px;
  .link {
    @include boxShadow();
    background-color: $cardBackground;
    border: 1px solid $cardBorder;
    color: $textWeak;
    margin-right: 20px;
    border-radius: 5px;
    min-width: 80px;
    text-align: center;
    &:hover {
      color: $textStrong;
      background-color: $cardHighlight;
    }
  }
  .active {
    color: $primaryColor;
    background-color: $cardHighlight;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 4px solid $primaryColor;
  }
}
