@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.paginationContainer {
  width: 100%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    @include boxShadowSmall();
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainNavColor;
    font-weight: bold;
    border-radius: 8px;
    background-color: $mainHighLight;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 0.9rem;
    border: solid 1px $lightCardBorder;
    a {
      padding: 0px 12px;
      outline: none !important;
      text-decoration: none !important;
    }
    &:hover {
      color: $tagColor;
      cursor: pointer;
    }
  }
  .paginationActive {
    background-color: $tagColor;
    color: $mainHighLight;
    &:hover {
      color: $mainHighLight;
    }
  }
  @include media767AndBelow() {
    li {
      a {
        padding: 4px 9px;
        font-size: 0.9em;
      }
    }
  }
}
.paginationDisabled {
  opacity: 0.7;
  &:hover {
    cursor: inherit !important;
    color: $textLight !important;
  }
}
