@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.header {
  display: flex;
  align-items: center;
  .skip,
  .title {
    padding: 0px;
    margin: 0px;
  }
  .title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;

    @include media991AndBelow() {
      font-size: 1.2rem;
    }
  }
  .skip {
    margin-left: auto;
  }
}

.contentContainer {
  height: 610px;
}

.progressBar {
  @include modalFormProgressbar();
}

.infoText {
  text-align: left;
  font-size: 0.9rem;
  padding-top: 10px;
  color: $textLight;
}
