@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.mediaContainer {
  margin: 20px 5px;
  padding: 0;
  padding-top: 15px;
  height: 220px;
  text-align: center;
  border-radius: 3px;
  background-color: $cardHighlight;
  position: relative;
  @include boxShadow();
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.imageWrapper {
  height: 56px;
  width: 56px;
  overflow: hidden;
  border-radius: 0.5rem;
  @include boxShadow();
  border: 3px solid $cardHighlight;
  .mediaImage {
    object-fit: cover;
    height: 56px;
    width: 56px;
    &.rounded {
      border-radius: 50%;
    }
  }
}

.titleName {
  font-size: 0.9em;
  @include clampText(3);
  margin-bottom: 3px;
  margin-top: -2px;
  padding: 0 15px;
  color: $textStrong;
  word-break: break-word;
}

.itemType {
  font-size: 0.7em;
  margin: 0px;
  color: $primaryColor;
  @include clampText(3);
  margin-top: 5px;
  padding: 0 15px;
  word-break: break-word;
}

.icon {
  margin: 3px;
  float: right;
  margin-top: 8px;
}

.button {
  border: none;
  width: 100%;
  background-color: $primaryColor;
  color: $alwaysWhite;
  font-size: 0.7em;
  margin: 0;
  padding: 5px 30px;
  border-radius: 0 0 3px 3px;
  text-transform: capitalize;
  cursor: pointer;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #528ffc;
    color: $alwaysWhite;
    text-decoration: none;
  }
}
.adHeader {
  position: absolute;
  top: -12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100px;
  padding: 3px;
  background-color: rgba(68, 133, 250, 0.85);
  z-index: 3;
  .starIcon {
    font-size: 0.5rem;
    color: gold;
  }
  .headerText {
    padding: 0px;
    margin: 0px;
    font-size: 0.5rem;
    padding-left: 5px;
    color: $textStrong;
  }
  @include media767AndBelow() {
    width: 85px;
    .starIcon,
    .headerText {
      font-size: 0.7rem;
    }
  }
}
