@mixin absolutePosition($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin widthHeight100 {
  width: 100%;
  height: 100%;
}

.imageWrapper {
  @include widthHeight100();
  position: relative;
  .backgroundImage {
    @include absolutePosition(0, 0);
    @include widthHeight100();
    object-fit: cover;
    z-index: 1;
  }
  .opacityOverlay {
    @include absolutePosition(0, 0);
    @include widthHeight100();
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 3;
  }
  .darkOverlay {
    @include absolutePosition(0, 0);
    @include widthHeight100();
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
}
