@use "../../../../styles/mixins" as *;

.inputColor {
  width: 100% !important;
  height: 40px !important;
}

.flexWrapper {
  display: flex;
  align-items: center;
}

.buttonContainer {
  @include submitButtonWrapper();
}

.switchWrapper {
  margin-left: 20px;
}
