@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;

.listHeader {
  color: $textStrong;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recentOpportunitiesContainer {
  display: flex;
}

.lightGreyBackground {
  background-color: $cardBackground;
  padding: 0px 10px;
}

.carouselContainer {
  margin: 0px 5px;
}
