@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.twitterBtn {
  @include authBtnStyles($twitterBlue);
}

.checkMark {
  margin-left: 5px;
  color: $removeIcon;
}

.unLink {
  margin-left: 5px;
  color: $removeIcon;
}

.steamAuth {
  @include authBtnStyles($steamBlue);
}

.linkedinBtn {
  @include authBtnStyles($linkedInBlue);
}

.battlenetBtn {
  @include authBtnStyles($battlenetBlack);
}

.xboxBtn {
  @include authBtnStyles($xboxLiveGreen);
}

.facebookAuth {
  @include authBtnStyles($facebookBlue);
}

.twitchAuth {
  @include authBtnStyles($twitchPurple);
}

.discordAuth {
  @include authBtnStyles($discordBlue);
}

.blackButton {
  @include authBtnStyles($backgroundBlack);
}

.valorantAuth {
  @include authBtnStyles($valorantRed);
}

.snapchatAuth {
  @include authBtnStyles($snapChatYellow);
}
