.selectOpportunityWrapper {
  display: flex;
  margin-bottom: 10px;
  .selectBoxWrapper {
    width: 100%;
  }
  .createOpportunityWrapper {
    flex-shrink: 0;
    margin-left: 10px;
  }
}

.selectedCardWrapper {
  border-radius: 10px;
  margin-bottom: 20px;
}

.addMarginBottom {
  margin-bottom: 20px;
}
