@import "../../../styles/variables";
@import "../../../styles/mediaQueries";

.createBtn {
  button {
    border-radius: 8px;
    min-width: 285px;
    padding: 10px;
    @include media400AndBelow {
      min-width: 258px;
    }
  }
  display: inline-block;
  margin: 10px 5px;
}
.createIcon {
  font-size: 24px;
  font-weight: 300;
  color: #008dff;
  margin-left: 10px;
  @include media400AndBelow {
    margin-left: 2px;
  }
}
.textWrapper {
  display: inline-block;
  margin: 20px;
  text-align: left;
  font-weight: bold;
  p {
    margin-bottom: 0px;
  }
}
.text {
  font-size: 15px;
}
.subText {
  font-size: 16px;
}
