@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/themevariables" as *;

.wrapper {
  display: flex;
  word-break: break-all;
  @include commentsAvatar();
  .fieldWrapper {
    flex: 1;
    margin-bottom: 0;
    position: relative;
  }
  &.thread {
    @include threadAvatar();
  }
  .formAvatar {
    margin-right: 15px;
  }
}

.avatar {
  margin-top: 5px;
  width: 35px !important;
  height: 35px !important;
  margin-right: 10px !important;
}

.fieldWrapper {
  border: 1px solid $cardBorder;
  border-radius: 1em;
  background-color: $alwaysWhite;
  display: flex;
}
