@use "../../../styles/variables" as *;

.suggestionUl {
  padding-inline-start: 0px;
  list-style: none;
  color: $errorTextColor;
  width: 100%;
  li:before {
    content: "\2713";
    display: inline-block;
    margin-right: 5px;
    /* 100% width make the tick mark to attain full width due to which it
      drops down to new line, it should be an inline element so that it
      fits on the left of error message
    */
    // width: 100%;
  }
}
