@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.mainContent {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 60vh;
  background: url("https://cdn.efuse.gg/uploads/pipeline/homepage/pipelineHeader.png") #231f20 no-repeat center center;
  background-size: cover;
}

.textContainer {
  .text {
    padding: 20px 10px;
    margin: auto;
    color: $whiteColor;
  }

  .textTitle {
    font-size: 42px;
    font-weight: bold;
    color: $whiteColor;
  }

  .textDesc {
    font-size: 20px;
    font-weight: bold;
    color: $lightestGrey;
  }

  .buttonContainer {
    margin: 10px;
    display: inline-block;
  }

  @include media767AndBelow {
    text-align: center;

    .textTitle {
      font-size: 22px;
    }

    .textDesc {
      font-size: 12px;
    }
  }
}

.imageContainer {
  text-align: center;

  .logo {
    width: 300px;
    height: auto;
    margin: auto;

    @include media767AndBelow {
      margin-top: 20px;
      width: 290px;
    }
  }
}
