@use "../../../styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 260px;
  height: 360px;
  margin-right: 20px;
  border-radius: 12px;
  padding: 1.2em 1.4em;
  flex-shrink: 0;
  background-color: $mainHighLight;
  border: solid 1px $lightCardBorder;
  .header {
    flex: 0.5;
    margin: 5px 0;
  }

  .body {
    flex: 0.3;
    b {
      font-size: 18px;
    }
    .username {
      font-size: 16px;
      font-weight: 600;
      color: $grey;
    }
  }

  .bottom {
    flex: 0.6;
    width: 230px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-align: center;
    color: $mediumTextColor;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  .avatar {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}
