@use "../../../../styles/themevariables" as *;

.addButtonContainer {
  text-align: left;
  .addButton {
    border-radius: 0;
    transition: 250ms;
    .icon {
      margin-right: 10px;
    }
    .image {
      position: absolute;
      width: 30px;
      margin-left: 10px;
      margin-top: -2px;
    }
    &:hover {
      text-decoration: none;
      border-left: 0.5em solid $primaryColor;
      color: $textStrong;
      background-color: $cardHighlight;
    }
  }
}
