@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.headerList {
  margin: 0px;
}

.headerItem {
  border: none;
  display: inline;
  text-align: center;
  padding: 0.75rem 0.25rem;
  font-size: 14px;
  font-weight: bold;
  &:first-child {
    text-align: left;
  }
}

.blur {
  filter: blur(4px);
  height: 230px;
}

.subContent {
  padding: 20px 0px;
  margin: auto;
  position: relative;
}

.comingSoonContainer {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 150px;
  width: 100%;
}

.comingSoonImage {
  height: auto;
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.btnIcon {
  margin-left: 4px;
  width: 9px !important;
}

.rankHead {
  @include media767AndBelow() {
    display: none;
  }
}
