@use "../../../styles/variables" as *;

.toggle {
  button {
    transition: all 200ms;
    color: $borderGrey !important;

    &:hover {
      background: $active;
      border: 1px solid $borderGrey;
      box-shadow: 0px 4px 4px rgba(13, 13, 11, 0.05);
    }
    svg {
      color: $blackRussian;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem !important;
      line-height: 16px;
    }
  }
}
