@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.singleGridContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  width: 100%;
}

.doubleGridContainer {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  @include media991AndBelow {
    grid-template-columns: 1fr;
  }
}

.tripleGridContainer {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  @include media991AndBelow {
    grid-template-columns: 1fr;
  }
}

.ad {
  border-radius: 10px;
  background-color: $cardBackground;
  height: 100%;
  overflow: hidden;
  min-height: 100px;
  position: relative;
  border: 1px solid $cardBorder;
  @include boxShadow();
  .adImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .editButton {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    background-color: rgba($color: #fff, $alpha: 0.8);
    color: $textStrong;
    margin: 20px;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 3px;

    &:hover {
      background-color: rgba($color: #fff, $alpha: 1);
    }

    .icon {
      margin-right: 10px;
      font-size: 0.8rem;
    }
  }
}
