@use "../../../styles/variables" as *;

.eye {
  position: absolute;
  top: 13px;
  right: 18px;
  font-size: 18px;
  cursor: pointer;
  color: $whiteColor;
}

.dark {
  color: $textDark;
  top: 5px;
  right: 0;
}
