@use "../../../../../styles/mixins" as *;

.selectButton {
  @include removeButtonStyling();
  width: 100px;
  height: 40px;
  padding: 8px 12px 8px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #bcbdca;
  background-color: #ffffff;
  display: inline-flex;
  justify-content: space-between;
  margin: 0px 5px;

  &.activeButton {
    box-shadow: 0 0 4px 2px rgba(46, 135, 255, 0.6);
    border: solid 1px #2e87ff;
  }

  .text {
    font-size: 12px;
    font-weight: bold;
    margin: auto 0px;
  }

  .circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: solid 2px #16181a;
  }

  .activeCircle {
    background-color: #2e87ff;
    border: solid 2px #2e87ff;
  }
}
