@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.adContainer {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 0.6rem;
  border-radius: 10px;
  @include boxShadow();
  overflow: hidden;
  z-index: 1;
  .adHeader {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    .starIcon {
      font-size: 0.9rem;
      color: gold;
    }
    .headerText {
      padding: 0px;
      margin: 0px;
      font-size: 0.9rem;
      padding-left: 5px;
      color: $mainHighLight;
    }
    @include media767AndBelow() {
      width: 85px;
      .starIcon,
      .headerText {
        font-size: 0.7rem;
      }
    }
  }
  .hrefTag {
    position: relative;
    width: 100%;
    z-index: 2;
    .adImage {
      transition: 150ms;
      width: 100%;
      &:hover {
        .adImage {
          transform: scale(1.025);
        }
      }
    }
  }
  &:hover {
    .hrefTag {
      .adImage {
        transform: scale(1.025);
      }
    }
  }
}

// width="526" height="296"
