@use "../../../styles/variables" as *;

.cardContent {
  width: 260px;

  &:hover {
    border: 1px solid $borderGrey;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.noMembersTextWrapper {
  height: 200px;

  .noMembersText {
    font-size: 14px;
    padding: 0px 10px;
    text-align: center;
  }
}

.cardWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.selectedContentWrapper {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
  text-align: center;
  padding-top: 22px;
}

.selectedContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconWrapper {
  background: $brandeisBlue;
  border-radius: 50%;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.icon {
  font-size: 1rem;
  color: $text-color;
}

.selectedText {
  font-weight: 600;
  font-size: 16px;
  color: $text-color;
  margin: 0px;
  margin-top: 10px;
}
