@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.notificationBox {
  position: absolute;
  width: 22rem;
  z-index: 99999;
  right: 0px;
  border-radius: 10px;
  margin-top: 10px;
  @include boxShadow();
  @include media767AndBelow() {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    width: 100vw;
    right: -15px;
  }
  &:hover * {
    text-decoration: none;
  }
  .avatar {
    height: 40px;
    width: 40px;
    transition: 150ms;
    &:hover {
      transform: scale(1.1) !important;
    }
  }
  .transparentBtn {
    text-align: left;
    padding: 0;

    b {
      color: $textLight;
      a {
        color: $textLight;
        &:hover {
          color: $textDark;
          text-decoration: underline !important;
        }
      }
    }
  }
  .lastItem {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    .media {
      width: 90px !important;
    }
  }

  .headerTitle {
    font-size: 18px;
    font-weight: bold;
    color: #16181a;
    margin-top: 4px;
  }
  .cross {
    width: 15px;
    height: 24px;
    font-size: 18px;
    font-weight: 300;
    color: #008dff;
    margin-top: 5px;
    &:hover {
      cursor: pointer;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .content {
    line-height: normal;
    color: #16181a;
    font-size: 0.8rem;
  }
  .timeAgo {
    font-size: 12px;
    font-weight: 600;
    color: #008dff;
    margin-top: 10px;
  }
  .avatarIcon {
    position: relative;
    margin-right: 14px;
    .icon {
      position: absolute;
      right: -2px;
      top: 0px;
      color: white;
      .fireIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(circle at 50% 0, #ffb400, #ff6a00 104%);
        width: 20px;
        height: 20px;
        border-radius: 26px;
        border-radius: 17px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        .fire {
          width: 10px;
          height: 10px;
        }
      }
      .commentIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #00c1ff, #008dff);
        width: 20px;
        height: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius: 17px;
        .comment {
          width: 10px;
          height: 10px;
        }
      }
      .friendIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #00c1ff, #008dff);
        width: 20px;
        height: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius: 17px;
        .friends {
          width: 10px;
          height: 10px;
        }
      }
      .gamepadIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #00c1ff, #008dff);
        width: 20px;
        height: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius: 17px;
        .gamepad {
          width: 10px;
          height: 10px;
        }
      }
      .quoteIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to bottom, #00c1ff, #008dff);
        width: 20px;
        height: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        border-radius: 17px;
        .quote {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.time {
  color: $textLight;
  margin-top: 0 !important;
  font-size: 14px;
}

.readDot {
  border-radius: 16px;
  width: 10px;
  height: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #a7a8a8;
  float: right;
  margin-top: 6px;
}

.unreadDot {
  border-radius: 16px;
  width: 10px;
  height: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #008dff;
  float: right;
  margin-top: 6px;
}

.notificationContent {
  display: flex;
  justify-content: space-between;
}

.readAll {
  font-size: 10px;
  font-style: normal;
  line-height: normal;
  color: #16181a;
}

.bold {
  font-weight: bold;
}

.inviteButton {
  margin-bottom: 5px;
  padding: 0px 5px !important;
}

.notificationItemContainer {
  cursor: pointer;
}

.infiniteScrollWrapper {
  height: 400px;
  overflow: auto;
}
