@use "../../styles/variables" as *;

.tabsContainer {
  margin: 20px auto;
  grid-gap: 20px;
}

.tabWrapper {
  position: relative;
}

.tab {
  border-radius: 25px !important ;
  color: $textLight;
  font-weight: 500;
  font-family: Poppins;
  font-style: normal;
}

.small {
  padding: 4px 10px;
  font-size: 0.75rem;
}

.large {
  padding: 5px 12px;
  font-size: 0.875rem;
}

.tabBorder {
  border: 1px solid $borderGrey !important ;
}

.tabContent {
  overflow: visible;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
}
