@use "../../../../../../../../styles/themevariables" as *;
@use "../../../../../../../../styles/mediaQueries" as *;

.hypedButton {
  button {
    color: $hypeColor;
    &:hover {
      color: $hypeColor !important;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
}
@include media520AndBelow {
  .responsiveText {
    display: none;
  }
}

@include media991AndBelow {
  .responsiveText {
    display: none;
  }
}
