@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

@include media767AndBelow {
  .hideOnMobile {
    display: none !important;
  }
}

.profileCard {
  padding-bottom: 0px;
  .bodyWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    .name {
      color: $textStrong;
      margin-top: 1rem;
      text-align: center;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      .streak {
        margin-left: 5px;
      }
    }
    .username {
      color: $textWeak;
      text-align: center;
      font-size: 1rem;
      display: inline;
    }
    .og {
      color: $textWeak;
      display: inline;
      font-size: 0.7em;
      margin-left: 2px;
    }
    .userType {
      font-size: 0.9rem;
      font-weight: 500;
      color: $primaryColor;
    }
    .bio {
      color: $textStrong;
      font-size: 0.9rem;
      text-align: center;
      margin: 0.8rem auto;
      margin-bottom: 0rem;
      margin-top: 0.2rem;
      width: 100%;
      font-weight: 500;
      white-space: pre-line;
    }
    .location {
      margin-top: 0.5rem;
    }
  }
  .footer {
    background-color: $cardLowlight;
    color: $textStrong;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem;
    padding-bottom: 0.2rem;
    .counter {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .link {
      color: $textStrong;
      text-decoration: none;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .numberTitle {
    font-size: 15px;
    margin-top: 2px;
  }
  .number {
    font-size: 15px;
    margin-top: -4px;
  }
  .verified {
    color: $verifiedOrganization;
    font-size: 1rem;
    margin-left: 5px;
    display: inline-block;
    .verifyIcon {
      width: 20px;
      margin-top: -5px;
    }
  }
  .skeleton {
    text-align: center;
    margin: 50px auto;
  }
  .goldWrapper {
    width: 100%;
    margin-bottom: 10px;
    .goldImage {
      height: 24px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.marginRight {
  margin-right: 5px;
}
