@use "../../styles/themevariables" as *;

.small {
  width: 242px;
  height: 234px;

  .contentContainer {
    padding: 16px 18px;
  }

  .follower {
    margin-top: 16px;
  }

  p {
    margin: 0px;
  }
}

.large {
  width: 298px;
  height: 300px;

  .contentContainer {
    padding: 20px 30px;
  }

  .image {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .title {
    margin-top: 10px;
  }

  .follower {
    margin-top: 25px;
  }

  p {
    margin: 5px;
  }
}

.titleText {
  font-size: 1em;
  color: $textStrong;
}
.linkText {
  font-weight: bold;
  color: $textStrong;
  font-size: 1.1em;
  line-height: normal;
}
