@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.champion {
  @include verticalFlex();
  flex-direction: row;
  height: 50px;
  margin-top: 10px;

  .championIcon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.05), 0 4px 3px -1px rgba(0, 0, 0, 0.15);
    border: solid 5px $whiteColor;

    img {
      border-radius: 50%;
      height: 44px;
      width: 44px;
      object-fit: cover;
    }
  }
  .stats {
    display: flex;
    flex-direction: column;
    margin-left: 10px;

    .name {
      font-size: 0.625rem;
      font-weight: bold;
      color: $mainNavColor;
    }

    .statRow {
      display: flex;

      .stat {
        display: flex;
        align-items: baseline;
        margin-right: 5px;

        .value {
          font-size: 0.75rem;
          font-weight: bold;
          color: $mainNavColor;
          margin-right: 1px;
        }
        .label {
          color: $mainNavColor;
          font-size: 0.625rem;
          padding-left: 1px;
        }
      }
    }

    .description {
      font-size: 0.625rem;
      color: $mainNavColor;
    }
  }
}
