@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.ban {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 0.8em;
  .banIcon {
    font-size: 0.8em;
    margin-right: 2px;
  }
  &:hover {
    cursor: pointer;
    color: $removeIcon;
  }
}
