@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.rootContainer {
  padding: 20px 30px 20px 30px;

  .statsHeader {
    display: flex;
    justify-content: center;
  }

  .statDetails {
    @include verticalFlex();
    margin: 20px 0;
  }
}

.unlink {
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  color: $youtubeBtn;
  cursor: pointer;
}
