@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../ButtonSizes.module.scss" as *;

.rectangleButton {
  button {
    border-radius: 8px;
    outline: none;
    padding: 0 20px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    max-width: 220px;
  }
  .iconStyle {
    margin-right: 8px;
    font-size: 14px;
  }
}

.noLetterSpacing {
  button {
    letter-spacing: 0.5px;
  }
}

//size variables for height
.auto {
  button {
    height: $autoButton;
    padding: 10px 20px;
  }
}

.small {
  button {
    height: $smallButton;
  }
}

.medium {
  button {
    height: $mediumButton;
  }
}

.large {
  button {
    height: $largeButton;
  }
}

.extraLarge {
  button {
    height: $extraLargeButton;
  }
}
