@import "../../../../styles/variables";
@import "../../../../styles/mediaQueries";

.dashboardToolsContainer {
  margin-top: 1rem;
  @include media767AndBelow() {
    text-align: center;
  }
}

.buttons {
  @include media1024AndBelow() {
    margin-top: 1rem;
  }
}

.headerText {
  font-size: 12px;
  font-weight: bold;
  color: $mainNavColor;
  margin-left: 8px;
  margin-bottom: 5px;
}

.cardsContainer {
  margin-top: 12px;
  justify-content: space-around;
}
