@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.container {
  padding: 16px 20px;
  background: linear-gradient(180deg, rgba(0, 108, 250, 0.6) 0%, rgba(0, 0, 0, 0.75) 100%), #006cfa;
  color: $whiteColor;
  position: relative;

  small {
    font-size: 10px;
    opacity: 0.8;
  }
}

.appScreenshot {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.topRowText {
  h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  p {
    width: 210px;
  }
}

.phoneNumberRow {
  display: flex;
  justify-content: space-between;

  .phoneInput {
    padding: 5px 10px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px solid #c7d3ea;
    border-radius: 8px;

    input {
      width: 100%;
      border: none;
    }
  }
}
