@use "../../../styles/variables" as *;

.wrapper {
  width: 145px;
  background: $whiteColor;
  border: 1px solid $borderGrey;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    border: 1px solid $brandeisBlue;
    box-shadow: 0px 6px 30px rgba(0, 108, 250, 0.5), 0px 5px 4px rgba(0, 0, 0, 0.15);
  }

  &[aria-disabled="true"] {
    pointer-events: none;
    opacity: 0.7;

    .label {
      pointer-events: none;
    }
  }

  .label {
    margin-bottom: 0px;
    cursor: pointer;

    .checkboxInput {
      display: none;
    }

    .imageWrapper {
      width: 145px;
      height: 100px;
      position: relative;

      .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
      }

      .checkboxWrapper {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 108, 250, 0.6) 100%),
          linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        padding-top: 22px;

        .checkMark {
          height: 32px;
          width: 32px;
          display: inline-block;
          background: $brandeisBlue;
          border-radius: 50%;
          padding: 5px 6px;
          .icon {
            font-size: 18px;
            color: $whiteColor;
          }
        }
        .selectedText {
          color: $whiteColor;
          margin-bottom: 0px;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }
    }

    .body {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      align-content: flex-start;
      padding: 11px;
      font-size: 12px;
      line-height: 20px;

      .title,
      .teams {
        margin: 0px;
        overflow: hidden;
        height: 20px;
      }

      .title {
        font-weight: 700;
        color: $textBlack;
      }

      .teams {
        color: $textLight;
      }
    }
  }
}
