@use "../../../../styles/variables" as *;

.recaptchaBranding {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 0.7rem;
  opacity: 0.5;
  a {
    color: $tagColor;
    font-weight: 600;
    text-decoration: none;
  }
}
