.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;

  .text {
    margin-bottom: 0px;
    margin-left: 10px;
    color: #ffffff;
  }
}
