@use "../../../../../styles/themevariables" as *;
@use "../../../../../styles/mixins" as *;

.cardWrapper {
  padding-bottom: 0;
  min-height: 450px;
}

.cardTopWrapper {
  display: flex;
  background: $cardBackground;
  .status {
    align-self: center;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 600;
    color: $alwaysWhite;
    z-index: 3;
    width: auto;
  }
  .menu {
    margin: auto;
    margin-right: 15px;
    z-index: 3;
  }
  .headerImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 110px;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 0.5;
  }
}

.extendedBg {
  width: 100%;
  height: 110px;
  background: $cardBackground;
  position: absolute;
  z-index: 1;
}

.cardImageWrapper {
  border-radius: 50%;
  z-index: 2;
  margin: auto;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border: 5px solid $cardHighlight;
  object-fit: cover;
  object-position: center;
  &:hover {
    .cardImage {
      transition: 250ms;
      transform: scale(1.05);
    }
    cursor: pointer;
  }
}

.cardBody {
  text-align: center;
  color: $cardBackground;
  .titleLink {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -5px;
    .title {
      font-size: 1.1rem;
      font-weight: 600;
      height: 23px;
      color: $textStrong;
      margin-bottom: 0.1rem;
      max-width: 90%;
      @include clampText(1);
      transition: 150ms;
    }
    &:hover {
      .title {
        opacity: 0.8;
      }
    }
  }
  .subTitle {
    font-size: 0.9rem;
    color: $primaryColor;
  }
  .description {
    min-height: 65px;
    @include clampText(3);
    color: $textWeak;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.cardFooter {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  background: $cardLowlight;
  .footerItem {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-right: 1px solid;
    font-weight: 600;
    color: $textStrong;
    border-color: $cardBorder;
    &:last-child {
      border-right: none;
    }
    .footerLabel {
      font-size: 0.8rem;
    }
    .footerValue {
      font-size: 0.7rem;
    }
  }
}

.actionWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: auto -15px;
}
