@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.organizationWrapper {
  margin-top: 2rem;
  .organizationBody {
    padding-top: 9rem;
    margin-bottom: 2rem;
    @include media991AndBelow() {
      padding-top: 0px;
    }
  }
}

.hideOnMobile {
  margin-top: 1.5rem;
  @include media767AndBelow() {
    display: none;
  }
}

//0.25 == 1920/480
//0.20 == 1920/384
//0.166666 == 1920/320 aspect ratio

.imgLax {
  @include imgLax;
}

.webviewInternalContent {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  padding: 0 !important;
}

.mainContainer {
  min-height: 100vh;
}

.externalViewButton {
  @include exterViewButtonWrapper();
}

.organizationContent {
  padding-bottom: 30px;
}
