@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.switchWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  .switchText {
    color: $mainNavColor;
    font-size: 0.9em;
  }
  .switch {
    margin-left: auto;
  }
  border-bottom: 1px solid $lightCardBorder;
  padding-top: 6px;
  padding-bottom: 6px;
}
