@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.footer {
  background-color: #101124;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2em;
  padding-bottom: 1em;
  justify-items: center;
  @include media767AndBelow() {
    justify-items: left;
    grid-template-columns: 1fr;
  }
  .link {
    color: $textLight;
    &:hover {
      color: $mainHighLight;
      cursor: pointer;
    }
  }
  .copyright {
    color: $textLight;
  }
  .socialContainer {
    color: $textLight;
    .socialLink {
      .socialIcon {
        width: 25px;
        height: 25px;
        margin-right: 3px;
        margin-left: 3px;
      }
    }
    .official {
      margin-top: 1em;
    }
    .followSocials {
      margin-bottom: 1em;
    }
  }
}
