@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.userIcon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.05), 0 4px 3px -1px rgba(0, 0, 0, 0.15);
  border: 3px solid $mainHighLight;
  @include media400AndBelow() {
    width: 35px !important;
    height: 35px !important;
  }
}
.userIcon:nth-child(1) {
  z-index: 4;
}
.userIcon:nth-child(2) {
  z-index: 3;
  margin-left: -20px;
}
.userIcon:nth-child(3) {
  z-index: 2;
  margin-left: -20px;
}
.userIcon:nth-child(4) {
  z-index: 1;
  margin-left: -20px;
}
.largeSize {
  width: 50px;
  height: 50px;
  @include media991AndBelow() {
    height: 40px;
    width: 40px;
  }
}
