@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.teamsWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .teamContainer {
    @include generalCardStyles();
    &:nth-child(even) {
      margin-left: auto;
    }
    margin-bottom: 10px;
    width: 49.5%;
    padding: 1em;
    @include media767AndBelow() {
      width: 100%;
    }
    .teamNameWrapper {
      @include resetChildrenPaddingMargin();
      display: flex;
      align-items: center;
      border-bottom: 1px solid $cardBorder;
      padding-bottom: 10px;
      .teamName {
        color: $textStrong;
        font-weight: bold;
        margin-right: 10px;
      }
      .teamScore {
        font-size: 0.9em;
        color: $textStrong;
        margin-left: auto;
      }
    }
  }
}

.playersWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.playerContainer {
  @include resetChildrenPaddingMargin();
  padding-top: 10px;
  width: 100%;
  margin-right: 10px;
  &:last-child {
    margin-right: 0px;
  }
  .playerName {
    color: $textWeak;
  }
  .playerScore {
    font-weight: bold;
    color: $textStrong;
  }
  .playerInputField {
    @include inputFieldBorderBottom();
  }
}

.buttonWrapper {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
