@use "../../../styles/variables" as *;

.widgetCard {
  padding: 10px;

  .heading {
    font-size: 20px;
    font-weight: 600;
    color: $mediumTextColor;
  }

  .row {
    padding: 10px 0;
    border-bottom: 1px solid $borderGrey;
    cursor: pointer;
    align-items: center;

    .categoryName {
      font-size: 14px;
      color: $mediumTextColor;
    }
  }

  .row:last-child {
    border: none;
  }
}
