@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.cardStyle {
  @include generalCardStyles();
  border: 1px solid $borderGrey;
}

.noneShadow {
  box-shadow: none;
  border: 1px solid $borderGrey;
}

.smallShadow {
  @include boxShadowSmall();
}

.mediumShadow {
  @include boxShadowMedium();
}

.largeShadow {
  @include boxShadowLarge();
}

.fitContent {
  width: fit-content;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.auto {
  height: auto;
}

.hidden {
  overflow: hidden;
}

.visible {
  overflow: visible;
}

.selected {
  box-shadow: 0 0 4px 2px rgba(46, 135, 255, 0.6);
}

.default {
  cursor: pointer;
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.blue {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 4px 2px rgba(46, 135, 255, 0.6);
  }
}

.noBorder {
  border: none;
}

.disabled {
  opacity: 0.5;

  &:hover {
    cursor: default;
  }
}
