@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.header {
  width: 100%;
  padding: 10px 15px 10px 15px;
  color: $textStrong;
  font-weight: 600;
  border-bottom: 1px solid $cardBorder;
  background: linear-gradient(to right, $cardLowlight 50%, $cardBackground 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.25s ease-out;
  &:hover {
    cursor: pointer;
    background-position: left bottom;
  }
}

.active {
  background: $cardLowlight;
}
