@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.background {
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.85) 100%),
    url(https://cdn.efuse.gg/uploads/leagues/leagues-landing-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.backgroundBlur {
  position: absolute;
  width: 100%;
  height: 100%;
  @include blur(5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inviteTextHeader {
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  color: $textBlack;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 3rem;
  padding-top: 150px;
  max-width: 700px;
  margin: 0 auto;
}

.buttonContainer {
  text-align: center;
  margin: 50px 0;
}

.leagueContainer {
  padding: 20px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  .cardContainer {
    display: flex !important;
    justify-content: center;
  }
}
