.title {
  margin-top: 30px;
  text-align: center;
  color: #000;
}

.description {
  text-align: center;
  font-size: 1em;
  margin: 30px auto;
  max-width: 600px;
  color: rgb(115, 115, 133);
}

.instructionText {
  text-align: center;
  margin-top: 30px;
  font-size: 0.8em;
  color: rgb(115, 115, 133);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;

  & > * {
    margin: 0px 30px;
  }
}
