@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.requirementsCompleted,
.requirementsNeeded {
  padding: 1em;
  margin-bottom: 1em;
  @include generalCardStyles();
}

.check,
.times {
  margin-right: 8px;
}

.requirementsCompleted {
  .check {
    color: $statusColor;
  }
}

.requirementsNeeded {
  .times {
    color: $removeIcon;
  }
}

.subTitle {
  @include resetPaddingMargin();
  color: $mainNavColor;
  font-weight: 700;
  padding: 8px;
  padding-bottom: 2px;
}

.requirement {
  padding: 8px;
}

.requirementNotMet {
  &:hover {
    background-color: $postLowLight;
    cursor: pointer;
  }
}

.description {
  font-size: 0.9em;
}
