@use "../../../styles/mediaQueries" as *;
@use "../../../styles/themevariables" as *;

.portfolioIcon {
  border-radius: 30px;
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08);
  border: solid 1px $cardBorder;
  background-color: $cardHighlight;
  text-align: center;
  margin: auto;
  width: 42px;
  height: 42px;
  padding: 8px;
}
.portfolioInfo {
  position: relative;
  bottom: 9px;
}

.icon {
  font-size: 16px;
}
.portfolioInfoText {
  background-color: $primaryColor;
  position: relative;
  color: $alwaysWhite;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 9px;
  font-size: 10px;
}

.infoWrap {
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  @include maxMediaQuery(550px) {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}

.iconName {
  font-size: 10px;
  font-weight: bold;
  color: $textWeak;
}

.nameWrapper {
  margin-top: -10px;

  .iconName {
    font-size: 9px;
    font-weight: bold;
    color: $textWeak;
  }
}
