@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.postPreview {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;

  * {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
  .post {
    padding-right: 20px;

    .scheduledAt {
      font-size: 0.75rem;
      font-weight: bold;
      color: $mediumTextColor;
    }

    .createdAt {
      font-size: 0.75rem;
      font-weight: 600;
      color: rgba($darkColor, 0.3);
      padding-bottom: 5px;
    }

    .content {
      font-size: 0.875rem;
      color: $mediumTextColor;
      word-break: break-word;
      white-space: pre-wrap;
      @include clampText(3);
    }
  }
}
