@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.efTeamCard {
  width: 260px;
  height: 244px;
  display: flex;
  flex-direction: column;
  position: relative;

  .alertIconWrapper {
    width: 30px;
    height: 30px;
    background: $whiteColor;
    border: 1px solid $borderGrey;
    border-radius: 20px;
    padding: 2px 6px;
    position: absolute;
    right: -15px;
    top: -15px;
    @include boxShadowSmall();

    .icon {
      color: $efuseOrange;
    }
  }

  .header {
    padding: 12px 15px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logoWrapper {
      position: absolute;
      left: -8px;
      top: -8px;
    }

    .asLink {
      &:hover {
        opacity: 0.9;
        cursor: pointer;
      }
    }

    .logo {
      border-radius: 8px;
      object-fit: cover;
      background: rgba(255, 255, 255, 0.87);
      border: 1px solid $borderGrey;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    }

    .teamDetail {
      overflow: hidden;
      padding-right: 6px;
    }

    .teamName {
      @include resetPaddingMargin();
      color: $textStrong;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 0.75rem;
    }

    .members {
      font-size: 10px;
      color: $textWeak;
    }
  }

  .memberList {
    overflow-y: auto;
    @include resetPaddingMargin();
    list-style-type: none;
    height: 100%;
    padding: 20px 20px 10px 20px;

    p {
      font-family: Poppins, sans-serif !important;
    }

    li {
      padding: 10px 0;
    }

    .separator {
      @include resetPaddingMargin();
      border-top: 1px solid $borderGrey;
      opacity: 0.5;
    }
  }

  .noMembersText {
    font-size: 12px;
    color: $textLight;
    padding: 40px 0px;
    text-align: center;
  }
}
