@use "../../../../styles/mixins" as *;
@use "../../../../styles/themevariables" as *;

.filters {
  text-align: center;
  .filterTitle {
    color: $backgroundTextStrong;
    font-size: 0.9em;
    margin-bottom: 0.5em;
    font-weight: 600;
  }
  .filterButton {
    outline: none;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    padding: 8px;
    border: 1px solid $cardBorder;
    background-color: $cardBackground;
    color: $textWeak;
    @include boxShadow();
    &:hover {
      opacity: 0.8;
    }
  }
  .recentFilter {
    .recent {
      margin-left: 6px;
    }
  }
  .active {
    color: $textStrong;
    font-weight: 600;
    .btnText {
      border-left: 3px solid $alwaysBlack;
      padding-left: 10px;
      margin-left: -13px;
    }
  }
}
