@use "../../../styles/themevariables" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.mainContainer {
  background-color: $backgroundColor;
  min-height: 100vh;
}

.profileBackgroundImage {
  @include imgLax;
}

.editButton {
  position: absolute;
  top: 80px;
  right: 20px;
  button {
    &:hover {
      background: $whiteColor !important;
      background-blend-mode: unset !important;
    }
  }
}
