@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.topCardContainer {
  position: relative;

  .imageContainer {
    height: 146px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    cursor: pointer;
  }

  .avatarList {
    position: absolute;
    left: 14px;
    bottom: -16px;
  }
}
.textWrapper {
  padding: 1em;
  @include resetChildrenPaddingMargin();
  .cardTitle {
    font-size: 15px;
    color: $textStrong;
    font-weight: bold;
    @include clampText(4);
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .cardSubTitle {
    text-transform: uppercase;
    color: $primaryColor;
    font-weight: bold;
    font-size: 11px;
    padding-top: 12px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .date {
    margin-top: 0.5em;
    font-size: 9px;
    font-weight: bold;
    color: $textWeak;
  }
}
