@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;

$cardHeight: 140px;

.container {
  border: solid 1px $cardBorder;
  border-radius: 14px;
  transition: 200ms;
  overflow: hidden;
  position: relative;

  &:hover {
    @include boxShadowSmall();
    text-decoration: none;
    background-color: $cardLowlight;
  }

  display: flex;
  align-items: center;

  .imageContainer {
    overflow: hidden;
    height: $cardHeight;
    width: 45%;

    .image {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      transition: 200ms;
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .caption {
    padding: 1.25rem;
    width: 55%;

    .linkIcon {
      color: $textWeak;
      font-size: 14px;
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .title {
      @include clampText(2);
      font-weight: 600;
      font-size: 14px;
      color: $textStrong;
      margin-bottom: 0.3rem;
      line-height: 1.2rem;
    }

    .description {
      @include clampText(3);
      color: $textWeak;
      font-size: 12px;
      margin: 0;
    }
  }
}
