@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.contentWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: default;
}

.backgroundImageContainer {
  position: relative;
  flex: 0 1 200px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  background-position: center;
  background-size: cover;
}

.cardHeading {
  @include listCardDetailsSmall;
  font-size: 18px;
  font-weight: 600;
  color: $darkColor;
  line-height: 24px;
  margin: 5px 0px 0px 5px;
}

.infoPills {
  display: flex;
}

.flexBar {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.date {
  @include listCardDetailsSmall;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: $greyVariant;
  margin-left: 5px;
}

.description {
  @include listCardDetailsSmall;
  font-weight: normal;
  line-height: 20px;
  color: $darkColor;
}

.detailsContainer {
  padding: 10px 18px 5px 18px;
  display: flex;
  flex-wrap: wrap;
}
.detailsList {
  margin-right: 30px;
}

.organizerBar {
  display: flex;
  align-items: center;
  margin-top: -40px;
}

.icon {
  color: $greyVariant;
  font-size: 10px;
}

.organizerThumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 5px solid $whiteColor;
  z-index: 100;
}

.buttonContainer {
  flex: 1;
  justify-content: flex-end;
  flex-direction: row;
}

.buttonWrapper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.button {
  @include listCardDetailsSmall;
  font-weight: 600 !important;
  margin-left: 10px;
  padding: 12px 41px !important;
}

.secondaryBtn {
  border-color: $borderGrey !important;
}

.primaryBtn {
  background: $brandeisBlue !important;
  border-color: $brandeisBlue !important;
}
