@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modalBackground {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  @include blur(5);
  background-color: rgba($darkColor, 0.2);
  z-index: 10;
  overflow: auto;
}

.modal {
  position: relative;
  flex: 1;
  width: 90%;
  max-width: 600px;
  height: auto;
  margin: auto;
  padding: 40px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 10px;
  background-color: $mainHighLight;
  @include media767AndBelow {
    padding: 30px;
  }
  @include maxMediaQuery(400px) {
    margin-top: 5vh;
  }
  .title {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .fullBackgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.5;
  }
  .modalCloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 10px;
    z-index: 2;
    cursor: pointer;

    &:hover {
      color: $textLight;
    }

    &:active {
      color: $darkColor;
    }
  }
}

.noPadding {
  padding: 0px;
}

.textAlignCenter {
  text-align: center;
}

.leftAlignCloseButton {
  top: 10px;
  left: 10px;
  right: inherit !important;
}

.hideOverflow {
  overflow: inherit;
}

.level2 {
  z-index: 1060;
}

.level1 {
  z-index: 1051;
}
