@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.footer {
  @include centerFlex();
  padding: 0em 1em 1.5em 1em;
  color: $mainHighLight;
  z-index: 3;
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    .efuseLogoLeaderboard {
      height: 40px;
    }
    .poweredBy {
      font-size: 1.1rem;
      text-align: center;
      color: $textLight;
    }
    .efuseNameLeaderboard {
      margin-left: -10px;
      margin-bottom: -4px;
      height: 25px;
    }
  }
}
