@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

@mixin btnStyle($backgroundColor, $color) {
  background-color: $backgroundColor !important;
  border: none;
  box-shadow: none !important;
  color: $color;
}

@mixin btnTheme($backgroundColor, $color) {
  @include btnStyle($backgroundColor, $color);
  &:hover,
  &:active,
  &:focus,
  &:visited {
    @include btnStyle($backgroundColor, $color);
  }
}

@mixin lightButton() {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1) !important;
  border: solid 1px $inputBorder !important;
  text-align: left;
  color: $textLight;
  font-weight: 500;
  height: 42px;
  font-size: 1em;
  padding: 5px 10px;
  &:active {
    color: $mainNavColor !important;
  }
  &:hover {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1) !important;
  }
}

.dialogButton {
  border: 0px;
  border-radius: 0px;
  font-weight: 600;
  padding: 0.4rem 0.5rem;
  position: relative;
  &.external {
    @include btnTheme($whiteColor, $darkColor);
  }

  &.internal {
    @include btnTheme($btnLightShade, $whiteColor);
    font-size: 0.7rem;
  }

  &.lightButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
  }
  &.noShadowButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
    box-shadow: none !important;
  }
}

.dialogButtonOverlay {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  border: 0px;
  border-radius: 0px;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: auto;
  min-width: 110px;
  &.external {
    @include btnTheme($whiteColor, $darkColor);
  }

  &.internal {
    @include btnTheme($btnLightShade, $whiteColor);
    font-size: 0.7rem;
  }

  &.lightButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
  }
  &.noShadowButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
    box-shadow: none !important;
  }
  @include media767AndBelow() {
    min-width: 100px !important;
  }
}

.dialogButtonRightAlign {
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: 0px;
  border-radius: 0px;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  width: auto;
  min-width: 110px;
  &.external {
    @include btnTheme($whiteColor, $darkColor);
  }

  &.internal {
    @include btnTheme($btnLightShade, $whiteColor);
    font-size: 0.7rem;
  }

  &.lightButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
  }
  &.noShadowButton {
    @include btnStyle($mainHighLight, $mainNavColor);
    @include lightButton();
    box-shadow: none !important;
  }
  @include media767AndBelow() {
    min-width: 100px !important;
  }
}

.uploadIcon {
  margin-left: auto;
  color: $mainNavColor;
}
