@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.leaderboardItem {
  @include boxShadowSmall();
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px $lightCardBorder;
  background-color: $mainHighLight;
  border-radius: 8px;
  margin-top: 8px;
  height: auto;
  padding: 10px 15px;
}

.leaderboardFooter {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $postLowLight;
  width: calc(100% + 2.2em);
  height: 80px;
  margin: 1.2em -1.1em -1em -1.1em;
  padding: 1em 1.1em;
  border-top: 1px solid $hrBorder;
}

.position {
  position: absolute;
  top: 5px;
  left: 10px;
  display: flex;
  background-color: $leaderboardBlue;
  padding: 6px;
  border-radius: 50%;
  min-width: 22px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 22px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  color: $mainHighLight;
  font-size: 0.7rem;
}

.itemAvatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
}
.itemText {
  @include resetChildrenPaddingMargin();
  padding-left: 10px;
  width: 100%;
  .itemUsername {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    color: $mainNavColor;
    font-weight: bold;
    .title {
      &:hover {
        cursor: pointer;
        color: $tagColor;
      }
    }
    .icon {
      margin-left: auto;
      color: $tagColor;
      margin-right: 5px;
      font-size: 1em;
    }
    .iconText {
      font-weight: bold;
      color: $tagColor;
      font-size: 0.9em;
    }
    .purpleBolt {
      color: $boltColor;
    }

    .blackIcon {
      color: $mainNavColor;
    }

    .blueList {
      color: $leaderboardBlue;
    }
  }
  .itemSubtitle {
    @include clampText(1);
    color: $textLight;
    font-size: 0.9em;
  }
}
