@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.container {
  background-color: $mainHighLight;
  border-radius: 10px;
  margin-bottom: 25px;
  border: 1px solid $lightCardBorder;
  overflow: hidden;
  @include boxShadow();
  .header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $mainHighLight;
    padding: 10px 12px 10px 15px;
    font-weight: 600;
    color: $textDark;
    border-bottom: 1px solid $hrBorder;
    .headerPercentage {
      padding: 0px;
      margin: 0px;
      margin-left: auto;
      color: $mainHighLight;
      height: 100%;
      font-weight: 600;
      z-index: 3;
    }
    .headerBg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 35%;
      background-color: rgba(0, 0, 0, 0.8);
      clip-path: polygon(12% 0, 100% 0, 100% 100%, 43% 100%, 33% 56%, 30% 76%);
      -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 43% 100%, 34% 61%, 30% 76%);
      -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 100);
      -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 100);
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 100);
      z-index: 2;
    }
  }
  .bodyItem {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 12px;
    min-width: 275px;
    .text {
      @include resetPaddingMargin();
      color: $textDark;
      padding-left: 8px;
      font-size: 0.9em;
      &.complete {
        text-decoration: line-through;
      }
    }
    .bodyItemPercent {
      @include resetPaddingMargin();
      right: 0;
      padding-right: 8px;
      font-size: 0.9em;
      margin: 0;
      margin-left: auto;

      &.complete {
        color: $efuseBlue;
      }
    }
    .icon {
      color: $textLight;
      font-size: 0.8em;
      width: 20px;
    }
    .check {
      color: $tagColor;
    }
    &:hover {
      background-color: $lowShadow;
      cursor: pointer;
    }
  }
  .bodyComplete {
    background-color: $lowShadow !important;
    &:hover {
      cursor: pointer;
    }
  }
}

.progressBar {
  height: 10px;
  border-radius: 0px;
}
