@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.teamCard {
  @include generalCardStyles();
  overflow: inherit;
  position: relative;
  width: 100%;
  margin-top: 10px;
  .teamCardTitle {
    @include resetPaddingMargin();
    color: $textLight;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-left: 3px;
  }
}

.fullWidth {
  width: 100%;
}

.teamNameInputField {
  border: none;
  font-weight: bold;
  border-bottom: 2px solid $hrBorder;
  margin-top: 5px;
  font-size: 1.1em;
  width: 100%;
  &:focus {
    border-bottom: 2px solid $tagColor;
    outline: none;
  }
}

.teamInput {
  &:first-child {
    margin-top: 0em;
  }
  &:nth-child(2) {
    margin-top: 0em;
  }
}

.inputHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid $hrBorder;
  .number {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    display: inline-block;
    background-color: $tagColor;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: $mainHighLight;
    font-size: 0.9em;
  }
}

.playerContainer {
  display: block;
  width: 100%;
  background-color: $postLowLightNoRGBA;
  padding: 1em;
  border-radius: 0px 0px 10px 10px;
}

.playersInputField {
  border: none;
  font-weight: bold;
  border-bottom: 2px solid $hrBorder;
  font-size: 1em;
  width: 100%;
  color: $darkColor;
  background-color: $postLowLightNoRGBA;
  margin-right: 10px;
  height: 35px;
  padding-left: 5px;
  &:focus {
    border-bottom: 2px solid $tagColor;
    outline: none;
  }
}

.inputPlayerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
  margin-left: 3px;
  margin-bottom: 8px;
  .number {
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    display: inline-block;
    background-color: $tagColor;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    color: $mainHighLight;
    font-size: 0.9em;
  }
}

.playerTitleWrapper {
  display: flex;
}

.alignItems {
  @include verticalFlex();

  .twitchIcon {
    margin-right: 8px;
    color: $textExtraLight;
    &:hover {
      cursor: pointer;
      color: $textDark;
    }
  }

  .efuseLogo {
    color: $textExtraLight;
    margin-right: 8px;
    height: 18px;

    &:hover {
      cursor: pointer;
      color: $mainNavColor;
      opacity: 0.8;
    }
  }
}

.postitionAbsolute {
  position: absolute;
  top: 1em;
  right: 10px;
}

.deleteIcon {
  color: $textExtraLight;
  &:hover {
    cursor: pointer;
    color: $removeIcon !important;
  }
}
