@use "../../../../styles/variables" as *;

.placeholder {
  position: relative;
  margin: auto;
  font-size: 1em;
  word-break: break-word;
  width: 100%;
  color: $mainNavColor;
  font-weight: 500;
}
