@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;

.checkboxWrapper {
  display: flex;
  align-items: center;
  .textWrapper {
    @include resetChildrenPaddingMargin();
    @include preventTextSelect();
    margin-left: 10px;
    margin-top: 0px;
    .label {
      color: $textStrong;
      font-weight: bold;
      font-size: 0.9em;
    }
    .subLabel {
      color: $textWeak;
      font-size: 0.55em;
      margin-top: -3px;
      margin-left: 1px;
    }
  }
}
