@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.modalBackground {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba($darkColor, 0.2);
  /**
    Modal.module.scss has 2 level of z-index due to which when we use EFModal for link
    sharing, it stacks behind Modal.js 
    Here increasing it so that EFModal always remains below TwitchClips modal.
  **/
  z-index: 1050;
  overflow: auto;
  @include blur(5);
}

.modal {
  position: relative;
  flex: 1;
  width: 90%;
  height: auto;
  min-height: 48px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 12px;
  background-color: $mainHighLight;
  @include boxShadow();
  @include media767AndBelow {
    width: 320px;
  }
  @include maxMediaQuery(400px) {
    margin-top: 5vh;
  }
  .modalCloseButton {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
  }
}
