.extraSmall {
  max-width: 360px;
}

.small {
  max-width: 600px;
}

.medium {
  max-width: 800px;
}

.large {
  max-width: 1200px;
}

.fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0;
}

.auto {
  width: auto;
}
