@import "../../styles/variables";

.tipsContainer {
  width: 90%;
  margin: 10px 30px;
  display: -webkit-inline-box;
}

.buttonMargin {
  margin-top: 0px;
}

.tips {
  font-size: 12px;
  font-weight: bold;
  color: $darkColor;
  margin-top: 20px;
}

.tipText {
  padding: 0px 10px;
  text-align: left;
}
