@use "../../styles/variables" as *;

.infoText {
  line-height: 1.6;
  font-weight: 700;
  font-size: 80%;
  &.external {
    color: $onboardingPlaceholderColor;
  }
  &.internal {
    color: $labelColor;
    margin-bottom: 0;
  }
  &.dark {
    color: $mainNavColor;
  }
}
