@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.permission {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $darkHighlight;
}
.recruitSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .applicants {
    display: flex;
  }
  .icon {
    position: relative;
    top: 10px;
    left: 13px;
  }
  .search {
    @include boxShadow();
    width: 42px;
    height: 42px;
    border-radius: 23px;
    border: solid 1px $inputBorder;
    background-color: $darkModeTextColor;
    float: right;
    & > svg {
      color: $mainNavColor;
      width: 18px;
      height: 18px;
      font-size: 18px;
      margin-left: -2px;
    }
  }
  .applicantTitle {
    font-size: 24px;
    font-weight: 700;
    color: $mainNavColor;
    padding: 0px;
    margin: 0px;
  }
  .sectionIcon {
    width: 35px;
    height: 29px;
    font-size: 28px;
    font-weight: 300;
    color: $efuseBlue;
    margin-right: 15px;
  }
  .recruitingAs {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    .recruitingName {
      color: $mainNavColor;
      &:hover {
        color: $tagColor;
        text-decoration: underline;
        cursor: pointer;
      }
      &:active {
        color: $tagColor;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  @include media767AndBelow() {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    .hidden {
      display: none;
    }
  }
  .hidden {
    display: none;
  }
}

.bottomContainer {
  margin-top: 2em;
  display: flex;
  width: 100%;
  .contentHeader {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 16px;
    .header {
      font-weight: bold;
      color: $grey;
    }
    .total {
      color: $mainNavColor;
    }
    @include media767AndBelow {
      align-items: center;
      flex-direction: column;
      margin: 20px;
    }
  }
  [aria-controls="recruiting-tabpane-all"],
  [aria-controls="recruiting-tabpane-starred"] {
    margin-bottom: 10px;
  }
  .filtersMobile {
    display: none;
  }

  @include media991AndBelow() {
    width: 100%;
    overflow: hidden;
    margin-top: 0em;
    .filters {
      display: none;
    }
  }
}
