@use "../../../styles/themevariables" as *;

.highlightVideoSection {
  margin: 10px auto;
}

.title {
  font-size: 1.3rem;
  color: $textStrong;
  font-weight: 600;
  padding: 15px 20px;
  margin-bottom: 0px;
}

.videoContainer {
  position: relative;
}

.chip {
  position: absolute;
  z-index: 1;
  top: 10px;
}

.liveChip {
  right: 85px;
}

.erenaChip {
  right: 20px;
}
