@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.opportunitySection {
  display: flex;
  align-items: center;
  .opportunityTitle {
    font-size: 24px;
    font-weight: 700;
    color: $backgroundTextStrong;
    padding: 0px;
    margin: 0px;
  }
  .sectionIcon {
    width: 35px;
    height: 29px;
    font-size: 28px;
    font-weight: 300;
    color: $primaryColor;
    margin-right: 15px;
  }
  .viewAll {
    padding: 0px;
    margin: 0px;
    margin-left: auto;
    color: $primaryColor;
    font-weight: bold;
    &:hover {
      color: $primaryColorHover;
      cursor: pointer;
    }
  }
}

.horizontalScroll {
  padding-bottom: 15px !important;
}

.promotedSection {
  display: grid;
  grid-template-columns: 5.5fr 4.5fr;
  width: 100%;
  margin-top: 1em;
  .promotedImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 11px 8px -3px rgba(0, 0, 0, 0.15), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
    @include media991AndBelow() {
      border-radius: 10px 10px 0px 0px;
    }
  }
  .promotedTextSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    * {
      padding: 0px;
      margin: 0px;
    }
    .title {
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
      font-size: 2.2em;
      font-weight: bold;
      line-height: 0.95;
      color: $alwaysWhite;
    }
    .subTitle {
      font-size: 1em;
      font-weight: bold;
      color: $primaryColor;
    }
    .backgroundImage {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0px;
      border-radius: 0px 10px 10px 0px;
      box-shadow: 0 11px 8px -3px rgba(0, 0, 0, 0.15), 0 5px 5px -3px rgba(0, 0, 0, 0.1);
      z-index: -1;
      @include media991AndBelow() {
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
  @include media1366AndBelow() {
    .promotedTextSection {
      .title {
        font-size: 1.8em;
      }
      .subTitle {
        font-size: 0.8em;
      }
      .description {
        font-size: 0.8em;
      }
    }
  }
  @include media991AndBelow() {
    display: block;
    .promotedTextSection {
      padding: 1em;
    }
  }
}

.bottomContainer {
  margin-top: 20px;
  display: flex;
  width: 100%;
  .loader {
    width: 10%;
    margin: 0 auto;
    img {
      margin-left: 0 !important;
      width: 70px;
    }
  }
  .filters {
    border-radius: 10px;
    background-color: $cardBackground;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
    border: solid 1px $cardBorder;
    height: 580px;
  }
  .filtersMobile {
    display: none;
  }
  .bucketsContainer {
    display: flex;
    @include media991AndBelow() {
      margin-top: 2em;
    }
  }
  .bucket {
    width: 100%;
    margin-right: 8px;
    &:last-child {
      margin-right: 0px;
    }
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 9px 7px -2px rgba(0, 0, 0, 0.15);
    width: 225px;
    height: 300px;
    .bucketBackground {
      height: 100%;
      width: 100%;
      overflow: hidden;
      -webkit-mask-image: -webkit-radial-gradient(white, black);
      border-radius: 10px;
    }
    &:hover {
      cursor: pointer;
      .bucketImage,
      .bucketOverlay {
        transform: scale(1.05);
      }
    }
    .bucketOverlay {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 270px;
      z-index: 2;
    }
    .bucketImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 150ms;
    }
    .bucketText {
      z-index: 2;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      width: auto;
      white-space: nowrap;
      text-align: center;
      padding: 0px;
      margin: 0px;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      margin-top: 20px;
      padding: 3px 18px;
      border-radius: 5px;
      color: $alwaysWhite;
      background-color: rgba(0, 0, 0, 0.2);
    }
    @include media991AndBelow() {
      .bucketImage,
      .bucketOverlay {
        height: 210px;
      }
    }
    @include media767AndBelow() {
      .bucketImage,
      .bucketOverlay {
        flex-shrink: 0;
        width: 150px;
      }
      .bucketText {
        font-size: 0.7em;
      }
    }
  }
  @include media991AndBelow() {
    width: 100%;
    overflow: hidden;
    margin-top: 0em;
    .filters {
      display: none;
    }
  }
}

.promotedOppSection {
  margin-top: 2em;
  height: auto;
  min-height: 200px;
  margin-bottom: -1em;
  overflow: hidden;
}

.subOppSection {
  margin-top: 1em;
  height: auto;
  min-height: 200px;
  overflow: hidden;
}

.promotedOppList {
  width: 100%;
  margin-top: 1em;
  display: flex;
  height: auto;
  padding-bottom: 1em;
}
