@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.statItemWrapper {
  background-color: $navbarHighlight;
  border-color: $cardBorder;
  word-wrap: break-word;
}
