@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    .leaguePoints {
      margin-top: 18px;
      .value {
        font-size: 2.125rem;
        font-weight: bold;
        color: $mainNavColor;
      }
      .label {
        font-size: 1.5rem;
        font-weight: bold;
        color: $mainNavColor;
        margin-left: 10px;
      }
      .rank {
        margin-bottom: 28px;
        font-size: 0.5rem;
        color: $mainNavColor;
      }
    }
    .individual {
      flex-direction: row !important;
      justify-content: space-evenly !important;
      margin-top: 20px;
    }
    .group {
      flex-direction: column;
    }
    .border {
      border-right: 1px solid $lightCardBorder;
      margin-right: 10px;
      padding-right: 10px;
    }
    .winLossSection {
      min-width: 210px;
      min-height: 58px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      border-radius: 6px;
      border: solid 1px $lightCardBorder;
      padding: 10px 14px;

      .winsAndLosses {
        display: flex;
        align-items: baseline;

        .value {
          font-size: 16px;
          font-weight: bold;
          color: $mainNavColor;
          margin-right: 2px;
        }
        .label {
          font-size: 10px;
          color: $mainNavColor;
          &.first {
            margin-right: 10px;
          }
        }
      }

      .winRatio {
        font-size: 10px;
        color: $mainNavColor;
      }
    }
  }
  .tier {
    @include verticalFlex();
    flex-direction: column;
    width: 137px;
    margin-left: -68px;

    .image {
      width: 137px;
      height: auto;
      object-fit: cover;
    }

    .label {
      font-size: 0.625rem;
      font-weight: bold;
      color: $mainNavColor;
      text-transform: capitalize;
    }
  }
}
