@use "../../../../../styles/variables" as *;

.notesWrapper {
  height: 400px;
}

.noNotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 330px;
  border: 1px solid $borderGrey;
  border-radius: 10px;
}

.noteContainer {
  margin-bottom: 10px;
  border: 1px solid $borderGrey;
  border-radius: 10px;
}

.notes {
  overflow-y: auto;
  height: 340px;
  padding-right: 10px;
}

.note {
  text-align: left;
  padding: 1rem;
  position: relative;
}

.message {
  font-size: 20px;
  font-weight: bold;
}

.subMessage {
  font-size: 12px;
  font-weight: 600;
  color: $innerTextColor;
}

.noteDetails {
  padding-left: 2.5rem;
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin: 0px;
}

.noteText {
  font-size: 12px;
  margin: 0px;
}

.noteDate {
  font-size: 11px;
  color: $innerTextColor;
}
