@use "../../../../styles/mediaQueries" as *;

.title {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-letter-spacing: -0.025em;
  -moz-letter-spacing: -0.025em;
  -ms-letter-spacing: -0.025em;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;

  @include media991AndBelow() {
    font-size: 2.5rem;
  }
}

.titleInput {
  font-size: 4rem;
  line-height: 1.25;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-letter-spacing: -0.025em;
  -moz-letter-spacing: -0.025em;
  -ms-letter-spacing: -0.025em;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;

  @include media991AndBelow() {
    font-size: 2.5rem;
  }
}

.dark {
  -webkit-transition: background-color 500ms linear, color 500ms linear;
  -ms-transition: background-color 500ms linear, color 500ms linear;
  transition: background-color 500ms linear, color 500ms linear;
  color: white;
}
