@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.modalTitle {
  padding-top: 30px;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  width: 95%;
  max-width: 550px;
  margin: auto;
  .efuseLogo {
    height: 35px;
    margin-left: 10px;
    margin-top: -10px;
  }
  @include media767AndBelow {
    line-height: 1.7rem;
    padding: 10px;
    .efuseLogo {
      margin-top: -10px;
    }
  }
  @include maxMediaQuery(400px) {
    font-size: 1.1em;
    .efuseLogo {
      height: 30px;
    }
  }
  @include maxMediaQuery(300px) {
    padding: 10px 0px;
    .efuseLogo {
      height: 20px;
    }
  }
}

.formContainer {
  text-align: left;
  padding: 1em 0em 1em 0em;
  font-size: 0.9em;
  font-weight: 600;
  color: $textDark;
  .formLabel {
    padding-top: 1em;
    text-transform: uppercase;
  }
}
.formButton {
  margin-top: 10px;
  font-size: 1em;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  height: 45px;
  background-color: $tagColor;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
}
