@use "../../../../styles/variables" as *;
@use "../../../../styles/_mediaQueries" as *;

.formContainer {
  padding-top: 20px;
  .formField {
    height: 45px;
  }
  .error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
  }
}
