@use "../../../../styles/variables" as *;
@use "../../../../styles/_mediaQueries" as *;

.formContainer {
  width: 100%;
  text-align: left;
  font-size: 0.8em !important;
  padding-top: 10px;
  .formLabel {
    color: $textDark;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 1.1em;
    width: 100%;
  }
  .smallPad {
    padding-top: 5px;
  }
  .label {
    margin-top: -10px;
  }
  .padding {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .checkboxWrapper {
    padding-top: 10px;
    padding-bottom: 20px;
    .checkboxContainer {
      color: $textDark;
      width: 100%;
      display: flex;
      align-items: center;
      & > span {
        flex: 1;
      }
      & input {
        margin-right: 15px;
      }
      & a {
        color: $darkColor;
        text-decoration: underline;
      }
    }
  }
  .password {
    position: relative;
  }
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    color: $textLight;
  }

  &:active {
    color: $darkColor;
  }
}

.marginRight {
  margin-right: 5px;
}

.marginLeft {
  margin-left: 5px;
}
.captcha {
  margin: 10px auto;
}

.captchaError {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.6rem;
  color: $errorTextColor;
  margin-bottom: 10px;
}

.inputError {
  margin-top: -15px;
  font-size: 0.6rem;
  color: $errorTextColor;
  padding-bottom: 5px;
  min-height: 25px;
}

.title {
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.subTitle {
  font-size: 0.9rem;
}
