@use "../../../styles/variables" as *;

.displayMediaContainer {
  padding: 12px 0;
  .commentWrapper {
    width: 90px !important;
    height: 85px !important;
  }
  .wrapper {
    position: relative;
    width: 160px;
    height: 100px;

    .removeButton {
      position: absolute;
      z-index: 2;
      top: -15%;
      right: 5%;
    }

    .container {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
      border: solid 1px $lightCardBorder;
      background-color: #ffffff;

      .loader {
        color: $mediumTextColor;
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .playerOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: transparent;
      }

      .player {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }

      .image {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
