@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.header {
  width: 100%;
  height: 60px;
  z-index: 9;
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: 500ms;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .efuse {
    width: 80px;
    z-index: 3;
    cursor: pointer;
  }
  .efuseName {
    width: 100px;
    margin-left: -10px;
    z-index: 3;
    cursor: pointer;
    @include media767AndBelow() {
      display: none;
    }
  }
  .topButtonContainer {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 200px;
    margin-right: 15px;

    & > *:not(:last-child) {
      margin-right: 15px;
    }
  }
}
.notTop {
  background-color: rgba($mainNavColor, 0.9);
  @include blur(5);
}
