@use "../../../../styles/variables" as *;

.detailsAndRulesContainer {
  position: relative;
  color: $textBlack;

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
  }

  p,
  li {
    font-size: 0.75rem;
    line-height: 18px;
  }
}

.placeholderContainer {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .placeholderText {
    font-weight: 500;
    font-size: 18px;
    color: $textBlack;
  }

  .placeholderSubtext {
    font-size: 12px;
    color: $darkGrey;
  }
}
