@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.containerTwo {
  position: relative;
  padding-bottom: 4em;
  width: 100%;
  align-items: center;
  text-align: center;

  .cardContainer {
    .title {
      b {
        font-size: 24px;
      }
      margin-bottom: 10px;
    }
    .desc {
      width: 480px;
      margin: 0 auto;
      margin-bottom: 40px;
      p {
        font-size: 14px;
      }
    }
  }
  @include media767AndBelow {
    width: 92%;
    .cardContainer {
      .desc {
        width: auto;
      }
    }
  }
}
