@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.container {
  @include boxShadow();
  transition: 200ms;
  border-radius: 8px;
  border: solid 1px $lightCardBorder;
  background-color: $whiteColor;
  margin-bottom: 8px;
  &.selected {
    background-color: $lowShadow;
  }
  .organization {
    display: flex;
    padding: 8px 0;
    .avatarWrapper {
      display: flex;
      align-items: center;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      cursor: pointer;
      .firstname {
        font-size: 14px;
        font-weight: bold;
        color: $mainNavColor;
      }
      .username {
        font-size: 14px;
        color: $grey;
        &.selected {
          color: $mainNavColor;
        }
      }
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}
