@use "../../../styles/variables" as *;

.card {
  padding: 20px 20px;
  user-select: none;
  transition: all 150ms;
}

.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-top: 5px;
}

.checkedBackground {
  background-color: $efuseBlue;
}
.unCheckedBackground {
  background-color: $whiteColor;
}

.unCheckedTextColor {
  color: $mediumTextColor;
}
.checkedTextColor {
  color: $whiteColor;
}
