@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.sideOpportunitiesWrapper {
  @include media767AndBelow {
    display: none;
  }
}

.sectionTitle {
  @include resetPaddingMargin();
  width: 100%;
  text-align: center;
  color: $backgroundTextStrong;
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 10px;
  text-transform: capitalize;
  .icon {
    color: $primaryColor;
    margin-right: 8px;
    font-size: 18px;
  }
}

.cardWrapper {
  margin-bottom: 10px;
}
