@use "../../../../../styles/variables" as *;

.tabsContainer {
  width: 100%;
  position: relative;
}

.tabs {
  grid-gap: 20px;

  .carouselButton {
    margin-top: 15px;
  }
}

.tab {
  border: none !important;
  background-color: transparent !important;
  padding: 0px;
}

.breakLine {
  border: 1px solid $borderGrey;
}
