@use "../../styles/variables" as *;

.closeButtonWrapper {
  display: inline-block;
  position: relative;
  top: 1px;
}

.closeButton {
  color: $whiteColor !important;
  font-size: 0.8rem !important;
}
