@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.internalWrapper {
  position: relative;
  margin: auto;
  margin-top: 130px;
  padding-bottom: 2rem;
  @include headerMediaQueries();
  @include maxMediaQuery(768px) {
    padding-left: 0px;
  }
}

.container {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  .leaderboardWrapper {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 2.5em;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1.5rem;
    @include boxShadow();
    @include media767AndBelow {
      border-radius: 0px;
    }
  }
}

.zIndex {
  z-index: 0;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.backgroundLogo {
  position: fixed;
  left: 1em;
  top: 53%;
  transform: translate(0%, -45%);
  z-index: -2;
  opacity: 0.2;
  width: 22%;
  @include media991AndBelow {
    display: none;
  }
}

.twitchWrapper {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  min-height: 150px;
  background-color: $cardBackground;
  @include boxShadow();
}

.removeDecoration {
  &:hover {
    text-decoration: none;
  }
}

.wideButton {
  min-width: 125px;
}

.marginTop {
  margin-top: 1.5rem;
}

.dropdownPadding {
  @include media767AndBelow {
    margin-right: 20px;
  }
}

.link {
  width: 100%;
  margin-bottom: 10px;
  &:hover {
    text-decoration: none;
  }
  .viewStream {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: $cardBackground;
    color: $textStrong;
    transition: 200ms;
    font-weight: 600;
    border-radius: 5px;
    @include boxShadow();
    .icon {
      margin-top: 5px;
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
    @include media767AndBelow {
      border-radius: 0px;
    }
  }
}

.borderRadius {
  margin-top: 1em;
  height: 500px;
  @include boxShadow();
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.topSection {
  margin-bottom: 1em;
}

.mockExternalUserWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.customImageStyle {
  @include erenaHeaderIcon();
}
