@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.additionalInformation {
  padding: 0px 20px 12px 20px;
  .oppDetails {
    padding-bottom: 10px;
    font-size: 0.9em;
    p {
      color: $mainNavColor;
      @include resetPaddingMargin();
    }
    ul {
      color: $mainNavColor;
      font-weight: bold;
      padding-left: 18px;
    }
  }
  .applyText {
    margin: 10px;
    display: block;
    margin-left: 0;
  }
}

.title {
  width: 100%;
  color: $mainNavColor;
  padding: 12px 20px;
  border-bottom: 1px solid $lightCardBorder;
  font-weight: bold;
}
