@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.scrollContainer {
  position: relative;
  width: 100%;
}

.bucketHeaderBar {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  .bucketText {
    display: flex;
    .bucketTitle {
      font-size: 24px;
      font-weight: 600;
      color: $mainNavColor;
      padding: 0px;
      margin: 0px;
    }
    .bucketIcon {
      width: 35px;
      height: 29px;
      font-size: 28px;
      font-weight: 300;
      color: $efuseBlue;
      margin-right: 15px;
    }
    @include media991AndBelow() {
      .bucketTitle {
        font-size: 1.2em;
      }
      .bucketIcon {
        width: 30px;
        height: 22px;
        margin-right: 5px;
        font-size: 22px;
      }
    }
  }
}

.leaderboardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  @include media991AndAbove() {
    width: 49%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    flex-direction: row;
  }

  .leaderboardBox:nth-child(even) {
    margin-left: auto;
  }
  .leaderboardBox {
    @include boxShadowSmall();
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 8px;
    border: solid 1px $lightCardBorder;
    background-color: $mainHighLight;
    padding: 1em 1.1em;
    @include media1200AndBelow() {
      max-width: 460px;
    }
    @include media991AndBelow() {
      max-width: none;
    }
  }
}

.bucketCardContainer {
  @include generalCardStyles();
  box-shadow: none;
  width: 245px;
  height: 150px;
  margin-right: 10px;
  border: solid 1px #dddee8;
  flex-shrink: 0;
}

.buttonMarginTop {
  margin-top: 55px !important;
}

.purpleBolt {
  color: $boltColor;
}

.blackIcon {
  color: $mainNavColor;
}

.blueList {
  color: $leaderboardBlue;
}
