@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;

.container {
  width: 100%;
  .addButtonWrapper {
    margin: -20px;
  }
}
.trash {
  color: $textDark;
  position: absolute;
  right: 1.8em;
  margin-top: 90px;
  &:hover {
    color: $removeIcon;
    cursor: pointer;
  }
}
.imageContainer {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .imageBody {
    width: 100%;
    align-self: end;
  }
  .imageBody:nth-child(3) {
    grid-column: 1/3;
  }
  img {
    width: 100%;
  }
  .step1,
  .step2 {
    height: 300px;
  }
  .desc {
    font-size: 0.9em;
  }
  .title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
  }
  @include media991AndBelow() {
    grid-template-columns: 1fr;
    .imageBody:nth-child(3) {
      grid-column: 1/2;
    }
  }
}
