@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cardContainer {
  margin-top: 5px;
  border: 1px solid $borderGrey;
  border-radius: 10px;
}

.additionalInformation {
  padding: 0px 20px 20px 20px;
  .field {
    margin-top: 20px;
  }
}

.title {
  width: 100%;
  color: $mainNavColor;
  padding: 20px 0px 0px 20px;
  font-weight: 600;
}
