@use "../../../styles/variables" as *;

.notification {
  color: $textLight;
  h5 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    color: $textDark;
  }
  hr {
    margin: 0px -18px;
    border-color: $cardBorder;
  }
}
