@use "../../../../styles/mediaQueries" as *;

.addPadding {
  padding-bottom: 32px !important;
}

.buttonMarginTop {
  margin-top: 60px;
  @include maxMediaQuery(1200px) {
    margin-top: 48px;
  }
}
