@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.wrapper {
  @include media767AndBelow {
    display: none;
  }
  margin-top: 1.5em;
  border-top: 1px solid $backgroundTextWeak;
  padding-top: 0.5em;
  .flexContainer {
    font-size: 0.75em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $backgroundTextStrong;
    .link {
      color: $backgroundTextStrong;
      &:hover {
        cursor: pointer;
        text-decoration: none;
        opacity: 0.8;
      }
    }
  }
  .copyright {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 0.75em;
    color: $backgroundTextStrong;
    .efuseName {
      margin-left: 6px;
      height: 10px;
    }
  }
}
