@use "../../styles/variables" as *;

.flatpickr {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  padding: 6px 15px;
  color: #343e4a;
  font-size: 0.9rem;
  padding: 0.6rem 1rem;
  height: calc(1.7em + 1rem + 2px);
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.04);

  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;

  &::placeholder {
    color: $internalTextColor;
  }
}

.colorInput {
  width: 100% !important;
  height: 40px !important;
}

.switchWrapper {
  margin-left: 20px;
}

.flexWrapper {
  display: flex;
  align-items: center;
}
