@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.modalCloseButton {
  border-radius: 50%;
  border: 1px solid;
  background-color: $whiteColor;
  width: 42px;
  height: 42px;
  svg {
    top: 6px;
    position: relative;
  }

  @include media767AndBelow {
    width: 32px;
    height: 32px;
    padding: 0px !important;
    svg {
      top: 1px;
    }
  }
}
