@use "../../../styles/variables" as *;

.selectDropdown {
  position: relative;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.55;
    pointer-events: none;
  }

  .selectedValue {
    width: 100%;
    padding: 5px 15px 5px 10px;
    border: 1px solid #c7d3ea;
    border-radius: 8px;
    background-color: $whiteColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms;
    outline: none;

    &:hover {
      background-color: darken($whiteColor, 2%);
    }

    .chevron {
      color: $mainNavColor;
    }
  }

  .optionsList {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #c7d3ea;
    background-color: $whiteColor;
    z-index: 999;
    overflow: hidden;

    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 15px 5px 10px;
      width: 100%;
      height: auto;
      transition: all 200ms;
      outline: none;

      &:hover {
        background-color: rgba($leaderboardBlue, 0.2);
      }

      .checkmark {
        color: $mainNavColor;
      }
    }
  }
}
