@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.whoToFollow {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  margin: 70px auto;
  width: 810px;

  .profileCard {
    width: 260px;
    height: 370px;
    padding: 40px;
    background-color: $whiteColor;
    margin: 5px;
    border: 1px solid $borderGrey;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.17);
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      font-weight: 600 !important;
      font-size: 14px;
      line-height: 20px;
    }

    .name {
      color: $textDark;
      margin-top: 5px;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.7rem;
      @include clampText(2);
    }

    .username {
      font-weight: 500;
      font-size: 1rem;
      color: $textLight;
      @include clampText(1);
    }

    .profilePictureContainer {
      height: 130px;
    }

    .profilePictureContainer img {
      border-radius: 130px;
      display: block;
      margin: 0 auto;
    }
  }
}

.verified {
  color: $orgVerifiedColor;
  font-size: 1rem;
  margin-left: 5px;
  display: inline;

  .verifyIcon {
    width: 20px;
    margin-top: -4px;
  }
}
