@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.cardContainer {
  background-color: $cardBackground;
  height: 375px;
  width: 250px;
  margin-right: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
  border: solid 1px $cardBorder;
  .backgroundImageContainer {
    height: 155px;
    width: 248px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
  .backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms;
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  .goldLogo {
    width: 70px;
    height: auto;
  }
  .attribute {
    position: absolute;
    bottom: 0px;
    right: 10px;
    opacity: 0.9;
  }
  .text {
    padding: 1em;
    height: 150px;
    * {
      padding: 0px;
      margin: 0px;
    }
    .cardTitle {
      font-size: 1em;
      color: $textStrong;
      font-weight: bold;
      @include clampText(4);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cardSubTitle {
      color: $primaryColor;
      font-weight: bold;
      font-size: 0.75em;
      padding-top: 12px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cardLocation {
      padding-top: 2px;
      font-size: 0.75em;
      font-weight: bold;
      color: $textWeak;
      .locationIcon {
        color: $primaryColor;
        font-size: 1.05em;
        margin-right: 5px;
      }
    }
    .description {
      padding-top: 2px;
      font-size: 0.75em;
      font-weight: bold;
      color: $textWeak;
      @include clampText(4);
    }
  }
  .cardFooter {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 1em;
    height: 68px;
    .date {
      padding: 0px;
      margin: 0px;
      margin-top: 0.5em;
      font-size: 0.85em;
      color: $textWeak;
    }
    .appliedIcons {
      margin-left: auto;
    }
  }
}
.fullWidthHeight {
  width: 100%;
  height: 100%;
  .backgroundImageContainer {
    width: 100%;
    height: auto;
  }
}

@include media767AndBelow() {
  .adjustToFullWidth {
    width: 100%;
    height: 405px;
    margin: 0px;
    margin-top: 8px;
    .backgroundImageContainer {
      width: 100%;
      height: auto;
      height: 180px;
    }
  }
}
