@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.joinedTeamsSection {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    padding-top: 9px;
  }

  .cardSection {
    height: 100%;

    .teamCardsContainer {
      padding-left: 7px;
      padding-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}

.noTeams {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  h2 {
    @include resetPaddingMargin();
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 24px;
    color: $textBlack;
  }

  h3 {
    @include resetPaddingMargin();
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 20px;
    color: $textBlack;
    opacity: 0.6;
  }
}
