@use "../../styles/variables" as *;

.wrapper {
  border-radius: 10px;
  transition: 250ms;
  filter: blur(8px);

  .gloss {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -30px;
    height: 200%;
    width: 200%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }
}
.whiteGloss,
.whiteGlossBottom {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  animation: fadein;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.2);
}

.whiteGloss {
  clip-path: polygon(74% 0, 100% 16%, 100% 36%, 100% 43%, 33% 0, 50% 0, 100% 31%, 100% 25%, 60% 0);
  animation-delay: 3s;
  animation-duration: 1.5s;
}

.whiteGlossBottom {
  clip-path: polygon(0 84%, 0 64%, 57% 100%, 25% 100%);
  animation-delay: 4s;
  animation-duration: 1.5s;
}

.comingSoon {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $mainNavColor;
  font-weight: 800;
  width: 100%;
  text-align: center;

  &.small {
    font-size: 1.2rem;
  }

  &.large {
    font-size: 3rem;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
