@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.tabsWrapper {
  border: none;
}

.tabsWrapper > a:hover {
  color: $textStrong;
}

.tabsWrapper > a:first-child {
  margin-right: 25px;
}

.tab {
  border: none !important;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: $textWeak;
  outline: none;
}
