.authorContainer {
  text-align: left;
}

.summaryCardContainer {
  margin-top: 20px;
  margin-bottom: 50px;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.label {
  font-size: 0.9rem;
  margin: 0;
  color: #343e4a;
}

.traitsMotivationsContainer {
  padding: 50px 0;
}
