@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.mediaImage {
  border-radius: 0.5rem;
  object-fit: cover;
  height: 56px;
  width: 56px;
  margin-left: 3px;
  @include boxShadow();
  &.rounded {
    border-radius: 50%;
  }
}

.container {
  margin-left: -3px;
  .titleLink {
    color: $textStrong;
    .titleName {
      font-size: 0.9em;
      @include clampText(1);
      margin-bottom: 3px;
      margin-top: -2px;
    }
    &:hover {
      color: $textWeak;
    }
    h6 {
      word-break: break-word;
    }
  }

  .itemType {
    font-size: 0.7em;
    color: $primaryColor;
    margin: 0px;
    margin-top: -2px;
  }

  .icon {
    margin: 3px;
    float: right;
    margin-top: 8px;
  }

  .button {
    border: none;
    border-radius: 50px;
    width: 6em;
    padding-bottom: 2px;
    background-color: $primaryColor;
    color: $alwaysWhite;
    font-size: 0.7em;
    float: left;
    margin-top: 6px;
    &:hover {
      color: $cardHighlight;
    }
  }
}
