@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.layout {
  text-align: left;
  height: 100%;
  overflow-y: overlay;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  .subTitle {
    font-size: 12px;
    font-weight: 600;
    color: $grey;
  }

  .content {
    width: 100%;
  }

  .buttons {
    bottom: 40px;
    right: 40px;
    margin: 20px 0px 0px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    border-radius: 5px !important;
  }
}
