@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;

.mainContainer {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.contentContainer {
  padding-top: 60px;
  @include media991AndAbove {
    padding-top: 100px;
  }

  .textContainer {
    color: $mainHighLight;

    .heading {
      font-size: 38px;
      font-weight: bold;
      padding-bottom: 20px;
    }
    .subHeading {
      font-size: 24px;
      font-weight: 400;
    }

    .emailInput {
      display: flex;
      justify-content: space-between;
      @include media991AndBelow {
        display: block;
      }

      .inputWrapper {
        width: 450px;
        max-width: 450px;
        @include media1200AndBelow {
          width: auto;
        }

        input {
          border-radius: 5px;
          padding: 20px 10px;
        }
      }

      .buttonWrapper {
        margin-left: 10px;
        @include media991AndBelow {
          margin-top: 10px;
          margin-left: 0px;
        }
      }
    }

    .description {
      margin-top: 40px;
      font-size: 14px;
    }
  }

  .imageWrapper {
    text-align: center;
    margin: auto;
    @include media991AndBelow {
      img {
        width: 285px;
        height: 235px;
      }
    }
    @include media767AndBelow {
      display: none;
    }
  }
}
