.customCard {
  background-color: var(--card-background);
  border: solid 1px var(--card-border);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
}

.customCardNoOverflow {
  background-color: var(--card-background);
  border: none;
  border-radius: 0.6rem;
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--card-border);
}

.customCard .card-header {
  border: none !important;
  background-color: var(--card-background);
  margin-bottom: 0;
  padding-bottom: 0;
}

.customCard .card-header .headerTitle {
  margin-bottom: 0px;
  color: var(--text-strong);
}

.custsomCard .card-header.headerWithLink {
  display: flex;
  align-items: center;
}

.customCard .card-header.headerWithLink .headerTitle {
  flex: 1;
}

.customCard .footer {
  border-color: var(--card-border);
}
