.customModal .modal-content {
  background-color: #ffffff;
  border-radius: 0.8rem;
  color: #2f4255;
  margin-top: 6rem;
}
.customModal .modal-content .modal-header {
  border-bottom-color: #2f4255;
}
.customModal .modal-content .modal-header button.close {
  outline: none;
  color: #4e4e5c;
}

.customModal .modal-footer {
  border-color: #2f4255;
}

.league .modal-content {
  max-width: 600px;
  overflow: hidden;
  margin: auto;
  margin-top: 6rem;
}
.create-post-modal .modal-dialog {
  max-width: 580px;
}
.create-post-modal form {
  margin-bottom: 0rem;
}
