.customDropdown .dropdown-menu {
    padding: 1rem;
    border-radius: 15px;
    min-width: 17rem;
    background-color: #16181a;
    margin-right: -11px;
}

.customDropdown .dropdown-menu.dropdown-menu-right {
    /* right: -12px;
    top: 9px !important;
    left: -26px !important; */

    right: -12px;
    top: 26px !important;
}

.customDropdown .dropdown-menu .caret::after,
.customDropdown .dropdown-menu .caret::before {
    content: "";
    position: absolute;
    right: 17px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #16181a;
}

.customDropdown.whiteBg .dropdown-menu .caret::after,
.customDropdown.whiteBg .dropdown-menu .caret::before {
    border-bottom: 9px solid #16181a;
}

.customDropdown .dropdown-menu .dropdown-item {
    color: #ffffff;
    /* border-bottom: 1px solid #e9ecef; */
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    white-space: normal;
}

.customDropdown .dropdown-menu .dropdown-item:focus,
.customDropdown .dropdown-menu .dropdown-item:hover,
.customDropdown .dropdown-menu .dropdown-item:active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.08);
}

.customDropdown .dropdown-menu div:last-child .line {
    display: none;
}

.customDropdown .dropdown-menu .dropdown-item .itemIcon {
    padding-right: 10px;
    font-size: 1rem;
    color: #008df2;
    padding-right: 16px;
}

.customDropdown .dropdown-toggle::after {
    display: none;
}

.customDropdown .dropdown-toggle {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1em;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0px;
    margin-top: 18px;
}

.customDropdown .dropdown-toggle.downArrow {
    background-image: url("https://cdn.efuse.gg/static/images/downarrow.png");
}

.customDropdown .dropdown-toggle.dots {
    background-image: url("https://cdn.efuse.gg/static/images/dots.png");
}

.customDropdown .dropdown-toggle.darkDots {
    background-image: url("https://cdn.efuse.gg/static/images/dots_black.png");
    opacity: 0.8;
}

.line {
    height: 0.9px;
    background-color: #212127;
    margin-left: 42px;
}

@media only screen and (max-width: 991px) {
    .customDropdown .dropdown-menu .caret {
        display: none;
    }
}
