.emoji-picker{
  position: absolute !important;
  bottom: 63px;
  right: 2px;
  
}
.emoji-picker nav{
  background-color: #132940 !important;
}
.emoji-picker nav{
  left: 0px !Important;
  right: 0px !important;
}
.emoji-picker nav a{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.emoji-picker nav a i{
  opacity: 1 !important;
}
.emoji-picker ul.skin-tones{
  top: 5px;
}
.emoji-picker .search-bar{
  background-color: #132940;
  padding: 7px 5px 5px 5px !important;
}
.emoji-picker .search-bar input{
  padding: 3px 3px 3px 36px !important;
}
.search-bar input::placeholder{
  color:#7288a3 !important;
}
.emoji-picker{
  border-color: #2f4255 !important;
}
.emoji-list{
  background-color: #2f4255 !important;
}
.emoji-picker .emoji-category .category-name{
  background-color: #2f4255 !important;
}
.emoji-picker .search-bar input{
  background-color: #132940 !important;
  border-color: #2f4255 !important;
}
.emoji-picker .wrapper:after{
  background-color: #132940 !important;
}