body {
  font-family: "Open Sans", sans-serif;
}

.stickySidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

#opportunityDescription {
  border: 1px solid black;
}
#opportunityDescription .ql-editor {
  min-height: 200px !important;
  max-height: 300px;
}
#opportunityDescription .ql-toolbar.ql-snow {
  border-bottom: 1px solid black;
}
