/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  text-align: left;
}
.geosuggest__input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #000000;
  border-radius: 0px;
  border: 1px solid #989898;
  box-shadow: none;
}
.geosuggest__input:focus {
  border-color: #000000;
  box-shadow: none;
  outline: none;
}

.geosuggest__input:focus::placeholder {
  color: #000000;
}

.invalidSuggest .geosuggest__input {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  background: #fff;
  border: 1px solid #bcbdca;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.15s, border 0.15s;
  transition: max-height 0.15s, border 0.15s;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

/**
 * A geosuggest item
 */
.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: 0.5em 0.65em;
  cursor: pointer;
  color: #4e4e5c;
}
.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}
.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}
.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}
.geosuggest__item__matched-text {
  font-weight: bold;
}

.geoselect-internal .geosuggest__input {
  background: transparent;
  border-color: #bcbdca;
  color: #16181a;
  font-size: 1em;
  padding: 5px 10px;
  height: 42px;
  border-radius: 5px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: 150ms ease-in-out;
}

.geoselect-internal .geosuggest__input:hover {
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1);
}

.geoselect-internal .geosuggest__input:focus {
  border: 1px solid #16181a;
}

.geoselect-internal .geosuggest__input::placeholder {
  color: #737385;
}

.geoselect-filter .geosuggest__input {
  color: #16181a;
  border-color: #ced4da;
  font-size: 0.8em;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  padding: 8px 5px;
}

.geoselect-filter .geosuggest__input::placeholder {
  color: #16181a;
}

.geoselect-filter .geosuggest__input-wrapper .geosuggest__input {
  border-radius: 5px;
  padding-left: 10px;
}

.signup .geosuggest__input {
  font-size: 1rem !important;
  border-radius: 5px;
  height: 45px;
}

.signup .geosuggest__input:focus {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(19, 77, 212, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(19, 77, 212, 1);
  box-shadow: 0px 0px 2px 1px rgba(19, 77, 212, 1);
}
