.mentionWrapper {
  width: 100%;
  background: transparent;
  font-size: 0.9rem;
  z-index: 4;
  color: #4e4e5c;
}

.mentionWrapper .mentionWrapper__control {
  border-radius: 25px;
  border: none;
  min-height: 45px;
}

.mentionWrapper .mentionWrapper__control .mentionWrapper__highlighter {
  padding: 0.7rem 1rem;
  width: calc(100%) !important;
}

.mentionWrapper .mentionWrapper__control .mentionWrapper__input {
  padding: 0.7rem 1rem;
  outline: 0;
  border: 0;
  resize: none;
  outline: none;
  font-size: 0.9rem;
  color: #000000;
  border-color: #3a546f;
  overflow: hidden;
}

.mentionWrapper .mentionWrapper__control .mentionWrapper__input::placeholder {
  color: #7288a3;
}

.mentionWrapper__suggestions {
  position: relative;
  margin-top: 2em !important;
  left: 0px !important;
  border-radius: 10px;
  overflow: hidden;
}

.mentionWrapper__suggestions .mentionWrapper__suggestions__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(185, 179, 179, 0.75);
  -moz-box-shadow: 0px 0px 6px 0px rgba(185, 179, 179, 0.75);
  box-shadow: 0px 0px 6px 0px rgba(185, 179, 179, 0.75);
}

.mentionWrapper
  .mentionWrapper__suggestions
  .mentionWrapper__suggestions__item {
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.mentionWrapper
  .mentionWrapper__suggestions
  .mentionWrapper__suggestions__item--focused {
  color: #4e4e5c;
  border-bottom: 1px solid #3a546f;
  font-weight: 600;
  background-color: rgb(206, 228, 229);
}

.mentionedFriend {
  color: #7288a3;
  text-decoration: underline;
}

.mentionTagDisplay,
.mentionTagDisplay:hover {
  color: #4485fa;
}

.mentionTagDisplay:hover {
  text-decoration: underline;
}

/* Post Mentions Styles */

.postMentionWrapper {
  font-size: 1rem;
}

.postMentionWrapper .mentionWrapper__control {
  min-height: 63px;
  border: none;
  font-weight: 500;
}

.postMentionWrapper .mentionWrapper__control .mentionWrapper__input {
  font-size: 1rem;
}

.threadMentionWrapper {
  font-size: 0.8rem;
}

.threadMentionWrapper .mentionWrapper__control {
  min-height: 40px;
}

.threadMentionWrapper .mentionWrapper__control .mentionWrapper__highlighter,
.threadMentionWrapper .mentionWrapper__control .mentionWrapper__input {
  padding: 0.5rem 1rem;
}
