.tab-header {
    background-color: #132940;
}
.tab-content {
    overflow: hidden;
}
.tab-header .nav-link.active {
    color: #ffffff !important;
    border: none;
    border-bottom: 3px solid #ffffff;
    background-color: #16181a;
}
.tab-header .nav-link:hover {
    color: #ffffff !important;
    border: none;
    border-bottom: 3px solid #ffffff;
}
.tab-header .nav-link.active:first-child {
    border-top-left-radius: 10px;
}
.tab-header .nav-link:hover:first-child {
    border-top-left-radius: 10px;
}