.progress-bar.bg-solo,
.solo {
  background-color: rgb(29, 151, 84) !important;
}
.progress-bar.bg-duo,
.duo {
  background-color: rgb(34, 147, 199) !important;
}
.progress-bar.bg-squad,
.squad {
  background-color: rgb(166, 75, 207) !important;
}
.progress-bar.bg-blue,
.blue {
  background-color: #006cfa !important;
}
.progress-bar.bg-black,
.black {
  background-color: #16181a !important;
  transform: skewX(15deg) !important;
}
