@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mixins" as *;

.topContainer {
  @include resetChildrenPaddingMargin();

  width: 100%;
  display: flex;
  align-items: center;
  .topContainerNames {
    padding-left: 8px;
    padding-bottom: 8px;
    .title {
      font-size: 16px;
      color: $mainHighLight;
      font-weight: 500;
    }
    .subtext {
      font-size: 10px;
      color: $efuseBlue;
      font-weight: bold;
      margin-top: -1px;
    }
  }
  .closeButtonWrapper {
    margin-left: auto;
  }
}

.dark {
  font-weight: bold !important;
  color: $mainNavColor !important;
}
.light {
  color: $mainHighLight;
}
