@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.bgOverlay {
  background-color: #0b1730;
  z-index: 1;
  width: 100%;
  position: fixed;
  min-height: 100vh;
}
.signupImage {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url("https://cdn.efuse.gg/static/images/stadium.jpg") no-repeat center center fixed;
  background-size: cover;
  z-index: 2;
  opacity: 0.08;
}
.signupContainer {
  position: absolute;
  background-color: rgba($mainNavColor, 0.5);
  @include blur(5);

  min-height: 100vh;
  width: 80%;
  max-width: 1000px;
  z-index: 3;
  left: 50%;
  transform: translate(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.3);
  .rightContainer {
    padding: 20px;
    overflow-y: hidden;
  }
  .rightContainer {
    height: auto;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
}
@include media991AndBelow {
  .signupImage {
    display: none;
  }
  .signupContainer {
    width: 100%;
  }
}
@include media767AndBelow {
  .signupImage {
    display: none;
  }
  .signupContainer {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    .rightContainer {
      height: auto;
      padding: 20px;
      min-height: 0;
    }
  }
}
