@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.positionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3em;
  padding-top: 0.5em;
  margin-left: -1em;
  margin-right: -1em;
  .positionItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    * {
      transition: 150ms;
    }
    .leftLine {
      height: 2px;
      background-color: $inputBorder;
      width: 100%;
    }
    .rightLine {
      height: 2px;
      background-color: $inputBorder;
      width: 100%;
    }
    .iconWrapper {
      border: none;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $inputBorder;
      color: $mainHighLight;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
    }
    .blueBackground {
      background-color: $tagColor;
    }
    .positionTitle {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8em;
      font-weight: 600;
      color: $inputBorder;
    }
    .darkPositionText {
      color: $textDark;
    }
  }
}
