@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.imageContainer {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  .imageBody {
    width: 100%;
    align-self: end;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
  .step1,
  .step2 {
    height: 300px;
  }
  .desc {
    font-size: 0.9em;
  }
  .title {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
  }
  @include media991AndBelow() {
    grid-template-columns: 1fr;
    .imageBody:nth-child(3) {
      grid-column: 1/2;
    }
  }
}
