@use "../../../styles/variables" as globalVariables;

.filterButton {
  display: flex;
  align-items: center;
  padding: 0px 4px 0px 6px;
  .filterButtonIcon {
    font-size: 8px;
    margin-left: 10px;
    color: globalVariables.$inputBorder;
  }
  .active {
    color: globalVariables.$efuseBlue;
  }
}
