@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.position {
  position: absolute;
  top: 0px;
  left: 4px;
  display: flex;
  background-color: $leaderboardBlue;
  padding: 6px;
  border-radius: 50%;
  min-width: 22px;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 22px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  color: $mainHighLight;
  font-size: 0.7rem;
  @include media767AndBelow() {
    top: 6px;
    left: 3px;
  }
}

.shareButtonContainer {
  display: inline-block;
  vertical-align: middle;
}

.icon {
  font-size: 24px;
}

.smallText {
  font-size: 14px;
}

.upperCase {
  text-transform: uppercase;
}

.textContainer {
  text-align: center;
}

.textLight {
  font-size: small;
}

.username {
  font-weight: bold;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.oneLineClamp {
  @include clampText(1);

  @include media767AndBelow() {
    @include clampText(2);
  }
}

.mobileOnlyLabel {
  @include media768AndAbove() {
    display: none;
  }
}

@include media767AndBelow() {
  .responsiveRow {
    display: block;
  }

  .spaceTop {
    margin-top: 5px;
  }

  .leaderboardRow {
    display: none;
  }

  .avatar {
    position: relative;
    width: 50px;
    margin: auto;
    margin-left: -8px;
    margin-top: -6px;
  }

  .leftAlign {
    text-align: left !important;
    color: $mediumTextColor;
  }

  .inline {
    display: inline;
  }

  .leftpadding {
    padding-left: 60px;
  }

  .responsiveText {
    display: inline-flex;
    font-size: small;
  }

  .responsiveTextSmall {
    display: inline-flex;
    font-size: x-small;
  }

  .gameName {
    color: $greyishVariant;
  }

  .gameRank {
    p {
      display: inline;
      margin-bottom: 0px;
    }
  }

  .lightBold {
    font-weight: 600;
  }
}

@include media768AndAbove() {
  .responsiveRow {
    display: none;
  }

  .leaderboardRow {
    display: block;
  }
}
