@use "../../styles/themevariables" as *;

.searchFieldWrapper {
  padding-bottom: 10px;
  .searchIcon {
    color: $textWeak;
    position: relative;
    top: 8px;
  }
  .searchField {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $textStrong;
    &::placeholder {
      color: $textWeak;
    }
  }
}
