@use "../../styles/mediaQueries" as *;

.arrowLeft {
  left: -55px;
  top: 45px;
  z-index: 2;
  @include media600AndBelow {
    left: 5px;
  }
}

.arrowRight {
  right: -55px;
  top: 45px;
  @include media600AndBelow {
    right: 5px;
  }
}

.hide {
  display: none !important;
}

.rightFade {
  position: absolute;
  top: -45px;
  right: 30px;
  width: 50px;
  height: 135px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  @include media600AndBelow {
    display: none;
  }
}

.slick-next:before {
  display: none !important;
}
