@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.articleBox {
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  .articleTitle {
    text-align: left;
    width: 60%;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    .userDetail {
      display: flex;
      justify-content: flex-start;
      margin: 20px 0;
      .userIcon {
        display: flex;
        .username {
          font-size: 14px;
          color: $locationColor;
        }
      }
      .date {
        font-size: 12px;
        font-weight: bold;
        color: $greyContrast;
        float: left;
      }
      .avatar {
        margin-right: 12px;
      }
    }
    .bottomRight {
      margin-top: 20px;
      margin-right: 30px;
      width: 200px;
      height: 40px;
    }
  }
  @include media767AndBelow() {
    margin-left: 0px;
    .articleTitle {
      text-align: center;
      width: auto;
    }
    .bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .userDetail {
        margin-bottom: 0;
      }
      .bottomRight {
        margin-top: 0;
        margin-right: 0;
        .btn {
          height: 40px;
          margin-top: 28px;
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 22px;
          text-transform: uppercase;
        }
      }
    }
  }
}
