@use "../../../styles/themevariables" as *;

.topIcon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;

  &.twitter {
    color: $socialTwitter;
  }

  &.youtube {
    color: $socialYoutube;
  }

  &.twitch {
    color: $socialTwitch;
  }
}

.backgroundIconContainer {
  position: absolute;
  top: 20px;
  right: 0px;

  .backgroundIcon {
    width: 194px;
    height: 200px;
    font-size: 200px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(22, 24, 26, 0.04);
  }
}
