@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.formContainer {
  text-align: left;
  padding: 1em 0em 1em 0em;
  font-size: 0.9em;
  font-weight: 600;
  color: $textDark;
  .formLabel {
    padding-top: 1em;
    text-transform: uppercase;
  }
  .formField {
    font-size: 1rem;
    &:focus {
      box-shadow: none;
      border: 1px solid #ced4da;
    }
  }
  .password {
    position: relative;
  }
}
.formButton {
  margin-top: 2em;
  font-size: 1em;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  height: 45px;
  background-color: $tagColor;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: -0.5em;
}
