@use "../../../../../styles/variables" as *;

@mixin activeOptionStyle {
  background-color: $efuseBlueHover;
  color: $mainHighLight;
}

.optionsContainer {
  max-height: 500px;
  overflow-y: auto;
}

.option {
  display: block;
  font-weight: 500;
  padding: 5px 0px 5px 20px;
  border-radius: 10px;

  .icon {
    margin-left: 20px;
  }

  &:hover {
    @include activeOptionStyle();
  }
}

.buttonContainer {
  text-align: end;
  margin-top: 10px;
}

.selected {
  @include activeOptionStyle();
}
