@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  display: flex;
  align-items: center;
  .name {
    @include resetPaddingMargin();
    color: $mainNavColor;
    font-size: 1.2em;
    font-weight: bold;
    &:hover {
      color: $textDark;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
