@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.leftAlign {
  text-align: left;
}
.alignRight {
  width: 100%;
  text-align: right;
}

.scheduleFuture {
  font-size: 0.8em;
  color: #dc3545;
  margin: 0px;
  padding-top: 5px;
}
.slugContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slugURL {
  padding-right: 5px;
  font-size: 0.9em;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

.reactQuill {
  @include reactQuillStyle();
}

.requirementSwitchContainer {
  display: flex;
  justify-content: space-between;
}
