@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.externalAccountsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5em;
  @include media1024AndBelow() {
    grid-template-columns: 1fr 1fr;
  }
  @include maxMediaQuery(600px) {
    grid-template-columns: 1fr;
  }
}

.externalCrossPost {
  * {
    padding: 0;
    margin: 0;
  }
  .title {
    margin-top: 2em;
    font-weight: 600;
    font-size: 1.1em;
    color: $textDark;
  }
  .info {
    color: $textLight;
    font-style: italic;
  }
  .addCrossPost {
    margin-top: 0.5em;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed $textDark;
    width: 50%;
    .add {
      color: $textDark;
    }
    &:hover {
      cursor: pointer;
      background-color: $lowShadow;
    }
  }
}

.webhookList {
  position: relative;
  background-color: $lowShadow;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  color: $textDark;
  font-size: 0.9em;
  .trash {
    position: absolute;
    color: $removeIcon;
    top: 14px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .name {
    font-size: 1.1em;
    padding-bottom: 5px;
  }
  .url {
    padding-top: 5px;
  }
}
