@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.modalContainer {
  & input {
    border: none;
    border: 3px solid $efuseBlue;
    color: $efuseBlue;
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 10px;
    width: 100%;
  }

  .efuseIcon {
    width: 25px;
    margin-right: 10px;
    height: auto;
  }

  .inputContainer {
    position: relative;
    margin: 30px 0;

    .copyButton {
      position: absolute;
      top: 17px;
      right: 15px;
      color: grey;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: $efuseBlue;
        cursor: pointer;
      }
    }

    .linkCopied {
      text-align: right;
      color: $efuseBlue;
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .shareButton {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 300px;

    & svg {
      margin-right: 10px;
    }
  }
}
