@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.container {
  @include generalCardStyles();
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
  .imageContainer {
    display: inline-block;
    border-radius: 0% 50% 50% 0;
    position: relative;
    height: 85px;
    .userImage {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      position: absolute;
      object-fit: cover;
      left: 0;
      top: 0;
      margin-left: 10px;
      margin-top: 6px;
      background-color: $mainBodyColor;
      border: 3px solid $mainBodyColor;
    }
  }
  .textContainer {
    position: absolute;
    left: 110px;
    top: 0;
    display: grid;
    grid-template-columns: 1.8fr 0.6fr;
    justify-content: left;
    width: calc(100% - 110px);
    padding-top: 10px;
    .link:hover {
      color: $textDark;
    }
    .name {
      display: inline-block;
      font-size: 1em;
      color: $textDark;
    }
    .location {
      position: absolute;
      margin-top: 36px;
      margin-left: -4px;
      transform: scale(0.9);
    }
    .username {
      font-size: 0.8em;
      color: $textLight;
      margin-left: 5px;
    }
    .check {
      margin-left: 0.5em;
    }
    .followInfo {
      font-size: 0.9em;
      margin-bottom: 23px;
      margin-top: 2px;
    }
    .online {
      display: inline-block;
      width: 0.65em;
      height: 0.65em;
      margin-right: 5px;
      background-color: $statusColor;
      border-radius: 50%;
    }
    .offline {
      background-color: $textLight;
    }
    .actionContainer {
      margin-top: 18px;
      grid-column: 1/3;
      .action {
        color: $textLight;
        &:hover {
          cursor: pointer;
        }
      }
      .actionText {
        max-width: 40px !important;
        margin-left: 4px;
        margin-right: 20px;
        color: $textLight;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .iconContainer {
      position: absolute;
      bottom: 0;
      right: 20px;
      padding-bottom: 3px;
    }
    @include media991AndBelow() {
      .applicationStatus {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 45px;
        width: 100%;
      }
      .link {
        grid-column: 1/4;
      }
      .userName {
        font-size: 1em;
        padding-left: 0px;
      }
      .followInfo {
        grid-column: 1/4;
        grid-row: 2;
        margin-top: -2px;
        margin-bottom: 3px;
        font-size: 0.8em;
      }
      .topIconContainer {
        margin-top: 0px;
      }
      .actionContainer {
        grid-row: 3;
        grid-column: 1/2;
        .actionText {
          display: none;
        }
        * {
          margin: 5px;
        }
      }
      .iconContainer {
        position: absolute;
        margin-right: -30px;
        padding-bottom: 8px;
        transform: scale(0.7);
      }
    }
  }
}

.applicantCardWrapper {
  margin-bottom: 15px;

  .bodyText {
    font-size: 0.85rem;
    color: $mainNavColor;
  }
}
