@use "../../styles/variables" as *;

.inputFile {
  outline: none;
}

.imageUploaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.uploadButtonContainer {
  width: 100%;
}
