@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.textbox {
  display: flex;
  font-weight: 500;
  color: $mainNavColor;
  .totalApplicants {
    margin-left: auto;
  }
  .opportunityTitle {
    font-weight: 600;
  }
}
