@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;
@use "../../../../../styles/mixins" as *;

.event {
  color: $mainNavColor;
  margin-top: 25px;
  padding: 5px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

.description {
  font-size: 14px;
  max-width: 80%;
  @include media991AndBelow {
    max-width: 100%;
  }
}

.subTitle {
  margin: 0px;
}

.buttonWrapper {
  display: inline-block;
}
