@use "../../../styles/mediaQueries" as *;
@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;

.recentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gridDisplay {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 225px;
  grid-gap: 1em;
  width: 100%;
  padding: 0em 1em 0em 1em;
  @include media991AndBelow() {
    .middle {
      grid-column: 2/4;
    }
  }
  @include media767AndBelow() {
    .middle {
      grid-column: 1/4;
    }
    .paddingLeft {
      display: none;
    }
  }
  @include maxMediaQuery(520px) {
    display: block;
  }
}
.paddingLeft {
  padding-left: 1em;
}

.create {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}
