@use "../../styles/variables" as *;

.inviteWrapper {
  margin: 1rem auto;
}

.contentWrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleDescriptionContainer {
  flex: 1;
}

.title {
  color: #111;
  font-weight: bold;
  font-size: 1.1em;
}

.inviteButtonContainer {
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
    margin: 2px;
    margin-top: 0px;
    display: inline-block;
  }
}

.signupCount {
  margin-top: 10px;
  color: $efuseDark;
  font-style: italic;
  font-size: 0.9rem;
}
