@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;

.previewBox {
  display: flex;
  flex-flow: row wrap;
  .thumbnailWrapper {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid rgb(234, 234, 234);
    margin-bottom: 8px;
    margin-right: 8px;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
    .thumbnailFrame {
      display: flex;
      min-width: 0px;
      overflow: hidden;
      .removeBtn {
        position: absolute;
        color: $removeIcon;
        margin-left: 76px;
        cursor: pointer;
      }
      .thumbnail {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }
  .fullWidthPreview {
    width: 100%;
    position: relative;
    height: auto;
    min-height: 150px;
    border: none;
    margin: 0px;
    padding: 0px;
    .thumbnailFrame {
      position: relative;
      overflow: inherit;
      .removeBtn {
        position: absolute;
        top: -5px;
        right: -5px;
        color: $mainHighLight;
        background-color: $removeIcon;
        width: 18px;
        height: 18px;
        padding: 2px;
        border-radius: 50%;
        &:hover {
          background-color: $removeIconHover;
        }
      }
      .thumbnail {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .circleThumbnail {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    border: none;
    margin: 0px;
    .thumbnailFrame {
      position: relative;
      overflow: inherit;
      .thumbnail {
        border-radius: 50%;
        width: 100%;
        border: 2px solid $mainHighLight;
      }
      .removeBtn {
        position: absolute;
        top: 2px;
        right: 5px;
        color: $mainHighLight;
        background-color: $removeIcon;
        width: 18px;
        height: 18px;
        padding: 2px;
        border-radius: 50%;
        &:hover {
          background-color: $removeIconHover;
        }
      }
    }
    @include media767AndBelow() {
      width: 90px;
      height: 90px;
    }
  }
}
