// ONLY USE FONT COLOR THEME FOR NECESSARY OVERRIDES OVER THE DEFAULT BUTTON THEMES
@use "../../../styles/variables" as *;

.dangerous {
  color: $removeIcon !important;
  &:hover {
    color: $removeIcon !important;
  }
}

.light {
  color: $mainHighLight !important;
  &:hover {
    color: $mainHighLight !important;
  }
}

.primary {
  color: $leaderboardBlue !important;
  &:hover {
    color: $leaderboardBlue !important;
  }
}
