.normal {
  font-weight: normal !important;
}

.semibold {
  font-weight: 600 !important;
}

.bold {
  font-weight: bold !important;
}

.extraBold {
  font-weight: 900 !important;
}

.normalCase {
  text-transform: none !important;
}

.upperCase {
  text-transform: uppercase !important;
}
