@use "../../../styles/mixins" as *;

.none {
  box-shadow: none;
}

.small {
  @include boxShadow();
}

.medium {
  @include boxShadowMedium();
}

.large {
  @include boxShadowLarge();
}

.small,
.medium,
.large {
  &:disabled {
    box-shadow: none;
  }
}

.carousel {
  &:hover {
    @include boxShadowHover;
  }
  &:active {
    @include boxShadowClick;
  }
}
