@use "../../../styles/variables" as *;
@use "../../../styles/themevariables" as theme;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

@mixin allButtons {
  transition: 200ms;
  outline: none;
  position: relative;
  overflow: hidden;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: Poppins, sans-serif;

  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: inherit;
    opacity: 0.55;

    &:active,
    &:hover {
      opacity: 0.55;
    }
  }
}

@mixin justifyContentTo($position: center) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: $position;
  align-items: center;
}

.center {
  @include justifyContentTo(center);
}

.left {
  @include justifyContentTo(flex-start);
}

.right {
  @include justifyContentTo(flex-end);
}

.transparent {
  @include allButtons();
  color: $mediumTextColor;
  border: none;
  background-color: transparent;
  &:hover,
  &:focus {
    opacity: 0.8;
    color: $mediumTextColor;
  }
  &:active:not([disabled]) {
    background-color: $lightCardBorder;
  }
  &-grey {
    @extend .transparent;
    color: $grey;
    text-shadow: none !important;
  }
}

.light {
  @include allButtons();
  color: theme.$textStrong;
  border: solid 1px theme.$cardBorder;
  background-color: theme.$cardHighlight;
  text-shadow: none;

  &:active:not([disabled]) {
    background-color: theme.$cardBorder;
  }

  &:hover,
  &:focus {
    color: theme.$textStrong;

    &:not([disabled]) {
      background: rgba(0, 0, 0, 0.05);
      background-blend-mode: darken;
    }
  }
}

.dark {
  @include allButtons();
  color: rgba($mainHighLight, 0.96);
  border: none;
  background-color: $dark;
  &:active:not([disabled]) {
    color: $mainHighLight;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), $dark;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  &:hover,
  &:focus {
    color: $mainHighLight;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08)), $dark;
  }
}

.clippy {
  @include allButtons();
  color: #12151d;
  border: none;
  background-color: #00b7ff;
  text-shadow: none;
  &:active:not([disabled]) {
    background-color: #00b7ff;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
    color: #12151d;
  }
}

.primary {
  @include allButtons();
  color: $mainHighLight;
  border: none;
  background-color: $leaderboardBlue;
  background-image: linear-gradient(to bottom, $efuseBlueContrast, $efuseBlue);

  &:active:not([disabled]) {
    background-image: linear-gradient(to bottom, #0097c9, #006cc4);
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $mainHighLight;
  }
}

.azul {
  @include allButtons();
  color: $mainHighLight;
  border: none;
  background-color: $brandeisBlue;

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $mainHighLight;
  }
}

.secondary {
  @include allButtons();
  color: $mainHighLight;

  border: none;
  background-color: #ff0000;
  background-image: linear-gradient(to bottom, #ff5100, #ff0000 188%);

  &:active:not([disabled]) {
    background-image: linear-gradient(to bottom, #e24800, #e40000 188%);
  }
  &:hover,
  &:focus {
    opacity: 0.8;
    color: $mainHighLight;
  }
}

.white {
  @include allButtons();
  color: theme.$textStrong;
  border: solid 1px theme.$cardBorder;
  background-color: theme.$cardHighlight;
  text-shadow: none;

  &:active:not([disabled]) {
    background-color: theme.$cardBorder;
  }

  &:hover,
  &:focus {
    color: theme.$textStrong;

    &:not([disabled]) {
      background: theme.$cardHighlight;
      background-blend-mode: darken;
    }
  }

  &:active {
    background-color: #eff2f8 !important;
  }
}

//variables for width
.fullWidth {
  width: 100%;
  max-width: none !important;
}

.autoWidth {
  width: auto;
}

.fitContent {
  width: fit-content;
}
