@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.type {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: 10px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  padding: 2px 10px 3px 10px;
  border-radius: 20px;
  color: $mainHighLight;
  line-height: 25px;
  height: 25px;
}

.topLeft {
  left: 10px;
}

.topRight {
  right: 10px;
}

.largeCard {
  top: 16px;
  right: 23px;
  padding: 2px 12px 3px 12px;
}
.event {
  border: 2px solid rgb(143, 24, 255);
  background-color: rgba(38, 11, 63, 0.75);
}
.job {
  border: 2px solid rgb(209, 12, 45);
  background-color: rgba(73, 9, 20, 0.75);
}
.scholarship {
  border: 2px solid #e99612;
  background-color: rgba(82, 56, 14, 0.75);
}
.team {
  border: 2px solid rgb(38, 123, 235);
  background-color: rgba(9, 38, 75, 0.75);
}
.liveStreams {
  background-color: rgb(209, 12, 45);
  border: 2px solid $mainHighLight;
}

.erena {
  text-transform: none;
  width: 38px;
  height: 15px;
  padding: 5px;
  border-radius: 10px;
  border: solid 2px $mediaLightBlue;
  background-color: $mediaBlue;
  span {
    font-family: Roboto;
    font-size: 8px;
    letter-spacing: 0.5px;
  }
}
