@use "../../../../../styles/themevariables" as *;
@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/mediaQueries" as *;

.container {
  * {
    padding: 0px;
    margin: 0px;
  }
  display: grid;
  grid-template-columns: 65px minmax(0, 1fr);
  padding: 1em;
  position: relative;
  transition: 200ms;
  .menu {
    position: absolute;
    right: 1em;
    top: 0.4em;
  }
  .providerIcon {
    width: 12px;
    margin-right: 5px;
    margin-top: -2px;
  }
  .image {
    border-radius: 5px;
    object-fit: cover;
    height: 50px;
    width: 80px;
    border-radius: 5px;
  }
  .textContainer {
    overflow: hidden;
    margin-left: 30px;
    .title {
      font-size: 1em;
      font-weight: 600;
      color: $textStrong;
      padding-bottom: 4px;
      max-width: 85%;
    }
    .goldLogo {
      width: 70px;
      height: auto;
    }
    .createdBy,
    .attribute {
      padding-bottom: 2px;
      font-size: 0.9em;
      color: $textWeak;
    }
    .floatRight {
      margin-top: -23px;
      float: right;
      @include media767AndBelow() {
        float: none;
        margin-top: 0px;
      }
    }
    .locationIcon {
      font-size: 0.85em;
      margin-right: 5px;
      color: $textPrimary;
    }
    .description {
      margin-top: 2px;
      font-size: 0.9em;
      color: $textStrong;
      max-height: 65px;
    }
  }
}
.maxWidth {
  width: 100px;
}
.externalSource {
  text-transform: capitalize !important;
}
.link {
  color: $textStrong;
}
.bold {
  color: $textStrong;
  font-weight: 600;
}
