@use "../../../../styles/variables" as *;

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 50px 0;
  margin-top: 10px;
  color: $whiteColor;
}

.footerLinkRow {
  border-top: 0.5px solid #ccc;
  margin-top: 45px;
  padding-top: 25px;
}

.efuse {
  width: 80px;
  margin-left: -20px;
  cursor: pointer;
}
.efuseName {
  width: 100px;
  padding-top: 5px;
  margin-left: -10px;
  cursor: pointer;
}

.footerLinkColumn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
