@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.instructions {
  font-size: 14px;
  margin-bottom: 15px;
  color: $textLight;
}

.optionalLabel {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 15px;
  color: $textLight;
  margin: 20px 0;
}

.requiredAsterisk {
  color: $red;
  margin-left: 5px;
}

.slugContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slugURL {
  padding-right: 5px;
  font-size: 0.9em;
}

.reactQuill {
  @include reactQuillStyle();
}

.buttonContainer {
  @include submitButtonWrapper();
}
