@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.container {
  overflow: hidden;
  border-radius: 10px;
  background-color: $cardBackground;
  border: 1px solid $cardBorder;
  @include boxShadow();
}
