.watermark {
  &:hover {
    cursor: pointer;
  }
}

.extraSmall {
  height: 11px;
}

.small {
  height: 21px;
}

.medium {
  height: 31px;
}

.large {
  height: 41px;
}

.extraLarge {
  height: 51px;
}
