@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

@mixin inputFieldStyle($defaultColor, $defaultBorderColor, $height, $fontSize, $defaultPlaceholderColor) {
  color: $defaultColor;
  border-radius: 0;

  @include media1366AndBelow {
    height: $height;
    font-size: $fontSize;
  }
  &:hover {
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
  }
  &:focus {
    box-shadow: none;
    border-color: $defaultColor;

    &::placeholder {
      color: $defaultColor;
    }
  }
  &::placeholder {
    color: $defaultPlaceholderColor;
  }
  &:valid {
    background-image: none !important;
  }
}

.inputTextPrepend {
  background-color: white;
  border-color: $borderGrey;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
}

.inputField {
  &.internal {
    @include inputFieldStyle(
      $internalTextColor,
      $internalFieldsBorder,
      calc(1.7em + 1rem + 2px),
      0.9rem,
      $internalTextColor
    );
    background-color: #f4f4f4;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 8px;
    color: #343e4a;
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
    height: calc(1.7em + 1rem + 2px);
    box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.04);

    -webkit-transition: 0.18s ease-out;
    -moz-transition: 0.18s ease-out;
    -o-transition: 0.18s ease-out;
    transition: 0.18s ease-out;
  }

  &.external {
    @include inputFieldStyle(
      $darkColor,
      $onboardingPlaceholderColor,
      calc(1.3em + 1rem + 2px),
      1.2rem,
      $onboardingPlaceholderColor
    );
  }

  &.borderLess {
    @include inputFieldStyle($whiteColor, transparent, calc(1.7em + 1rem + 2px), 0.9rem, $whiteColor);
    background: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    height: calc(1.7em + 1rem + 2px);
  }
}

textarea.inputField.internal {
  height: auto;
}

.whiteShadow {
  font-size: 1em;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  color: $mainNavColor;
  height: 50px;
  padding: 5px 10px;
  border: 1px solid $borderGrey;
  outline: none !important;
  border-radius: 8px;

  &:disabled {
    border: 1px solid $borderGrey;
    background-image: none;
    color: rgba($mainNavColor, 0.5);
  }

  &::placeholder {
    @include poppinsNormal;
    font-size: 0.75rem;
    line-height: 20px;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 8px 8px -5px rgba(102, 73, 73, 0.1) !important;
    border: 1px solid $mainNavColor;
  }

  &:hover:not(:disabled) {
    box-shadow: 0 8px 8px -5px rgba(102, 73, 73, 0.1) !important;
  }

  &:invalid {
    border: 1px solid $inputBorder !important;
    outline: none !important;
    background-image: none !important;
  }

  &:valid {
    border: 1px solid $borderGrey !important;
    outline: none !important;
    background-image: none !important;
  }
}

.success {
  @extend .whiteShadow;

  &:valid {
    border: 1px solid $orgVerifiedColor !important;
  }
}
