@use "../../../../../../styles/variables" as *;
@use "../../../../../../styles/mediaQueries" as *;
@use "../../../../../../styles/mixins" as *;

.rootContainer {
  padding: 40px 30px 20px 30px;

  .statsHeader {
    display: flex;
    justify-content: center;
  }

  .statDetails {
    @include verticalFlex();
    margin: 20px 0;

    .gameImage {
      margin-right: -10px;
      z-index: 2;
      width: 128px;
      height: 170px;
      border-radius: 12px;
      box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1), 0 4px 6px 0 rgba(0, 0, 0, 0.15);
      background-color: $whiteColor;

      img {
        border-radius: 12px;
      }
    }

    .statCard {
      z-index: 1;
      margin-right: 10px;
    }
  }
}
