@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/mixins" as *;

.notch {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-items: center;
}
.gradientBackground {
  width: 100%;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  @include media767AndBelow {
    height: auto;
  }
  &.adjustHeader {
    padding-top: 30px;
    height: 636px;
    margin-top: -515px;
  }
}

.mainContentWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pageIntro {
  text-align: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
  @include media767AndBelow {
    margin-top: 50px;
  }

  h3 {
    font-family: "OpenSans", sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    color: $blackHeaderText;
  }

  p {
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $greyContrast;
  }
}

.listFilteringSection {
  width: 100%;
}

.gamesWrapper {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.customImageStyle {
  @include erenaHeaderIcon();
}
.featuredVideo {
  width: 90%;
  max-width: 1120px;
  @include mediaBetween992And1200 {
    width: 920px;
  }
}

.comingSoon {
  text-align: center;
  font-size: 4rem;
  margin: 200px auto 0;
  @include poppinsNormal();
}
