@use "../../styles/variables" as *;

.button {
  border-radius: 25px;
  border: none;
  box-shadow: none;
  padding: 0.5rem 2rem;
  margin-top: 10px;
  &.default {
    background: $tagColor;
  }
  &.funBlue {
    background: $tagColor;
  }
}
