@import "../../../../styles/themevariables";

.topSection {
  display: flex;
  justify-content: space-around;

  .image {
    position: relative;
    right: 12px;
    bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
    z-index: 1;
  }

  .nameText {
    color: $textStrong;
    margin: 5px 0px 0px;
    width: 135px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    align-self: center;
  }

  .removeButton {
    display: flex;
    align-items: center;

    .removeText {
      display: none;
      margin-right: 10px;
      font-size: 12px;
    }

    &:hover {
      button {
        color: #ff4000 !important;
      }
      .removeText {
        display: block;
        color: #ff4000;
      }
    }
  }

  .membersText {
    font-size: 10px;
    margin: 10px 5px 0px;
  }
}
