@use "../../../styles/variables" as *;

.blockedUsersList {
  .blockedUser {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid $borderGrey;
    border-radius: 8px;
    margin-bottom: 10px;

    .name {
      margin-left: 20px;

      .username {
        font-weight: bold;
      }
    }

    .button {
      margin-left: auto;
    }
  }
}
