@use "../../../../../styles/mixins" as *;
@use "../../../../../styles/variables" as *;

.loadMoreLogo {
  text-align: center;
  img {
    margin-left: 0px !important;
  }
}

.showMore {
  color: $textDark;
  background-color: $lowShadow;
  border-color: $lowShadow;
}
.noChannels {
  text-align: center;
  position: relative;
  top: 216px;
  color: $textDark;
}
