@use "../../../../styles/themevariables" as *;

.contentWrapper {
  color: $textStrong;
  margin-left: 5px;
}

.subTitle {
  margin: 0px;
}

.description {
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 0px;
}
