@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.team {
  margin-right: 10px;
  width: auto;
  border: 1px solid $cardBorder;
  background: $cardHighlight;
  min-width: 130px;
  max-width: 210px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.1), 2px 3px 6px -2px rgba(0, 0, 0, 0.15);
  padding-bottom: 5px;
  .teamName {
    overflow: hidden;
    @include clampText(1);
    padding: 2px 10px;
    background-color: $cardLowlight;
    margin-bottom: 5px;
    font-size: 0.8em;
    font-weight: bold;
    color: $textStrong;
    @include centerFlex();
  }
  .player {
    overflow: hidden;
    @include clampText(1);
    padding: 2px 10px;
    color: $textWeak;
    font-size: 0.8em;
    font-weight: 600;
    &:hover {
      cursor: pointer;
      color: $primaryColor;
    }
  }
  .activePlayer {
    color: $primaryColor;
  }
}
