@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.videoWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  max-height: 750px;
}
.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
