@use "../../styles/mediaQueries" as *;
@use "../../styles/variables" as *;

.modalBackground {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 9;
}

.modal {
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  flex: 1;
  margin: auto;
  text-align: center;
  padding: 40px;
  position: relative;
  display: block;
  margin-top: 5vh;
  max-height: 90%;
  overflow: auto;
  @include media767AndBelow {
    padding: 20px;
  }
}

.modalIcon {
  font-size: 3.5rem;
  margin: 40px 0;

  @include media767AndBelow {
    font-size: 2.5rem;
    margin: 40px 0 10px 0;
  }
}

.modalTitle {
  font-size: 1.3rem;
  font-weight: 600;
  width: 95%;
  max-width: 700px;
  margin: auto;
  @include media767AndBelow {
    padding-left: 20px;
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-top: 0em;
  }
}

.subText {
  font-size: 0.9em;
  color: $textDark;
  padding-bottom: 1em;
  padding-top: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.container {
  margin-top: 1em;
  p {
    margin-top: 1em !important;
  }
}

.modalCloseButton {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;

  &:hover {
    color: #555;
  }

  &:active {
    color: #000;
  }
}

.rulesContainer {
  text-align: left;
  padding-top: 1em;
  .header {
    font-size: 1.2em;
  }
  @include media767AndBelow {
    font-size: 0.9em;
    .header {
      font-size: 1em;
    }
  }
}
