.accordion {
}

.accordionItemButton {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #00c9b7;
  height: 50px;
  font-weight: 500;
  color: #ffffff;
  padding: 30px 0px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

.accordionItemPanel {
  color: #ffffff;
  padding: 20px 0px;
}
