@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.logoContainer {
  padding-top: 4.5rem;
  margin: auto;

  .logoImage {
    width: 205px;
    height: 61px;
    position: relative;
  }
  @include media767AndBelow {
    padding-top: 2rem;
  }
}

.contentContainer {
  margin: auto;
}

.textContainer {
  padding-top: 2rem;
  color: $mainHighLight;
  @include media991AndBelow {
    text-align: center;
  }
  .heading {
    font-size: 38px;
    line-height: 45px;
    font-weight: bold;
    max-width: 500px;
    padding-bottom: 20px;
  }
  .description {
    font-size: 18px;
    line-height: 26px;
    max-width: 400px;
  }

  .heading,
  .description {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    @include media991AndBelow {
      margin: auto;
    }
  }
}

.imageContainer {
  position: relative;
  height: 280px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.image1 {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 280px;
  height: 330px;
  position: absolute;
  left: 20px;
  top: 10px;

  @include media1200AndBelow {
    width: 240px;
    height: 260px;
  }
  @include media991AndBelow {
    width: 230px;
    height: 250px;
    left: 150px;
  }
  @include media767AndBelow {
    width: 190px;
    height: 200px;
    left: 20%;
  }
  @include media520AndBelow {
    width: 190px;
    height: 200px;
    left: 10%;
  }
}

.image2 {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 220px;
  height: 250px;
  position: absolute;
  left: 270px;
  top: 80px;

  @include media1200AndBelow {
    width: 200px;
    height: 200px;
    left: 200px;
  }
  @include media991AndBelow {
    width: 180px;
    height: 200px;
    left: 350px;
    top: 80px;
  }
  @include media767AndBelow {
    width: 170px;
    height: 170px;
    top: 50px;
    left: 50%;
  }
  @include media520AndBelow {
    width: 170px;
    height: 170px;
    top: 70px;
    left: unset;
    right: 15%;
  }
}

.signupFormContainer {
  padding: 2rem;
  flex: 2;
  background-color: $mainHighLight;
  margin: 20px;
  margin-bottom: 100px;
  text-align: center;
  border-radius: 10px;
  position: relative;

  @include boxShadowMedium;

  @include media767AndBelow {
    bottom: 45px;
  }
}
