.mediaSection {
  flex: 1;
  height: 133px;
  border-radius: 10px 0 0 10px;

  .listCardImage {
    width: 100%;
    height: 133px;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
  }
}

.carousel-large {
  width: 150px;
}

.large {
  max-width: 240px;
  min-width: 150px;
}
