@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.titleGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .titleContainer {
    margin-top: 1em;
    z-index: 9;
    &:hover {
      display: block;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
    .title {
      @include centerFlex();
      padding: 1em 1em 0em 1em;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 600;
      font-size: 1.1em;
      text-align: center;
      transition: 300ms;
      @include media767AndBelow() {
        font-size: 0.9em;
        letter-spacing: 0px;
      }
    }
  }
  .divider {
    background-color: rgb(132, 132, 151);
    width: 80%;
    margin-bottom: 0px;
    @include media767AndBelow() {
      width: 90%;
    }
  }
}

.titleContainerActive {
  @include media767AndBelow() {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
}
