@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.cardContainer {
  background-color: $cardBackground;
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px $cardBorder;
  .backgroundImageContainer {
    height: 146px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    position: relative;
    .backgroundImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 150ms;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
    .badgeWrapper {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
    }
  }
  .textWrapper {
    padding: 1em;
    @include resetChildrenPaddingMargin();
    .cardTitle {
      font-size: 15px;
      color: $textStrong;
      font-weight: bold;
      @include clampText(4);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .cardSubTitle {
      color: $primaryColor;
      font-weight: bold;
      font-size: 11px;
      padding-top: 12px;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .date {
      margin-top: 0.5em;
      font-size: 9px;
      font-weight: bold;
      color: $textWeak;
    }
  }
}
