$rare: #2e87ff;
$epic: #fb2eff;
$legendary: #ff7d00;
$preview: #00c9b7;

@mixin cardColor($color) {
  color: $color;
  text-shadow: 0px 15px 20px rgba($color, 0.6);
  filter: drop-shadow(0px 0px 10px rgba($color, 0.5));
  .hexWrapper {
    background-color: $color;
  }
  .rarityImage {
    max-height: 100px !important;
    width: 144px !important;
    object-fit: scale-down;
  }
}

.rare {
  @include cardColor($rare);
}

.epic {
  @include cardColor($epic);
}

.legendary {
  @include cardColor($legendary);
}

.preview {
  @include cardColor($preview);
}

.cardWrapper {
  position: relative;
  width: 280px;
  .rarityImage {
    position: absolute;
    margin-top: -30px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    width: 100px;
  }
  .hexWrapper {
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 350px;
    clip-path: polygon(50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%, 0 15%);
    .hexImage {
      object-fit: cover;
      width: 260px;
      height: 325px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      clip-path: polygon(50% 0, 100% 15%, 100% 85%, 50% 100%, 0 85%, 0 15%);
      z-index: -1;
    }
    .hoverWrapper {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 100%;
      bottom: -100%;
      left: 0;
      text-align: center;
      .hoverTextContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .name {
          color: #00c9b7;
          font-weight: bold;
          font-size: 20px;
          text-shadow: 2px 10px 20px rgba(#00c9b7, 0.8);
        }
        .rarityText {
          text-transform: uppercase;
          font-size: 28px;
          font-weight: bolder;
        }
      }
    }
    &:hover {
      .hoverWrapper {
        animation: fadeIn 275ms ease-in-out;
        animation-fill-mode: forwards;
        cursor: pointer;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    width: 220px;
    .rarityImage {
      width: 80px;
    }
    .hexWrapper {
      width: 220px;
      height: 275px;
      .hexImage {
        width: 200px;
        height: 250px;
      }
    }
  }
  @media screen and (max-width: 425px) {
    width: 160px;
    .rarityImage {
      width: 70px;
    }
    .hexWrapper {
      width: 160px;
      height: 200px;
      .hexImage {
        width: 140px;
        height: 175px;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    bottom: -100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  100% {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
