@use "../../styles/variables" as *;
@use "../../styles/mediaQueries" as *;

.questionList {
  margin-top: -1rem;
  padding-bottom: 10px;
  & div {
    padding: 5px 0;

    & select {
      margin: 0 10px;
    }
  }
  .instructions {
    font-size: 11px;
    font-weight: bold;
    color: #008dff;
    text-transform: uppercase;
  }
  .singleQuestionContainer {
    margin-bottom: 10px;
    border-radius: 14px;
    border: solid 1px $lightCardBorder;
    background-color: $lightCardBackground;
    padding: 20px;
    @include media767AndBelow {
      padding: 10px;
    }
  }
  .question {
    font-weight: bold;
    padding-bottom: 0 !important;
    margin-bottom: 0;
    font-size: 20px;
    color: $greyColor;
    @include media767AndBelow {
      font-size: 15px;
    }
  }
  .multipleAnswerContainer {
    padding-top: 0 !important;
    margin-top: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    & > button {
      background: #e2e3ea;
      padding: 5px 10px;
      border-radius: 3px;
      margin: 5px;
      color: $darkColor;
      display: inline-block;
      font-size: 0.8rem;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.25s;
      // border: 0;

      &:hover {
        background-color: $blueLowShadow;
        opacity: 1;
        color: $textLight;
        cursor: pointer;
      }
    }
  }
  .answerInstructions {
    color: $greyColor;
    font-size: 0.7em;
    padding-bottom: 10px;
  }
  .activeSpan {
    background-color: $greyColor !important;
    color: $whiteColor !important;
    opacity: 1 !important;
  }
}

.validationErrorMessage {
  background-color: $removeIcon;
  border-radius: 3px;
  color: $mainHighLight;
  font-weight: bold;
  padding: 0 10px !important;
}
