@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.userAttributes {
  @include bluePill();
}

.attributeContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
}
