@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.dropdownBox {
  display: inline-block;
  margin: 4px;
  width: 120px;
  color: $mainNavColor;
  font-size: 12px;
  font-weight: 600;

  div {
    height: 40px;
  }
}

.buttonContainer {
  display: inline-block;
  margin: 4px;
}
