@import "../../../../styles//variables";
@import "../../../../styles/mediaQueries";

.wrapper {
  .icon {
    color: $mediaSettingIcon;
  }
  .label {
    font-size: 16px;
    font-weight: 500;
  }
  .children {
    @include media767AndBelow {
      text-align: center;
      padding-top: 15px;
    }
  }
}
