@use "../../../styles/themevariables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.heading {
  font-weight: bold;
}

.icon {
  color: $primaryColor;
  font-size: 12px;
  font-weight: 300;
}

.span {
  display: block;
  margin-left: 32px;
  padding-bottom: 10px;
}

.education {
  margin-bottom: 15px;
}

.add {
  position: absolute;
  right: 12px;
  top: 19px;
}

.buttonWrapper {
  display: inline-block;
}

.showMoreButton {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

.description {
  font-size: 14px;
  max-width: 80%;
  padding-bottom: 0px;
  margin-left: 2rem;
  @include media991AndBelow {
    max-width: 100%;
  }
}
