@use "../../../../styles/themevariables" as *;

.mainWrapper {
  min-height: 285px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contentWrapper {
  padding: 5px 10px;
  text-align: center;
}

.heading {
  color: $textStrong;
  font-weight: 500;
}
