@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.header {
  display: inline-block;
  width: 100%;
  margin-bottom: 4px;
  font-size: 0.85rem;
  font-family: Poppins, sans-serif;

  .title {
    float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 0px;
  }

  .subtitle {
    float: right;
    color: $textLight;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0px;
  }
}

.image {
  width: 40px;
  height: 40px;
  border: 1px solid #CED7E7;
  border-radius: 6px;
}


.versus {
  display: flex;
  align-items: center;

  hr {
    width: 10px;
    margin: 4px;
    border-top: 1px solid #737385;
  }

  p {
    margin: 0px;
    color: $textLight;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

  }
}
