@import "../../../../styles/variables";
@import "../../../../styles/mediaQueries";

.featuredMembers {
  margin-top: 1rem;
}

.headerText {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.67;
  color: $mainNavColor;
  margin-left: 8px;
  margin-bottom: 5px;
  @include media1366AndBelow {
    margin-top: 20px;
  }
  @include media767AndBelow {
    margin: 10px 0px 0px;
  }
}

.carouselWrapper {
  text-align: center;
  position: relative;
}
