@use "../../styles/variables" as *;

.tagWrapper {
  background: $tagColor;
  color: $whiteColor;
  border-radius: 20px;
  padding: 8px;
  padding-left: 15px;
  font-size: 0.9rem;
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 10px;
  .tagLabel {
    text-transform: capitalize;
  }
}
