@use "../../../../styles/variables" as *;
@use "../../../../styles/mediaQueries" as *;

.cardContent {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.leftIcon {
  margin: auto 20px auto 10px;
  height: 40px;
  width: 40px;

  @include media767AndBelow() {
    margin: auto 15px auto 8px;
    height: 35px;
    width: 35px;
  }
}

.name {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  color: $mediumTextColor;
  font-family: Poppins, sans-serif;

  &.selected {
    color: $whiteColor;
  }

  @include media767AndBelow() {
    font-size: 14px;
    line-height: 16px;
  }
}

.description {
  font-size: 14px;
  color: $textDark;
  padding-top: 4px;

  &.selected {
    color: $whiteColor;
  }

  @include media767AndBelow() {
    font-size: 12px;
  }
}

.textAndIconContainer {
  display: flex;
  align-items: center;
}

.centerTextContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
