@use "./styles/variables" as *;

@mixin dragGlow($speed, $iteration, $timing, $color) {
  animation-name: dragGlow;
  animation-duration: $speed;
  animation-iteration-count: $iteration;
  animation-timing-function: $timing;
  @keyframes dragGlow {
    0% {
      box-shadow: 0px 0px 0px 0px $color;
    }
    15% {
      box-shadow: 0px 0px 30px 0px $color;
    }
    30% {
      box-shadow: 0px 0px 0px 0px $color;
    }
  }
}

@mixin pulse($speed, $iteration, $timing, $smallShadow, $largeShadow, $color) {
  animation-name: pulse;
  animation-duration: $speed;
  animation-iteration-count: $iteration;
  animation-timing-function: $timing;
  box-shadow: 0px 0px $smallShadow 0px $color;
  @keyframes pulse {
    0% {
      box-shadow: 0px 0px $smallShadow 0px $color;
    }
    50% {
      box-shadow: 0px 0px $largeShadow 0px $color;
    }
    100% {
      box-shadow: 0px 0px $smallShadow 0px $color;
    }
  }
}

@mixin bounce(
  $speed,
  $iteration,
  $timing,
  $startHeight,
  $midHeight,
  $finalHeight,
  $startWidth,
  $midWidth,
  $finalWidth
) {
  animation-name: bounce;
  animation-duration: $speed;
  animation-iteration-count: $iteration;
  animation-timing-function: $timing;
  animation-fill-mode: forwards;
  @keyframes bounce {
    0% {
      height: $startHeight;
      width: $startWidth;
    }
    40% {
      height: $midHeight;
      width: $midWidth;
    }
    100% {
      height: $finalHeight;
      width: $finalWidth;
    }
  }
}
