@mixin minMediaQuery($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin maxMediaQuery($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin media1681AndAbove {
  @media only screen and (min-width: 1681px) {
    @content;
  }
}

@mixin media1680AndBelow {
  @media only screen and (max-width: 1680px) {
    @content;
  }
}

@mixin media1366AndBelow {
  @media only screen and (max-width: 1366px) {
    @content;
  }
}

@mixin media1200AndBelow {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin media1024AndBelow {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mediaBetween1200And1315 {
  @media only screen and (min-width: 1024px) and (max-width: 1315px) {
    @content;
  }
}

@mixin mediaBetween992And1200 {
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    @content;
  }
}

@mixin mediaBetween992And1024 {
  @media only screen and (min-width: 992px) and (max-width: 1024px) {
    @content;
  }
}

@mixin mediaBetween768And1023 {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin media991AndBelow {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

@mixin media991AndAbove {
  @media only screen and (min-width: 991px) {
    @content;
  }
}

@mixin mediaBetween768And991 {
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin media768AndAbove {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin media767AndBelow {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin mediaBetween600and767 {
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    @content;
  }
}

@mixin media600AndBelow {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin media520AndBelow {
  @media only screen and (max-width: 520px) {
    @content;
  }
}

@mixin media400AndBelow {
  @media only screen and (max-width: 400px) {
    @content;
  }
}

@mixin media320AndBelow {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
