@use "./mediaQueries" as *;
@use "./variables" as *;
@use "./themevariables" as theme;

@mixin headerMediaQueries {
  max-width: 1140px;
  @include media1200AndBelow() {
    overflow: inherit;
    max-width: 960px;
  }
  @include media991AndBelow() {
    max-width: 720px;
    padding: 0px;
  }
  @include media767AndBelow() {
    padding: 0 15px;
  }
}

@mixin preventTextSelect() {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

@mixin boxShadow {
  -webkit-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
}

@mixin boxShadowSmall {
  -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

@mixin boxShadowMedium {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.15);
}

@mixin boxShadowLarge {
  -webkit-box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 20px 20px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 20px 20px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08), 0 20px 20px -1px rgba(0, 0, 0, 0.3);
}

@mixin boxShadowHover {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

@mixin boxShadowClick {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.18);
}

@mixin resetPaddingMargin {
  padding: 0px;
  margin: 0px;
}

@mixin removeButtonStyling {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: none;
  &:focus {
    outline: none;
  }
}

@mixin resetChildrenPaddingMargin {
  * {
    @include resetPaddingMargin();
  }
}

@mixin generalCardStyles {
  @include boxShadow();
  background-color: theme.$cardBackground;
  border: 1px solid theme.$cardBorder;
  border-radius: 10px;
  transition: all 150ms;
}

@mixin clampText($columns) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $columns;
  -webkit-box-orient: vertical;
}

@mixin clipTextWithWidth($width) {
  width: $width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin commentsAvatar() {
  .avatar {
    height: 40px;
    width: 40px;
  }
}

@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

@mixin verticalFlex {
  display: flex;
  align-items: center;
}

@mixin submitButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@mixin listStyle() {
  background-color: theme.$cardBackground;
  padding: 0.6rem;
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  border: solid 1px theme.$cardBorder;
  @include mediaBetween768And991 {
    padding: 1rem 0.5rem;
  }
  &:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &:last-child {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
}

@mixin postActionButtonStyle() {
  .actionBtn {
    background: $mainNavColor;
    border: none;
    border-radius: 25px;
    font-size: 0.7rem;
    height: 30px;
    color: $mainHighLight;
    margin-right: 1rem;
    &:hover {
      color: $textDark;
      background: $mainBodyColor;
    }
    &:disabled {
      color: $mainHighLight;
      background: $mainNavColor;
    }
  }
}

@mixin transparentBtn() {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

@mixin friendsCard() {
  .friendWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $mainHighLight;
    padding: 0.5rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    min-height: 260px;
    text-align: center;
    @include boxShadow();
    .avatar {
      height: 100px;
      width: 100px;
    }
    .name {
      font-size: 1.1rem;
      margin-top: 1rem;
      color: $textDark;
      margin-bottom: 0;
    }
    .roles {
      color: $tagColor;
      font-size: 0.9rem;
    }
  }
}

@mixin mediaRemoveBtn() {
  .closeBtn {
    position: absolute;
    right: 0px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7) !important;
    border-radius: 0;
  }
}

@mixin sharedPost() {
  .sharedPost {
    border: 1px solid $mainLowLight;
  }
}

@mixin removePadding() {
  .removePadding {
    @include mediaBetween768And991 {
      padding: 0;
    }
  }
}

@mixin hideElement() {
  .hideElement {
    @include media767AndBelow {
      display: none;
    }
  }
}

@mixin postFooter() {
  .footer {
    position: relative;
    .postActionWrapper {
      display: flex;
      align-items: center;
      justify-content: left;
      overflow-x: scroll;
      .postActionBtn {
        margin-right: 10px;
        font-size: 0.9rem;
      }
    }
    .postActionWrapper::-webkit-scrollbar {
      display: none;
    }
  }
}

@mixin commentMediaStyle() {
  @include transparentBtn();
  padding: 0;
  color: $darkColor;
  &:hover,
  &:active,
  &:focus {
    color: $darkColor;
  }
}

@mixin commentThreadWrapper() {
  .threadWrapper {
    margin-left: 3.3rem;
    @include mediaBetween992And1024 {
      margin-left: 2rem;
    }
    @include media991AndBelow {
      margin-left: 1.5rem;
    }
  }
}

@mixin threadAvatar() {
  .avatar {
    height: 30px;
    width: 30px;
  }
}

@mixin blueButtonDesign() {
  background-color: $tagColor;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  color: $mainHighLight;
  text-align: center;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 8px 6px -2px rgba(0, 0, 0, 0.15);
  padding: 7px 16px;
  &:hover {
    background-color: $tagColorHover;
    color: $mainHighLight;
    cursor: pointer;
  }
  &:disabled {
    background-color: $tagColorDisabled;
    cursor: inherit;
  }
}

@mixin orangeButtonDesign() {
  border: none;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  color: $mainHighLight;
  letter-spacing: 1px;
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1), 0 8px 6px -2px rgba(0, 0, 0, 0.15) !important;
  background-image: linear-gradient(to bottom, #ff5100, #ff0000 188%);
  border-radius: 5px;
  padding: 7px 16px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    color: $mainHighLight;
    background-image: linear-gradient(to bottom, #e24800, #e40000 188%);
  }
}

@mixin whiteButtonDesign() {
  text-align: center;
  background-color: $mainHighLight;
  color: $mainNavColor;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 0 14px -1px rgba(0, 0, 0, 0.15) !important;
  border: solid 1px $inputBorder !important;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  padding: 7px 16px;
  &:active {
    color: $darkColor;
  }
  &:hover {
    border: solid 1px $mainNavColor !important;
  }
}

@mixin redButtonDesign() {
  text-align: center;
  background-color: $removeIcon !important;
  color: $mainHighLight;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 0 14px -1px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 600;
  padding: 7px 16px;
  &:hover {
    cursor: inherit;
    background-color: $removeIconHover !important;
  }
}

@mixin reactQuillStyle() {
  border-radius: 5px;
  border: solid 1px $inputBorder !important;
  color: $mainNavColor;
  transition: 150ms;
  * {
    border: none !important;
  }
  &:hover {
    box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1);
  }
}

@mixin quillStrictRule() {
  * {
    color: theme.$textStrong !important;
  }
  h1 {
    font-size: 1.5em !important;
  }
  h2 {
    font-size: 1.3em !important;
  }
  h3 {
    font-size: 1.2em !important;
  }
  a {
    color: #007bff !important;
  }
  font-size: 0.9em !important;
  line-height: normal;
}

@mixin imgLax {
  overflow: hidden;
  position: relative;
  background-size: contain;
  background-position: 0px 60px;
  background-repeat: no-repeat;
  padding-top: 27.777777%;
  background-attachment: fixed;
  @include media991AndBelow() {
    padding-top: 30%;
  }
  @include media767AndBelow() {
    padding-top: 40%;
    min-height: 125px;
  }
  @include media400AndBelow() {
    padding-top: 45%;
  }
  @media only screen and (max-width: 320px) {
    padding-top: 50%;
  }
}

@mixin addButton {
  color: $mainNavColor;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15);
  border: solid 1px $lightCardBorder;
  background-color: $mainHighLight;
  &:hover {
    opacity: 0.7;
    color: $mainNavColor;
  }
}

@mixin showMoreBtn {
  position: absolute;
  right: 15px;
  border-radius: 8px !important;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15) !important;
  border: solid 1px $lightCardBorder !important;
  background-color: $mainHighLight !important;
  color: $mainNavColor;
  font-weight: bold;
  padding: 10px 30px !important;
  &:hover {
    opacity: 0.7;
    color: $mainNavColor;
  }
}

@mixin followButton {
  background-image: linear-gradient(to bottom, #00c1ff, #008dff);
  border-radius: 8px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1), 0 10px 8px -1px rgba(0, 0, 0, 0.15);
  border: solid 1px $lightCardBorder;
  margin: 5px;
  padding: 10px 0px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: bold;
  width: 120px;
  &:active {
    background-image: none;
    background-color: #008dff;
  }
}

@mixin bluePill {
  border-radius: 13px;
  max-height: 30px;
  background-color: $tagColor;
  font-size: 0.8em;
  font-weight: bold;
  color: $mainHighLight;
  padding: 0px 12px;
  line-height: 2;
  margin: 5px;
  display: inline-block;
}

@mixin authBtnStyles($backgroundColor) {
  border: none;
  width: 100%;
  min-width: 200px;
  padding: 1em;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  transition: 250ms;
  background: $backgroundColor !important;

  &:disabled {
    background-color: $backgroundColor;
  }
  &:hover,
  &:focus,
  &:active,
  &:visited {
    background-color: $backgroundColor !important;
    opacity: 0.85;
    outline: none;
    border: none;
  }

  img {
    margin-right: 5px;
    height: 22px;
    width: auto;
  }
}

@mixin leaderboardSubtitle() {
  @include resetPaddingMargin();
  color: $mainNavColor;
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 11px;
  padding: 5px 0px;
}

@mixin inputFieldBorderBottom() {
  border: none;
  font-weight: bold;
  border-bottom: 2px solid $hrBorder;
  font-size: 1em;
  width: 100%;
  color: $darkColor;
  background-color: $postLowLightNoRGBA;
  height: 30px;
  padding-left: 5px;
  margin-top: 5px;
  &:focus {
    border-bottom: 2px solid $tagColor;
    outline: none;
  }
}

@mixin blur($radius) {
  -webkit-backdrop-filter: saturate(140%) blur($radius + px);
  backdrop-filter: saturate(140%) blur($radius + px);
}

@mixin exterViewButtonWrapper() {
  position: relative;
  top: 10px;
}

@mixin modalFormProgressbar {
  height: 10px;
  border-radius: 0px;
  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: -40px;
  margin-right: -40px;
  @include media767AndBelow() {
    margin-bottom: -30px;
    margin-left: -30px;
    margin-right: -30px;
  }
}

@mixin erenaHeaderIcon {
  img {
    width: 82px;
    height: 60px;
    margin-top: 12px !important;
  }
}

// Font Styling

@mixin cardTitle {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: $textBlack;
}

@mixin poppinsNormal {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
}

@mixin listCardDetailsSmall {
  @include poppinsNormal;
  font-size: 12px;
}

@mixin listCardDetailsExtraSmall {
  @include poppinsNormal;
  font-size: 10px;
}

@mixin mainHeader {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0;
}

@mixin secondaryHeader {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

@mixin basicLink {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0;
}

// Card Styling

@mixin cardBorder {
  border: 1px solid $borderGrey;
  border-radius: 10px;
  &:hover {
    box-shadow: 0 4px 10px 0 #0000001a;
  }
}

@mixin dashedCardBorder {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23C7D3EA' stroke-width='3' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 10px;
}
