//IMMUTABLE COLORS
//general colors
$alwaysWhite: var(--always-white, #ffffff);
$alwaysBlack: var(--always-black, #000000);
$shadowBlack03: var(--shadow-black-03);
$shadowBlack10: var(--shadow-black-10);
$shadowBlack13: var(--shadow-black-13);

//eFuse colors
$efuseBlue: var(--efuse-blue);
$efuseBlueDark: var(--efuse-blue-dark);
$efuseDark: var(--efuse-dark);
$verifiedOrganization: var(--verified-organization);
$verifiedUser: var(--verified-user);
$hypeColor: var(--hype-color);
$viewsColor: var(--views-color);
$streakColor: var(--streak-color, #460fc9);
$eventsColor: var(--events-color);
$jobsColor: var(--jobs-color);
$teamOpeningsColor: var(--team-openings-color);
$scholarshipsColor: var(--scholarships-color);
$erenaColor: var(--erena-color, #2f87ff);

//social colors
$socialBattlenet: var(--social-battlenet);
$socialDiscord: var(--social-discord);
$socialFacebook: var(--social-facebook);
$socialLinkedin: var(--social-linkedin);
$socialInstagram: var(--social-instagram);
$socialPlaystation: var(--social-playstation);
$socialSteam: var(--social-steam);
$socialTwitch: var(--social-twitch);
$socialTwitter: var(--social-twitter);
$socialYoutube: var(--social-youtube);
$socialXbox: var(--social-xbox);

//THEME COLORS
//global colors
$backgroundColor: var(--background-color);
$backgroundTextStrong: var(--background-text-strong);
$backgroundTextWeak: var(--background-text-weak);
$backgroundRgbaColor: var(--background-rgba-color);
$backgroundRgbaHover: var(--background-rgba-hover);

//navigation
$navbarBackground: var(--navbar-background);
$subheaderBackground: var(--subheader-background);

//colors
$primaryColor: var(--my-background, #4485fa);
$primaryColorHover: var(--primary-color-hover);
$secondaryColor: var(--secondary-color);
$secondaryColorHover: var(--secondary-color-hover);

//text
$textPrimary: var(--text-primary);
$textStrong: var(--text-strong);
$textWeak: var(--text-weak);

//cards
$cardBackground: var(--card-background);
$cardBorder: var(--card-border);
$cardLowlight: var(--card-lowlight);
$cardHighlight: var(--card-highlight);
