// External Colors
$darkColor: #000000;
$onboardingPlaceholderColor: #989898;
$whiteColor: #ffffff;
$inputBorderColor: #cccccc;
$greyColor: #212121;

// Internal Colors
$navbarColor: #132940;
$navbarHighlight: #203e5e;
$internalTextColor: #a1a1a1;
$bellColor: #d8d8d8;
$cardBorder: #2f4255;
$internalFieldsBorder: #3a546f;
$labelColor: #849bba;
$btnLightShade: #214579;
$lightColor: #a9b5c4;
$moneyBox: #193353;
$statusColor: #008000;
$cardFooterColor: #3c3c3c;
$chatListItem: #193353;
$hrColor: #586980;
$websiteChip: rgba(68, 133, 250, 0.2);
$ribbonStartColor: #f70505;
$ribbonEndColor: #8f0808;
$orgVerifiedColor: #51b456;

// New Colors
$mainNavColor: #16181a;
$mainBodyColor: #eaeff5;
$mainLowLight: #bdcfe5;
$mainHighLight: #ffffff;
$subHeaderColor: #eaedf0;
$mediumGrey: #495057;
$lightGrey: #ececec;
$greyishVariant: #7a7a8a;
$lightestGrey: #ced4da;
$textDark: #4e4e5c;
$textLight: #737385;
$textExtraLight: #9a9aad;
$tagColor: #4485fa;
$tagColorDisabled: #98bcff;
$tagColorHover: #3b70d1;
$lowShadow: rgb(241, 242, 248);
$blueLowShadow: rgba(74, 89, 187, 0.13);
$gold: #d4af37;
$goldLight: #e8b923;
$likeRed: #ff5100;
$rocketLeagueBlue: #395d7f;
$hrBorder: rgba(0, 0, 0, 0.1);
$lightCardBackground: #f9f9f9;
$lightCardBorder: #dddee8;
$mediumTextColor: #15151a;
$postLowLight: rgba(0, 0, 0, 0.03);
$postLowLightNoRGBA: #f7f7f7;
$inputBorder: #bcbdca;
$darkOrange: #ff7f00;
$orangeRed: #ff5000;
$red: #ff0000;
$blackHeaderText: #090a0b;
$bunker: #0a0c12;
$greyVariant: #747d8b;
$active: #eff2f8;
$recruitPurple: #9621ff;
$recruitBlue: #006cfa;
$efuseOrange: #f44900;
$successGreen: #30cc49;

//efuse
$efuseBlue: #2e87ff;
$efuseBlueContrast: #1eabe8;
$efuseDark: #0f0f0f;

//platforms
$facebookBtn: #3b5998;
$twitchBtn: #6441a5;
$steamBtn: #111922;
$youtubeBtn: #c4302b;
$twitterBtn: #1da1f2;
$instagramBtn: #eb25ac;
$discordBtn: #7289da;
$linkedinBtn: #006097;
$battlenetBtn: #002754;
// $twitterBtn: #a6cef8;
$defaultIcon: #7288a3;
$xboxColor: #107c10;
$steamColor: #1b2838;
$playstationColor: #003087;
$battlenetColor: #9added;
$xboxBtn: #000000;

$interestedIcon: rgb(209, 188, 0);
$removeIcon: rgb(185, 45, 45);
$removeIconHover: rgb(139, 33, 33);
$invalidBorder: #dc3545;
$errorTextColor: #dc3545;

//keempark
$background-color: #16202d;
$background-highlight: #223248;
$text-color: #e1ecf1;
$text-color-dark: #a4b0b6;
$primary-color: #4485fa;

$borderLight: #e3e4ed;
$innerTextColor: #646a6c;
$highlightHover: #f5f5f5;
$efuseBlueHover: #226ccc;

//dark mode
$darkModeBackgroundColor: #191919;
$darkModeTextColor: #ffffff;
$darkCardBackground: #141617;
$darkHighlight: #060608;
$darkBorderColor: #0e0e11;
$darkMainText: #ffffff;
$darkSubText: #dedee3;
$efuseGoldText: #dbb73f;
$efuseGoldHover: #a5892f;
$avatarBorder: rgb(200, 200, 200);
$boltColor: #460fc9;
$dark: #121212;


$dimGrey: #53575d;
$greyContrast: #5d5d63;
$leaderboardBlue: #008dff;
$grey: #a3a8ad;
$locationColor: #008dff;
$bluish: "#5f7399";
$greyish: "#84878c";
$navColor: #007bff;
$secondaryLeaderboardColor: #2163b9;
$efuseBlueContrast: #1eabe8;
$greyContrast: #5d5d63;
$blueIcon: rgb(0, 141, 255);
$infoColor: #151520;
$orange: #ff8200;
$redContrast: #ff4300;
$blackContrast: #17171c;
$snow: #fafafa;
$mediaSettingIcon: #008dff;
$mediaBlue: #123666;
$mediaLightBlue: #2f87ff;

//Figma Colors
$borderGrey: #c7d3ea;
$textBlack: #15151a;
$royalBlue: #2f87ff;
$brightPurple: #9937ea;
$brandeisBlue: #006cfa;
$backgroundGrey: #e5e5e5;
$blackRussian: #10141f;
$darkGrey: #0a0c1299;

//External Accounts
$discordBlue: #5865f2;
$twitchPurple: #9146ff;
$steamBlue: #374b69;
$linkedInBlue: #2867b2;
$battlenetBlack: #0e1018;
$twitterBlue: #1da1f2;
$facebookBlue: #4267b2;
$backgroundBlack: #282828;
$valorantRed: #ff4655;
$snapChatYellow: #fffc00;
$xboxLiveGreen: #107c10;

//allows the ability to call Style.darkCardBackground in react components
:export {
  primaryLeaderboardColor: $leaderboardBlue;
}
:export {
  secondaryLeaderboardColor: $secondaryLeaderboardColor;
}
:export {
  darkCardBackground: $darkCardBackground;
}

:export {
  efuseBlue: $efuseBlue;
}

:export {
  efuseDark: $darkCardBackground;
}
