@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

@keyframes zoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  animation: zoomIn 0.3s ease;
}
