@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.generalAccordionWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $mainHighLight;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  .iconContainer {
    position: absolute;
    top: 20px;
    right: 45px;
    padding: 15px;
    margin-left: auto;
    font-size: 12px;
    color: $darkColor;
    .icon {
      transition: 200ms;
    }
  }
}

.isOpen {
  background-position: left bottom;
  .iconContainer {
    .icon {
      transform: rotate(180deg);
    }
  }
}
