@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.carousel {
  flex: 0 1 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  margin-top: -2em;
  .content {
    flex: 0 0 100%;
    height: 100%;
    position: relative;
  }
  .card {
    position: absolute;
    transition: all 0.5s;
    top: 50%;
    display: none;
    border-radius: 10px;
    overflow: hidden;
    background-color: $mainNavColor;
    .overlay {
      transition: 150ms;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 3;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
      }
    }
  }
  .main {
    display: inherit;
    width: 610px;
    height: 340px;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 30px 0 rgba(22, 24, 26, 0.2), 0 4px 4px -1px rgba(0, 0, 0, 0.05),
      0 20px 20px -1px rgba(0, 0, 0, 0.05);
  }
  .highlightLeft {
    position: absolute;
    background-color: $mainNavColor;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 255px;
    height: 270px;
    left: 11.5%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    animation-delay: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(134deg, #16181a -46%, #000000 100%);
    @include maxMediaQuery(1200px) {
      left: 9%;
      width: 165px;
    }
    .sideText {
      padding: 25px 25px 20px 35px;
      .sideTitle {
        padding: 0px;
        margin: 0px;
        position: relative;
        width: 100%;
        font-weight: bold;
        font-size: 1.1em;
        line-height: 1.1;
        color: $mainHighLight;
        z-index: 5;
        word-wrap: break-word;
        @include clampText(3);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
      }
      .sideSubTitle {
        z-index: 5;
        position: relative;
        color: $efuseBlue;
        font-weight: bold;
        font-size: 0.8em;
        padding: 0px;
        margin: 0px;
        margin-top: 8px;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
        text-transform: capitalize;
      }
      .sideDescription {
        padding: 0px;
        margin: 0px;
        margin-top: 3px;
        font-size: 0.8em;
        z-index: 5;
        position: relative;
        line-height: 1.2;
        color: #c3c5c8;
        @include clampText(3);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
      }
      .sideStats {
        padding: 0px;
        margin: 0px;
        margin-top: 3px;
        font-size: 0.8em;
        z-index: 5;
        position: relative;
        color: $mainHighLight;
        font-weight: bold;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 3px 8px rgba(0, 0, 0, 0.15);
      }
      .actionButtons {
        margin-top: 1em;
        .sideLeftButton {
          width: 90px;
          position: relative;
          padding: 0px;
          margin: 0px;
          margin-top: 3px;
          z-index: 5;
          font-size: 0.8em;
          color: $mainHighLight;
          font-weight: bold;
          text-transform: uppercase;
          padding: 5px 8px;
          text-align: center;
          border-radius: 5px;
          background-image: linear-gradient(to bottom, #ff5100, #ff0000 188%);
          &:hover {
            cursor: pointer;
            text-decoration: none;
            background-image: linear-gradient(to bottom, #c53e00, #da0000 188%);
          }
        }
      }
    }

    .sideBackgroundImage {
      position: absolute;
      z-index: 4;
      opacity: 0.75;
    }
  }
  .secondaryLeft {
    display: inherit;
    // background-color: rgb(209, 209, 209);
    width: 535px;
    height: 300px;
    z-index: 2;
    left: 20%;
    transform: translate(-20%, -50%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 11px 9px -3px rgba(0, 0, 0, 0.15);
  }
  .secondaryRight {
    display: inherit;
    // background-color: rgb(209, 209, 209);
    width: 535px;
    height: 300px;
    z-index: 2;
    left: 80%;
    transform: translate(-80%, -50%);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1), 0 11px 9px -3px rgba(0, 0, 0, 0.15);
  }
  .tertiaryLeft {
    display: inherit;
    width: 480px;
    height: 270px;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    // background-color: rgb(231, 231, 231);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.1), 0 10px 8px -3px rgba(0, 0, 0, 0.15);
  }
  .tertiaryRight {
    display: inherit;
    width: 480px;
    height: 270px;
    z-index: 1;
    left: 100%;
    transform: translate(-100%, -50%);
    // background-color: rgb(231, 231, 231);
    box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.1), 0 10px 8px -3px rgba(0, 0, 0, 0.15);
  }
}

.rightButton,
.leftButton {
  transition: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  z-index: 4;
  color: $mainNavColor;
  background-color: $mainHighLight;
  text-decoration: none;
  @include boxShadow();
  &:focus {
    outline: none;
  }
  &:hover {
    color: $mainHighLight;
    background-color: $efuseBlue;
    cursor: pointer;
  }
}
.leftButton {
  left: -18px;
}
.rightButton {
  right: -18px;
}

.displayMobile {
  padding-bottom: 1em;
  display: none;
}

@include media991AndBelow() {
  .carousel {
    display: none;
  }
  .displayMobile {
    display: inherit;
  }
}

.scrollLeftAnimation {
  opacity: 0;
  animation-duration: 0.85s;
  animation: slideInFromRight 0.4s forwards;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.71, 0.45);
}

@keyframes slideInFromRight {
  0% {
    opacity: 100%;
    left: 30%;
  }

  50% {
    opacity: 100%;
    left: 10.5%;
    width: 330px;
  }

  70% {
    opacity: 100%;
    left: 12.5%;
    width: 255px;
  }

  100% {
    left: 11.5%;
    opacity: 100%;
    width: 255px;
  }
}

.removeUnderline {
  text-decoration: none !important;
}
