@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.mainContent {
  position: relative;
  flex: 2;
  padding: 10px 15px 18px 15px;
  height: 133px;
  background: $mainHighLight;
  border-radius: 0 10px 10px 0;
  &:after {
    content: "";
    text-align: right;
    position: absolute;
    right: 2px;
    top: 60px;
    width: 35%;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }

  .chipSection {
    display: flex;
  }

  .liveChip {
    margin-right: 7px;
  }

  .title {
    @include cardTitle;
    text-align: left;
    height: 42px;
    margin: 5px 0 0 0;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $efuseBlue;
      text-decoration: underline;
    }
  }
}

.carousel-large {
  max-width: 208px;
}

.large {
  min-width: 208px;
}
