@use "../../styles/variables" as *;

.cookieContainer {
  background-color: $whiteColor !important;
  color: $darkColor !important;
  display: block !important;
  font-size: 15px;
  opacity: 90%;
}

.agreeButton {
  background-color: $orangeRed !important;
  color: $whiteColor !important;
  margin-top: 0px !important;
}
