@use "../../styles/themevariables" as *;
@use "../../styles/mediaQueries" as *;
@use "../../styles/mixins" as *;

.mainContainer {
  background-color: $backgroundColor;
  min-height: 100vh;
}

.profileBackgroundImage {
  @include imgLax;
}

.followBtn {
  @include followButton();
}

.externalViewButton {
  @include exterViewButtonWrapper();
}
