@use "../../../styles/themevariables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.listingContainer {
  background-color: $cardBackground;
  border-radius: 10px;
  @include generalCardStyles();
  .totalOpps {
    display: flex;
    padding: 0.8em 1em 0em 1em;
    color: $textStrong;
    font-weight: 600;
    font-size: 0.9em;
  }
  .hr {
    margin-bottom: 0px;
    margin-top: 0.8em;
    background-color: $cardBorder;
  }
}

.verticalList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include media767AndBelow() {
    display: none;
  }
}

.filters {
  @include media767AndBelow() {
    margin-top: 1.5em;
  }
}

.smallOppContainer {
  &:last-child {
    .hr {
      display: none;
    }
  }
  .hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
