@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;

.listItemWrapper {
  margin: 5px auto;
  width: 100%;
}

.listItem {
  padding: 15px 10px;
  position: relative;
  align-items: center;
  margin: 0px;
  border-radius: 10px;
  @include media767AndBelow {
    text-align: center;
  }
}

.greyBackground {
  background-color: $lightGrey;
}
