@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
  padding: 1em;
  margin-top: 5px;
  .skillsContainer {
    background-color: $tagColor;
    border-radius: 20px;
    padding: 5px;
    .skillTitle {
      font-size: 1em;
      font-weight: 600;
      color: $mainHighLight;
      padding: 0px;
      margin: 0px;
      display: inline-block;
    }
    .icon {
      color: $mainHighLight;
      display: inline-block;
      font-size: 0.9em;
      margin-left: 0.5em;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @include media991AndBelow() {
    grid-template-columns: 1fr 1fr;
    .skillsContainer {
      .skillTitle {
        font-size: 0.7em;
        font-weight: 600;
        padding-bottom: 5px;
      }
    }
  }
}
