@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    color: $textStrong;
    :hover {
      opacity: 0.8;
    }
  }
  .author {
    color: $primaryColor;
  }
  .description {
    @include clampText(3);
    color: $textWeak;
    @include media991AndBelow {
      @include clampText(2);
      margin-bottom: 0;
    }
  }
  .time {
    font-size: 0.9rem;
    color: $primaryColor;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.leftImage {
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
}

.showCursor {
  cursor: pointer;
}
