@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.titleWrapper {
  width: 100%;
  padding: 1em;
  position: relative;
  text-align: center;
  .opportunityTitle {
    font-size: 1.3em;
    font-weight: bold;
    color: $mainNavColor;
  }
  .opportunitySubtitle {
    color: $textLight;
    font-size: 0.8em;
    padding-top: 5px;
  }
}

.buttonWrapper {
  position: absolute;
  top: 10px;
  left: 10px;
}
