@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.content {
  min-height: 320px !important;
  margin-top: 28px;
}

.closeButton {
  top: 40px !important;
  right: 40px !important;
}

.tabsContainer {
  margin: 20px 0px;
  border: none;
  align-items: center;
}

.profileTab {
  color: $textLight;
  padding: 3px 15px;
  align-items: flex-start;
  font-size: 14px;
  &:hover {
    color: $textLight;
  }
  &[aria-selected="true"] {
    background: linear-gradient(0deg, $recruitPurple, $recruitPurple), $recruitBlue;
    border-radius: 15px;
    color: $whiteColor;
  }
}

.cardTitle {
  margin-top: 20px;
}

.avatarWrapper {
  display: flex;
  align-items: center;
  .avatar {
    object-fit: cover;
    width: 52px;
    height: 52px;
    @include boxShadow();
    border: solid 2px $whiteColor;
    border-radius: 28px;
    margin: 6px 1px 0 0;
    @include maxMediaQuery(768px) {
      height: 50px;
      width: 50px;
    }
  }
}
.userDetail {
  display: flex;
  flex-direction: column;
  margin: 6px 11px 11px 11px;
  .firstname {
    font-size: 18px;
    font-weight: 600;
    color: $mainNavColor;
  }
  .username {
    font-size: 16px;
    font-weight: 500;
    color: $grey;
  }
}
.game {
  @include boxShadow();
  transition: 200ms;
  border-radius: 8px;
  border: solid 1px $lightCardBorder;
  background-color: $whiteColor;
  padding: 11px;
  text-align: left;
  margin: 12px;
  border-radius: 5px;
}

.profileButton {
  font-weight: 600 !important;
  letter-spacing: 0px !important;
}
