@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;

.bracketWrapper {
  @include generalCardStyles();
  position: relative;
  overflow: auto;
  max-height: 820px;
  min-width: 100%;
}
.bracketContainer {
  position: relative;
  min-width: 100%;
  width: fit-content;
  height: auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;

  .headerColor {
    position: absolute;
    width: 100%;
    height: 50px;
  }
  .bracketBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    opacity: 0.1;
    margin-top: 50px;
  }
  .roundWrapper {
    z-index: 2;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    .roundTitle {
      @include resetPaddingMargin();
      text-transform: uppercase;
      color: $alwaysWhite;
      font-weight: bold;
      padding: 8px 0px 15px 0px;
      .date {
        font-weight: 400;
        color: $primaryColor;
        font-size: 0.8em;
        letter-spacing: 2px;
      }
    }
  }
  .round {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
}
