@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

.globalVideoWrapper {
  position: fixed;
  width: 20%;
  min-width: 300px;
  height: auto;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 6;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: $mainHighLight;
  .bottomRightVideo {
    z-index: 1;
    transition: 200ms;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
  }
  .hoverOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 55px;
    left: 0;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
  }
  .hoverOverlay:hover ~ .bottomRightVideo {
    transform: scale(1.05);
    border-radius: 10px;
    transition: 200ms;
  }
  .header {
    display: flex;
    align-items: center;
    background-color: $mainHighLight;
    padding: 8px 1em;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    .userImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .username {
      color: $darkColor;
      font-weight: bold;
      @include resetPaddingMargin();
      margin-left: 10px;
    }
    .closeIcon {
      color: $textDark;
      margin-left: auto;
      font-size: 1.2em;
      &:hover {
        cursor: pointer;
        color: $darkColor;
      }
    }
  }
  @include media767AndBelow() {
    display: none;
    // this is mobile styling, currently commented out as I am not displaying this on mobile yet - Austin
    // width: 100%;
    // bottom: 0;
    // right: 0;
    // min-width: inherit;
    // border-radius: 0px;
    // display: flex;
    // .bottomRightVideo {
    //   display: none;
    // justify-self: start;
    // border-radius: 0px;
    // order: 1;
    // width: 33%;
    // max-width: 160px;
    // min-width: 120px;
    //   }
    //   .header {
    //     order: 2;
    //     .userImage {
    //       display: none;
    //     }
    //     .username {
    //       margin-left: 5px;
    //     }
    //     .closeIcon {
    //       margin-left: auto;
    //     }
    //   }
  }
}
