@use "../../../../styles/themevariables" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mediaQueries" as *;

.bucket {
  @include removeButtonStyling();
  width: 100%;
  height: 180px;
  margin-right: 8px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 9px 7px -2px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  &:last-child {
    margin-right: 0px;
  }
  .bucketBackground {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  &:hover {
    cursor: pointer;
    .bucketImage,
    .bucketOverlay {
      transform: scale(1.05);
    }
  }
  .bucketOverlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .bucketImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 150ms;
  }
  .bucketText {
    z-index: 2;
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    width: auto;
    white-space: nowrap;
    text-align: center;
    padding: 0px;
    margin: 0px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
    border-radius: 5px;
    color: $alwaysWhite;
  }
  @include media767AndBelow() {
    height: 80px;
    .bucketText {
      margin-bottom: 10px;
      font-size: 0.5em;
    }
  }
}

.event {
  opacity: 0.7;
  background-color: $eventsColor;
}

.job {
  opacity: 0.7;
  background-color: $jobsColor;
}

.teamOpening {
  opacity: 0.6;
  background-color: $teamOpeningsColor;
}

.scholarship {
  opacity: 0.7;
  background-color: $scholarshipsColor;
}
