@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.transparentBtn {
  @include transparentBtn();
  &:focus {
    outline: none !important;
  }
  &:hover {
    color: $mainNavColor;
  }
  font-size: 12px;
  font-weight: bold;
  color: $grey;
}
.btnIcon {
  margin-left: 4px;
  width: 9px !important;
}
