@use "../../../styles/variables" as *;

.placeholder {
  color: $textLight;
}

.placeholderActive {
  color: $mainNavColor !important;
}

.dropdownControl {
  background-color: $mainHighLight;
  color: $mainNavColor;
  border-radius: 5px;
  font-weight: 500;
  border-color: $inputBorder;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
  }
}

.menuClass {
  border-radius: 5px;
  box-shadow: 0 8px 8px -5px rgba(0, 0, 0, 0.1);
  border-color: $inputBorder;
  max-height: 13em;
  * {
    color: $mainNavColor !important;
  }
}

.arrowClass {
  border-color: $mainNavColor transparent transparent;
}

.disabled {
  opacity: 0.55;
  border: 1px solid lightGrey;
}
.hide {
  display: none;
}
