@use "../../../styles/mediaQueries" as *;
@use "../../../styles/variables" as *;

.dark {
  -webkit-transition: background-color 500ms linear, color 500ms linear;
  -ms-transition: background-color 500ms linear, color 500ms linear;
  transition: background-color 500ms linear, color 500ms linear;
  background-color: $darkModeBackgroundColor;
  color: $darkModeTextColor;
  & .aboutAuthorContainer {
    border-color: $textDark;
  }

  & .infoBar {
    border-color: $textDark;
  }

  & .authorLinkBio {
    -webkit-transition: background-color 500ms linear, color 500ms linear;
    -ms-transition: background-color 500ms linear, color 500ms linear;
    transition: background-color 500ms linear, color 500ms linear;
    color: $darkModeTextColor;
  }

  & .arx-editor-container {
    -webkit-transition: background-color 500ms linear, color 500ms linear;
    -ms-transition: background-color 500ms linear, color 500ms linear;
    transition: background-color 500ms linear, color 500ms linear;
    background-color: $darkModeBackgroundColor;
    color: $darkModeTextColor;
  }
}
.light {
  -webkit-transition: background-color 500ms linear, color 500ms linear;
  -ms-transition: background-color 500ms linear, color 500ms linear;
  transition: background-color 500ms linear, color 500ms linear;
  background-color: $whiteColor;
  color: $greyColor;
}

.smallerMarginTop {
  margin-top: 65px !important;
}

.ownerRow {
  margin: 10px 0;
}

.aboutAuthorContainer {
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  margin: 30px 0;
  padding: 40px 0;
  display: flex;

  .authorPicture {
    margin: 0px 20px;
    @include media767AndBelow() {
      display: none;
    }
  }
}

.writtedBy {
  font-weight: 300;
  font-size: 0.9rem;
  color: $textLight;
}

.authorLinkBio {
  color: $textDark;
  font-size: 1.35rem;
  font-weight: 700;
}

.aboutBio {
  color: $textLight;
  font-weight: 500;
}

.moreDropdownIcon {
  margin-left: 20px;
}
