@use "../../../../styles/variables" as *;

.shareWithContainer {
  .title {
    font-size: 0.625rem;
    font-weight: 600;
    color: $mainNavColor;
  }
  .shareWithList {
    display: flex;
    align-items: center;
  }
  padding: 12px 0;
}
