@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.blueButton {
  @include blueButtonDesign();
  margin-top: 20px;
}
