@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.articleBox {
  display: flex;
  justify-content: space-between;
  .bottomLeftContent {
    .userInfo {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 90%;
      text-align: left;
      b {
        font-size: 18px;
      }
      .userDetail {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;
        .username {
          font-size: 14px;
          color: $locationColor;
        }
        .date {
          font-size: 12px;
          font-weight: bold;
          color: #5d5d63;
        }
        .avatar {
          width: 40px;
          height: 40px;
          border: solid 3px rgba(0, 0, 0, 0.08);
          border-radius: 27px;
          box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.08);
          border: solid 2px $blackContrast;
          margin-right: 12px;
        }
      }
    }
  }
  @include media767AndBelow() {
    flex-direction: column;
  }
}
.bottomLeft {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.bottomRight {
  flex: 0.5;
  .btnLayout {
    width: 180px;
    margin: auto;
  }
  @include media767AndBelow {
    .btnLayout {
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }
}
