@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;

.root {
  @include boxShadowSmall();
  height: 240px;
  border-radius: 12px;
  border: solid 1px $lightCardBorder;
  background-color: $whiteColor;
  padding: 20px 30px;
  position: relative;
  .tooltip {
    float: right;
    position: absolute;
    right: 10px;
    top: 5px;
    color: $mainNavColor;
  }

  .childrenWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .title {
      @include resetPaddingMargin();
      font-size: 10px;
      font-weight: bold;
      color: $mainNavColor;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.fullWidth {
  width: 100%;
}

.auto {
  width: auto;
}

.medium {
  width: 335px;
}

.small {
  width: 236px;
}
