@use "../../../styles/variables" as *;

.bodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px;
  .avatar {
    height: 100px;
    width: 100px;
  }
  .name {
    color: $textDark;
    text-align: center;
    font-size: 1.25rem;
    padding-bottom: 5px;
    max-width: 215px;
  }
  .userType {
    font-size: 0.9rem;
    font-weight: 500;
    color: $tagColor;
  }
  .bio {
    color: $textLight;
    font-size: 0.9rem;
    text-align: center;
    margin: auto;
    margin-top: 0.15rem;
    margin-bottom: 0.5rem;
  }
}
.header {
  display: flex;
  margin-top: 1rem;
}
.footer {
  color: $textDark;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    .numberTitle {
      font-size: 15px;
      margin-top: 2px;
    }
    .number {
      font-size: 15px;
      margin-top: -4px;
    }
  }
}

.number {
  font-size: 15px;
}

.verified {
  color: $orgVerifiedColor;
  font-size: 1rem;
  margin-left: 10px;
  display: inline;
}
