@use "../../../styles/variables" as *;

.mainContainer {
  margin: 0px;
  background: linear-gradient(0deg, $snow, $snow);
  padding: 20px 30px;
}

.createLeagueCard,
.leagueCardContainer {
  height: 100%;
}
