@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.singleCardContainer {
  padding: 0 10px;
  margin-bottom: 20px;
  width: 250px;
}

.insideCardContainer {
  padding: 15px;
  text-align: center;
}

.title {
  margin: 33px 13px 7px;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $mediumTextColor;
  text-transform: uppercase;
}

.description {
  margin: 7px 10px 60px;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $mediumTextColor;
  min-height: 100px;
  @include media767AndBelow {
    min-height: 20px;
    margin: 7px 10px 40px;
  }
}

.icon {
  font-size: 2.4rem;
  color: $efuseBlue;
  margin: 10px;
  @include media520AndBelow {
    font-size: 30px;
  }
}
