@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;

// $efuseBlue: #2E87FF;
// $efuseDark: #0F0F0F;
$bodyColor: rgb(29, 31, 39);
$subHeader: rgb(33, 99, 185);
.twitchContainer {
  height: 611px;
  width: 450px;
  border-radius: 10px;
  overflow: hidden;
}
.keemparkLogoLeaderboard {
  height: 50px;
  @include media767AndBelow() {
    height: 40px;
  }
}
.twitchKeemparkLogo {
  height: 40px;
}
.warzoneLeaderboardLogo {
  height: 50px;
  @include media767AndBelow() {
    display: none;
  }
}
.twitchWarzoneLogo {
  display: none;
}
.tournamentLeaderboardContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: $bodyColor;
  overflow: hidden;
  position: relative;
  .mainHeader,
  .subHeader,
  .footer {
    @include centerFlex();
  }
  .mainHeader {
    padding: 10px;
    .mainHeaderTitle {
      color: $mainHighLight;
      font-weight: 600;
      padding-left: 10px;
      font-size: 1.5em;
    }
    .twitchHeaderTitle {
      font-size: 1.2em;
    }
    @include media767AndBelow() {
      padding: 5px;
      .mainHeaderTitle {
        font-size: 1.2em;
      }
    }
  }
  .twitchHeader {
    padding: 5px;
  }
  .subHeader {
    padding: 0px;
    .subHeaderTitle {
      color: $mainHighLight;
      font-weight: 600;
      padding-left: 10px;
      font-size: 1em;
      @include media767AndBelow() {
        padding: 10px;
      }
    }
    .twitchSubHeaderTitle {
      padding: 8px;
    }
  }
  .bodyContainer {
    position: relative;
    height: 100%;
    background-color: $bodyColor;
    padding: 2em;
    color: $mainHighLight;
    @include media767AndBelow() {
      padding: 10px;
    }
    .backgroundGradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      opacity: 0.2;
    }
    .buttonWrapper,
    .leaderboardGrid {
      position: relative;
      z-index: 3;
    }
    .buttonWrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      .selectButtonsContainer {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 80%;
        height: auto;
        border-radius: 5px;
        border: 1px solid $mainHighLight;
        overflow: hidden;
        text-align: center;
        color: $darkColor;
        .button {
          height: 40px;
          line-height: 38px;
          font-weight: 600;
          width: 100%;
          margin: 0px;
          text-transform: uppercase;
          transition: 300ms;
          color: $mainHighLight;
          &:hover {
            cursor: pointer;
            color: $darkColor;
            background-color: $mainHighLight;
          }
        }
        @include media767AndBelow() {
          font-size: 0.9em;
          margin-top: 1em;
          .button {
            line-height: 29px;
            height: 30px;
          }
        }
        .buttonActiveState {
          color: $darkColor;
          background-color: $mainHighLight;
        }
      }
    }
    .leaderboardGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 2em;
      margin-top: 1em;
      @include media767AndBelow() {
        grid-template-columns: 1fr;
      }
    }
  }
  .titleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .titleContainer {
      margin-top: 1em;
      z-index: 9;
      &:hover {
        display: block;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
      .title {
        @include centerFlex();
        padding: 1em 1em 0em 1em;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: 600;
        font-size: 1.1em;
        text-align: center;
        transition: 300ms;
        @include media767AndBelow() {
          font-size: 0.9em;
          letter-spacing: 0px;
        }
      }
    }
    .divider {
      background-color: rgb(132, 132, 151);
      width: 80%;
      margin-bottom: 0px;
      @include media767AndBelow() {
        width: 90%;
      }
    }
  }
  .titleContainerActive {
    @include media767AndBelow() {
      background-color: rgba(0, 0, 0, 0.2) !important;
    }
  }
  .titleContainerActiveTwitch {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }
  .twitchBodyContainer {
    padding: 1em;
    .buttonWrapper {
      display: none;
    }
    .leaderboardGrid {
      grid-template-columns: 1fr;
      .teamList {
        height: 240px;
      }
    }
    .titleGrid {
      .titleContainer {
        margin-top: 0em;
        .title {
          font-size: 1em;
          letter-spacing: 0px;
        }
        .divider {
          margin-top: -8px;
          margin-bottom: 5px;
          width: 85%;
        }
      }
    }
  }
  .leaderboardButtonContainer {
    padding-left: 1em;
    padding-right: 1em;
    .leaderboardButton {
      @include centerFlex();
      border: 0;
      border-radius: 0.25rem;
      background: #2e87ff;
      color: white;
      font-size: 1rem;
      white-space: nowrap;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      font-weight: 500;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      width: 100%;
      transition: 150ms;
      cursor: pointer;
      &:hover {
        background-color: #1e68c9;
      }
    }
  }
  .footer {
    padding: 0em 1em 1.5em 1em;
    color: $mainHighLight;
    z-index: 3;
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      .efuseLogoLeaderboard {
        height: 40px;
      }
      .poweredBy {
        font-size: 1.1rem;
        text-align: center;
        color: $textLight;
      }
      .efuseNameLeaderboard {
        margin-left: -10px;
        margin-bottom: -4px;
        height: 25px;
      }
    }
  }
}
.subTitle {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: -5px;
  color: $mainLowLight;
  text-transform: uppercase;
  font-size: 0.8em;
}
.teamList {
  overflow-y: auto;
  width: 100%;
  height: 305px;
  padding-left: 5px;
  padding-right: 5px;
}
.teamList::-webkit-scrollbar {
  width: 12px;
}
.teamList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.teamList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(102, 105, 116);
  // background-color: $efuseBlue;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.mobileTeamsList {
  @include media767AndBelow() {
    display: none;
  }
}
.twitchTeamsList {
  display: none;
}
