@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.showMore {
  @include listCardDetailsSmall;
  background: none;
  border: none;
  color: $textLight;
  &:hover {
    color: $efuseBlue;
  }
  &:focus {
    outline: none;
  }
}
