@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;

.socialContainer {
  position: relative;
  display: grid;
  grid-template-columns: 65px minmax(0, 1fr);
  padding: 1em;
  .socialIcon {
    width: 50px;
  }
  .textContainer {
    word-wrap: break-word;
    .thumb {
      font-size: 1.3em;
      margin-left: 2px;
    }
    .thumb:hover {
      cursor: pointer;
    }
    .socialTitle {
      color: $textDark;
      font-size: 1em;
      font-weight: 650;
    }
    .socialName {
      min-height: 20px;
      color: $tagColor;
      font-weight: 600;
      margin-top: -5px;
      font-size: 0.9em;
    }
    .grade {
      color: $textLight;
      font-weight: 600;
      margin-top: -15px;
      font-size: 0.9em;
    }
    .socialTime {
      position: absolute;
      right: 10px;
      top: 32px;
      text-align: right;
      color: $textDark;
      margin-top: -20px;
      font-weight: 600;
      font-size: 0.9em;
      .schoolLevel {
        color: $textLight;
        margin-top: -15px;
        font-size: 0.9em;
      }
    }
    .socialDescription {
      margin-top: -10px;
      color: $textDark;
      font-weight: 550;
      font-size: 0.9em;
    }
    @include media1024AndBelow() {
      .socialTime {
        position: relative;
        text-align: left;
        margin-left: 10px;
        top: 5px;
      }
      .socialDescription {
        margin: 0px;
      }
    }
  }
}
.divider {
  border-top: 1px solid $mainBodyColor;
  width: 100%;
  grid-column: 1/3;
  margin-top: -10px;
  margin-bottom: 10px;
}
.container:last-child .divider {
  display: none;
}
