@use "../../styles/variables" as *;

.chip {
  border-radius: 100px;
  border: 1px solid $borderGrey;
  background-color: $whiteColor;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 21px;
  color: black;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  align-items: center;
}

.checked {
  background-color: $efuseBlue;
  color: $whiteColor;
}

.input {
  display: none;
}
