@use "../../../../../styles//variables" as *;

@mixin authBtnStyles() {
  border: none;
  border-radius: 0px;
  width: 100%;
  padding: 10px;
  img {
    margin-right: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: -1px 0px 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 50%;
  }
}

.notification {
  h5 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    color: $labelColor;
  }
  hr {
    margin: 0px -18px;
    border-color: $cardBorder;
  }
}

.twitch {
  @include authBtnStyles();
  background: $twitchBtn;
  &:disabled {
    background-color: $twitchBtn;
  }
}

.checkMark {
  color: $orgVerifiedColor;
}
