@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mediaQueries" as *;

.statContainer {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  transition: 250ms;
  .title {
    font-weight: 450;
    font-size: 0.9em;
    color: $textDark;
  }
  .value {
    font-size: 1.1em;
    color: $darkColor;
    margin-top: -7px;
  }
  .lightTitle {
    color: $mainLowLight;
  }
  .lightValue {
    color: $mainHighLight;
  }
  .largeTitle {
    font-size: 1.1em;
  }
  .largeValue {
    font-size: 1.3em;
  }
}

.progressBar {
  margin: auto;
  height: 4px;
  width: 70%;
  margin-top: -10px;
}
