@use "../../../../styles/mediaQueries" as *;

.actionList {
  padding-top: 12px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 10px;

  @include media767AndBelow {
    grid-template-columns: 1fr;
  }
}
