@use "../../styles/themevariables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/mediaQueries" as *;
.mainContent {
  margin-top: 20px;

  .discoverHeaderBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1030px;
    margin-bottom: -0.5em;
    padding-bottom: 25px;

    .discoverText {
      display: flex;

      .discoverTitle {
        font-size: 24px;
        font-weight: 600;
        color: $backgroundTextStrong;
        padding: 0px;
        margin: 0px;
      }

      .discoverIcon {
        width: 35px;
        height: 29px;
        font-size: 28px;
        font-weight: 300;
        color: $primaryColor;
        margin-right: 15px;
      }

      @include media991AndBelow() {
        .discoverTitle {
          font-size: 1.2em;
        }

        .discoverIcon {
          width: 30px;
          height: 22px;
          margin-right: 5px;
          font-size: 22px;
        }
      }
    }

    .dicoverItemBar {
      * {
        padding: 0px;
        margin: 0px;
      }

      display: flex;
      align-items: center;

      .discoverItem {
        display: flex;
        margin-left: 10px;
        color: $backgroundTextWeak;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8em;
        padding: 3px 10px;
        border-radius: 20px;
        transition: 150ms;

        &:hover {
          color: $backgroundTextStrong;
          cursor: pointer;
        }
      }

      .discoverItemMobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        border-radius: 50%;
        background-color: $alwaysBlack;
      }

      .discoverItemMobile {
        display: none;
      }

      @include media991AndBelow() {
        .discoverItem {
          display: none;
        }

        .discoverItemMobile {
          display: inherit;
        }
      }

      .active {
        background-color: $alwaysBlack;
        color: $alwaysWhite;

        &:hover {
          background-color: $alwaysBlack;
          color: $alwaysWhite;
        }
      }
    }

    .cardGrid {
      width: 100%;
      margin-top: 1em;
    }
  }
}

.marginTop {
  margin-top: 10px;
}
