@use "../../styles/variables" as *;

.matchCard {
  width: 210px;
  background-color: $whiteColor;
  border: 1px solid $borderGrey;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 200ms;

  .teamDetail {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: $textBlack;

    .teamImage {
      border: 1px solid $borderGrey;
      border-radius: 4px;
      object-fit: cover;
      width: 20px;
      height: 20px;
    }

    .teamText {
      font-weight: 500;
      font-size: 12px;
    }
  }

  .blueText {
    color: $brandeisBlue;
  }

  .borderBottom {
    border-bottom: 1px solid $borderGrey;
  }

  .iconContainer {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: $brandeisBlue;
    justify-content: center;
    align-items: center;
    border-radius: 0px 4px 4px 0px;
    display: none;

    .icon {
      color: $whiteColor;
      font-size: 12px;
    }
  }

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }
}

.showIcon {
  &:hover {
    .iconContainer {
      display: flex;
    }
  }
}
