@use "../../../styles/variables" as *;
@use "../../../styles/mediaQueries" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/themevariables" as *;

.mainHeader {
  color: $textStrong;
  font-size: 2rem;
  @include media767AndBelow() {
    font-size: 1.5rem;
  }
}

.formContainer {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  @include media767AndBelow() {
    margin: 20px auto;
  }
}

.buttonContainer {
  margin: 30px auto 10px auto;
  max-width: 280px;

  @include media767AndBelow() {
    max-width: 100%;
  }
}
