@use "../../../../styles/mediaQueries" as *;
@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.finalConfirmationWrapper {
  .sectionContainer {
    position: relative;
    padding: 1em;
    margin-bottom: 12px;
    word-break: break-word;
    @include generalCardStyles();
    .sectionTitle {
      @include resetPaddingMargin();
      font-size: 1.2em;
      font-weight: bold;
      color: $mainNavColor;
      padding: 0.8em 0.8em 18px 0.8em;
    }
    .editButtonWrapper {
      border: none;
      background: none;
      position: absolute;
      top: 1em;
      right: 1em;
    }
    .requiredFieldsText {
      color: $mainNavColor;
      font-size: 0.9em;
      border-bottom: 1px solid $lightCardBorder;
      padding-top: 6px;
      padding-bottom: 6px;
      margin: auto;
    }
  }
}

.candidateQuestionsContainer {
  margin-top: 1em;
  padding: 1em;
}
