.createNote {
  text-align: left;
  margin-top: 20px;
  display: flex;
}

.input {
  width: 100%;
  position: relative;
  padding-right: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.infoContainer {
  text-align: end;
}

.infoText {
  font-size: 11px;
  font-weight: bold;
}

.avatar {
  padding: 0 3px;
}
