@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.container {
  display: flex;
  width: 100%;
  align-items: center;

  .names {
    padding-left: 12px;
    @include resetChildrenPaddingMargin();

    .fullname {
      font-size: 16px;
      color: $mainNavColor;
      font-weight: bold;
    }
    .username {
      font-size: 10px;
      color: $efuseBlue;
      font-weight: bold;
      margin-top: -3px;
    }
  }
}

.names.small {
  padding-left: 5px;

  .fullname {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
}
