@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/mediaQueries" as *;

.backgroundImageContainer {
  display: flex;
  align-items: center;
  text-align: center;
  background-blend-mode: color, normal;
  background: linear-gradient(to bottom, rgba(46, 135, 255, 0.8), rgba(46, 135, 255, 0.8)),
    url("https://efuse.s3.amazonaws.com/uploads/static/landing-page/topBanner-resized.jpg") #231f20 no-repeat left
      bottom;
  background-size: cover;
}

.landingPageHeaderContainer {
  z-index: 2;
  margin: auto;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: left;
  min-height: 50vh;
  width: 100%;
  background: transparent;
  margin: 4rem auto;
}

.videoContainer {
  flex: 3;
  margin: 20px;
  h1 {
    color: $whiteColor;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin-bottom: 20px;
    @include media991AndBelow {
      font-size: 3rem;
      text-align: center;
    }
  }
  video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2);
  }
}

.signupFormContainer {
  padding: 2rem;
  flex: 2;
  background-color: $mainHighLight;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  @include media991AndBelow {
    min-width: 377px;
  }
}
