@use "../../../../../styles/variables" as *;
@use "../../../../../styles/mixins" as *;

.mediaWrapper {
  display: flex;
  justify-content: center;
  .item {
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .displayMedia {
      padding: 12px 10px 12px 0;
    }
    .displayGiphy {
      button {
        padding: 0.5rem !important;
        svg {
          font-size: 1.125rem !important;
        }
      }
    }
  }
  &.thread {
    svg {
      font-size: 0.8rem;
    }
  }
}
