@use "../../../../../../styles/variables" as *;

.poolName {
  font-weight: 600;
  font-size: 18px;
  color: $textBlack;
  margin: 20px auto;
}

.brackets {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
}
